<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue" th:text="${cdIdioma} == 'EN' ? 'Filters' : 'Filtros'">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroPropostaObj" method="get" th:action="@{/propostapesquisa}" th:object="${tabFiltroPropostaObj}" >
		<div class="row"> 



<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="txPropostaFiltro" class="blue"><strong th:text="${cdIdioma} == 'EN' ? 'Proposal' : 'Proposta/Solicitação'">Proposta</strong></label>
  <input type="text" class="form-control" id="txPropostaFiltro" name="txPropostaFiltro"  th:field="*{txPropostaFiltro}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="txTipoCampoFiltro"><strong th:text="${cdIdioma} == 'EN' ? 'Date' : 'Data'">Data</strong></label>
	 <select class="custom-select" id="txTipoCampoFiltro" th:field="*{txTipoCampoFiltro}">
    <option value="">...</option>
	<option value="dtProposta">Dt.Proposta</option>
	<option value="dtPrevCarregamento">Dt.Prev.Carregamento</option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
  <div class="form-group">
  <label for="dtPropostaInicialFiltro" class="blue"><strong th:text="${cdIdioma} == 'EN' ? 'Date Initial' : 'Dt.Inicial'">Dt.Proposta Inicial</strong></label>
  <input type="text" class="form-control jtpDate" id="dtPropostaInicialFiltro" name="dtPropostaInicialFiltro"  th:field="*{dtPropostaInicialFiltro}" />
  </div>
</div>
 
  <div class="col-sm-2">
  <div class="form-group">
  <label class="blue"><strong th:text="${cdIdioma} == 'EN' ? 'Date Final' : 'Dt.Final'">Dt.Proposta Final</strong></label>
  <input type="text" class="form-control jtpDate" id="dtPropostaFinalFiltro" name="dtPropostaFinalFiltro"  th:field="*{dtPropostaFinalFiltro}" />
  </div>
  </div>


<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="cdStatusFiltro"><a class="blue" href="javascript: logField('TabPropostaService','cdStatusFiltro');"><strong>Status</strong></a></label>
	 <select class="custom-select" id="cdStatusFiltro" th:field="*{cdStatusFiltro}">
    <option value="">...</option>
    <option th:each="scdstatus : ${selectcdstatus}" th:value="${scdstatus.cdStatus}" th:text="${scdstatus.txStatus}"></option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<!-- 
<div class="col-sm-6">
<div class="form-group">
  <label for="cdStatusFiltro" class="blue"><strong>Status</strong></label>
  <input type="text" class="form-control" id="cdStatusFiltro" name="cdStatusFiltro"  th:field="*{cdStatusFiltro}"/>
</div>
</div>
 -->
 

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong th:text="${cdIdioma} == 'EN' ? 'Search' : 'Pesquisar'">Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px" th:text="${cdIdioma} == 'EN' ? 'My Proposals' : 'Minhas Propostas'">Minhas Propostas</h4>  
</div>  
<a href="/proposta/novo" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong th:text="${cdIdioma} == 'EN' ? 'New' : 'Novo'">Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Código </th> 
                 <th class="bold disabled-sorting" th:text="${cdIdioma} == 'EN' ? 'Date' : 'Data'"> Data </th>                 
                 <th class="bold disabled-sorting" th:text="${cdIdioma} == 'EN' ? 'Destiny' : 'Destino'"> Destino </th>
                 <th class="bold disabled-sorting"> Freehand </th> 
                 <th class="bold disabled-sorting" th:text="${cdIdioma} == 'EN' ? 'Agent' : 'Cliente'"> Cliente </th> 
                 <th class="bold disabled-sorting" th:text="${cdIdioma} == 'EN' ? 'User' : 'Usuário'"> Usuário </th> 
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Status </th> 
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Dt.Validade </th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Importador </th> 
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> HBL/Reserva </th> 
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Lote </th>                
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> No.DTA </th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Canal </th>                                 
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Anvisa? </th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> IMO? </th>                                      
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Comprimento</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Altura</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> Largura</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'"> M3 PackingList</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Peso Extrato Desova</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Mercadoria</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Volume</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Qtde Volumes</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">No.DUE</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Notas Fiscais</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">No.Container</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Dt.Entrada</th>
                 <th class="bold disabled-sorting" th:if="${cdIdioma} != 'EN'">Dt.Desova</th>
                                   
 		</tr> 
  	</thead> 
  <tbody> 
				 <tr style="Cursor: pointer" th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/proposta/consultar}/${listdados.cdProposta}');|"> 
                 <td class="blue" th:text="${listdados.txProposta}"> txProposta </td> 
                 <td class="blue" th:text="${{listdados.dtProposta}}"> dtProposta </td> 
                 <td class="blue" th:text="${listdados.tabDestinoObj} != null ? ${listdados.tabDestinoObj.txDestino} : ''"> cdCliente </td>
                 <td class="blue" th:text="${listdados.tabFreehandObj} != null ? ${listdados.tabFreehandObj.txCliente} : ''"> cdCliente </td>
                 <td class="blue" th:text="${listdados.tabClienteObj.txCliente}"> cdCliente </td> 
                 <td class="blue" th:text="${listdados.tabUsuarioObj.txApelido}"> cdUsuario </td> 
                 <td class="blue" th:text="${listdados.tabStatusObj} != null ? ${listdados.tabStatusObj.txStatus} : ''" th:if="${cdIdioma} != 'EN'"> cdStatus </td> 
                 <td class="blue" th:text="${{listdados.dtValidade}}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txImportador}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txBl}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txLote}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>                  
                 <td class="blue" th:text="${listdados.txNumeroDta}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txDtaCanal}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>				 
                 <td class="blue" th:text="${listdados.ckAnvisa} == 1 ? 'SIM' : 'NÃO'" th:if="${cdIdioma} != 'EN'"> txProposta </td>
                 <td class="blue" th:text="${listdados.ckImoPerigoso} == 1 ? 'SIM' : 'NÃO'" th:if="${cdIdioma} != 'EN'"> txProposta </td> 
	             <td class="blue" th:text="${listdados.vlComprimento}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlAltura}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlLargura}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlM3Pack}}"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlPesoExtratoDesova}}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlMercadoriaInvoice}}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txVolume}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlQtdeVolume}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txDue}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txNfs}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txContainer}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.dtEntradaCd}}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.dtFimDesova}}" th:if="${cdIdioma} != 'EN'"> cdStatus </td>
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 

<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_",        
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#propostapesquisa').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script> 
</section>
</html>
