<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="page-inner">
		<div class="page-section">
			<section id="base-style" class="card">
				<div class="card-body">
					<form id="tabPropostaObj" name="tabPropostaObj" method="post"
						th:action="@{/proposta/gravar}" th:object="${tabPropostaObj}">
						<fieldset>
							<section>
								
								<a href="javascript: gravar('tabPropostaObj');" id="linkGravar"
									th:if="${cdGrupoVisao} == 3 and *{cdStatus} == null">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-save"></i>Gravar
									</button>
								</a> 

								<button type="button" class="btn-voltar float-right"
									th:onclick="|javascript: abrirtela('@{/propostapesquisa}');|">
									Voltar</button>

							</section>

							<div class="row" style="padding-top: 10px">

								<input type="hidden" id="cdProposta" name="cdProposta"
									th:field="*{cdProposta}" /> <input type="hidden"
									id="cdUsuario" name="cdUsuario" th:field="*{cdUsuario}" /> <input
									type="hidden" id="txHashProposta" name="txHashProposta"
									th:field="*{txHashProposta}" /> <input type="hidden"
									id="cdUsuarioAceite" name="cdUsuarioAceite"
									th:field="*{cdUsuarioAceite}" /> <input type="hidden"
									id="cdPerfilVeiculo" name="cdPerfilVeiculo"
									th:field="*{cdPerfilVeiculo}" /> <input type="hidden"
									id="ckUploadDoctos" name="ckUploadDoctos"
									th:field="*{ckUploadDoctos}" /> <input type="hidden"
									id="dtBaixaPagtoArmazenagem" name="dtBaixaPagtoArmazenagem"
									th:value="*{{dtBaixaPagtoArmazenagem}}" /> <input
									type="hidden" id="dtAverbacao" name="dtAverbacao"
									th:value="*{{dtAverbacao}}" /> <input type="hidden"
									id="txCheckUploadDoctos" name="txCheckUploadDoctos"
									th:value="*{txCheckUploadDoctos}" /> <input type="hidden"
									id="dtLiberacaoDocumentos" name="dtLiberacaoDocumentos"
									th:value="*{{dtLiberacaoDocumentos}}" /> <input type="hidden"
									id="txBoletoId" name="txBoletoId" th:value="*{txBoletoId}" />
								<input type="hidden" id="dtBoletoVencto" name="dtBoletoVencto"
									th:value="*{{dtBoletoVencto}}" /> <input type="hidden"
									id="dtBoletoPagto" name="dtBoletoPagto"
									th:value="*{{dtBoletoPagto}}" /> <input type="hidden"
									id="txBoletoLinhaDigitavel" name="txBoletoLinhaDigitavel"
									th:value="*{txBoletoLinhaDigitavel}" /> <input type="hidden"
									id="txBoletoUrl" name="txBoletoUrl" th:value="*{txBoletoUrl}" />
								<input type="hidden" id="txBoletoErros" name="txBoletoErros"
									th:value="*{txBoletoErros}" /> <input type="hidden"
									id="txIuguRetornos" name="txIuguRetornos"
									th:value="*{txIuguRetornos}" /> <input type="hidden"
									id="dtPagtoComissao" name="dtPagtoComissao"
									th:value="*{{dtPagtoComissao}}" /> <input type="hidden"
									id="ckRotaAmalog" name="ckRotaAmalog"
									th:value="*{ckRotaAmalog}" /> <input type="hidden"
									id="vlTaxaInformativo" name="vlTaxaInformativo"
									th:field="*{{vlTaxaInformativo}}" /> <input type="hidden"
									id="ckReconferencia" name="ckReconferencia"
									th:field="*{ckReconferencia}" />


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','txProposta');"><strong>No.Proposta/Solicitação</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="txProposta" name="txProposta" readonly="readonly"
											th:field="*{txProposta}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="dtProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','dtProposta');"><strong>Dt.Proposta/Solicitação</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="dtProposta" name="dtProposta" readonly="readonly"
											th:field="*{dtProposta}" />
									</div>
								</div>


								<!-- SELECT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="cdCliente"><a class="blue"
											href="javascript: logField('TabPropostaService','cdCliente');"><strong>Cliente</strong></a></label>
										<select class="custom-select" id="cdCliente"
											th:field="*{cdCliente}">
											<option value="">...</option>
											<option th:each="scdstatus : ${selectcdcliente}"
												th:value="${scdstatus.cdCliente}"
												th:text="${scdstatus.txCliente}"></option>
										</select>
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="cdTipoCarregamento"><a class="blue"
											href="javascript: logField('TabPropostaService','cdTipoCarregamento');"><strong>Tipo
													Carregamento</strong></a></label> <select class="custom-select"
											id="cdTipoCarregamento" th:field="*{cdTipoCarregamento}">
											<option value="">...</option>
											<option
												th:each="scdtipocarregamento : ${selectcdtipocarregamento}"
												th:value="${scdtipocarregamento.cdTipoCarregamento}"
												th:text="${scdtipocarregamento.txTipoCarregamento}"></option>
										</select>
									</div>
								</div>


								<!-- SELECT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="cdImportadorDiretoColoader"><a
											class="blue"
											href="javascript: logField('TabPropostaService','cdImportadorDiretoColoader');"><strong>Importador/Exportador
													Direto ou Coloader ?</strong></a></label> <select class="custom-select"
											id="cdImportadorDiretoColoader"
											th:field="*{cdImportadorDiretoColoader}">
											<option value="">...</option>
											<option value="1">Importador/Exportador Direto</option>
											<option value="2">Coloader</option>
										</select>
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-6" id="divCdColoaderDespachante">
									<div class="form-group">
										<label for="cdColoaderDespachante"><a class="blue"
											href="javascript: logField('TabPropostaService','cdColoaderDespachante');"><strong>Coloader</strong></a></label>
										<select class="custom-select" id="cdColoaderDespachante"
											th:field="*{cdColoaderDespachante}">
											<option value="">...</option>
											<option
												th:each="scdcoloaderdespachante : ${selectcdcoloaderdespachante}"
												th:value="${scdcoloaderdespachante.cdCliente}"
												th:text="${scdcoloaderdespachante.txCliente}"></option>

										</select>
									</div>
								</div>

							</div>

							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloDadosCalculo">Dados para Calculo da DTA / DAT
								em (R$)</h5>

							<div class="card" id="divDadosCalculo">
								<div class="card-body">
									<div class="row">

										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="cdOrigem"><a class="blue"
													href="javascript: logField('TabPropostaService','cdOrigem');"><strong>Origem</strong></a></label>
												<select class="custom-select" id="cdOrigem"
													th:field="*{cdOrigem}">
													<option value="">...</option>
													<option th:each="scdorigem : ${selectcdorigem}"
														th:value="${scdorigem.tabOrigemObj.cdOrigem}"
														th:text="${scdorigem.tabOrigemObj.txOrigem}"></option>
												</select>
											</div>
										</div>


										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="cdDestino"><a class="blue"
													href="javascript: logField('TabPropostaService','cdDestino');"><strong>Destino</strong></a></label>
												<select class="custom-select" id="cdDestino"
													th:field="*{cdDestino}">
													<option value="">...</option>
													<option th:each="scddestino : ${selectcddestino}"
														th:value="${scddestino.tabDestinoObj.cdDestino}"
														th:text="${scddestino.tabDestinoObj.txDestino}"></option>
												</select>
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlValor">
											<div class="form-group">
												<label for="vlValor"><a class="blue"
													href="javascript: logField('TabPropostaService','vlValor');"><strong>Valor
															Destino</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlValor" name="vlValor" th:field="*{vlValor}"
													readonly="readonly" />
											</div>
										</div>


										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdPerfilVeiculo"><a class="blue"
													href="javascript: logField('TabPropostaService','cdPerfilVeiculo');"><strong>Perfil
															Veículo</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txPerfilVeiculo" name="txPerfilVeiculo"
													th:field="*{txPerfilVeiculo}" readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPeso"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPeso');"><strong>Peso
															Mercadoria(KG)</strong></a></label> <input type="text"
													class="form-control textFloat3" id="vlPeso" name="vlPeso"
													th:field="*{vlPeso}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlM3"><a class="blue"
													href="javascript: logField('TabPropostaService','vlM3');"><strong>M3/Cubagem</strong></a></label>
												<input type="text" class="form-control textFloat3" id="vlM3"
													name="vlM3" th:field="*{vlM3}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlBase"><a class="blue"
													href="javascript: logField('TabPropostaService','vlBase');"><strong>Valor
															Base</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlBase" name="vlBase" th:field="*{vlBase}"
													readonly="readonly" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlCarga"><a class="blue"
													href="javascript: logField('TabPropostaService','vlCarga');"><strong>Valor
															Mercadoria(R$)</strong></a></label> <input type="text"
													class="form-control textFloat" id="vlCarga" name="vlCarga"
													th:field="*{vlCarga}" />
											</div>
										</div>
										
										<div class="col-sm-2" th:if="*{ckRotaAmalog} != 1">
											<div class="form-group">
												<label for="txContainer"><a class="blue"
													href="javascript: logField('TabPropostaService','txContainer');"><strong>No. Container</strong></a></label>
												<input type="text" class="form-control" id="txContainer"
													name="txContainer" th:field="*{txContainer}" />
											</div>
										</div>
									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloParticularidadesCarga">Particularidades da
								Carga</h5>

							<div class="card" id="divParticularidadesCarga">
								<div class="card-body">
									<div class="row">

										

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckFreteExclusivo"><a class="blue"
													href="javascript: logField('TabPropostaService','ckFreteExclusivo');"><strong>Frete
															Dedicado ?</strong></a></label> <select class="custom-select"
													id="ckFreteExclusivo" th:field="*{ckFreteExclusivo}">
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckAnvisa"><a class="blue"
													href="javascript: logField('TabPropostaService','ckAnvisa');"><strong>Anvisa
															? </strong></a></label> <select class="custom-select" id="ckAnvisa"
													th:field="*{ckAnvisa}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>


										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckImoPerigoso"><a class="blue"
													href="javascript: logField('TabPropostaService','ckImoPerigoso');"><strong>IMO-Carga
															Perigosa ?</strong></a></label> <select class="custom-select"
													id="ckImoPerigoso" th:field="*{ckImoPerigoso}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckNaoRemonte"><a class="blue"
													href="javascript: logField('TabPropostaService','ckNaoRemonte');"><strong>Empilhavel
															?</strong></a></label> <select class="custom-select" id="ckNaoRemonte"
													th:field="*{ckNaoRemonte}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div th:class="col-sm-6">
											<div class="form-group">
												<label for="txMercadoria"><a class="blue"
													href="javascript: logField('TabPropostaService','txMercadoria');"><strong>Descrição
															da Mercadoria</strong></a></label> <input type="text" class="form-control"
													id="txMercadoria" name="txMercadoria"
													th:field="*{txMercadoria}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txEmailTaxaInformativo"><a class="blue"
													href="javascript: logField('TabPropostaService','txEmailTaxaInformativo');"><strong
														th:text="(*{cdTipoCarregamento} == 2 or *{cdTipoCarregamento} == 4) ? 'Email
																		para envio Taxa de movimentação de Exportação' : 'Email
																		Recebimento Informativo Taxa Fixa'">Email
															Recebimento Informativo </strong></a></label> <input type="text"
													class="form-control" id="txEmailTaxaInformativo"
													name="txEmailTaxaInformativo"
													th:field="*{txEmailTaxaInformativo}" />
											</div>
										</div>

									</div>
								</div>
							</div>



							<h5 style="padding-top: 1px" class="blue bold"
								id="txTituloValoresFrete">Valores Apurados(R$)</h5>
							<div class="card" id="txValoresFrete">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFretePrevisto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePrevisto');"><strong>Valor
															Frete Previsto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePrevisto"
													name="vlFretePrevisto" th:field="*{vlFretePrevisto}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFrete"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFrete');"><strong>Valor
															Frete Efetivo</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFrete" name="vlFrete"
													th:field="*{vlFrete}" readonly="readonly" />
											</div>
										</div>

									</div>
								</div>
							</div>

							<h5 style="padding-top: 1px" class="blue bold"
								id="txTituloDespesasComplementares">Despesas Complementares
								em (R$)</h5>

							<div class="card" id="txDespesasComplementares">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2"
											th:if="*{vlFretePesoSdesconto} != null and *{vlFretePesoSdesconto} > 0">
											<div class="form-group">
												<label for="vlFretePesoSdesconto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePesoSdesconto');"><strong>Valor
															Frete Peso S/Desconto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePesoSdesconto"
													name="vlFretePesoSdesconto"
													th:field="*{vlFretePesoSdesconto}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2"
											th:if="*{vlFretePesoSdesconto} != null and *{vlFretePesoSdesconto} > 0">
											<div class="form-group">
												<label for="vlDesconto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDesconto');"><strong>Valor
															Desconto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlDesconto"
													name="vlDesconto" th:field="*{vlDesconto}"
													readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFretePeso"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePeso');"><strong>Valor
															Frete Peso</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePeso"
													name="vlFretePeso" th:field="*{vlFretePeso}"
													readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlDespacho"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDespacho');"><strong>Despacho</strong></a></label>
												<input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext textFloat' : 'form-control textFloat'"
													id="vlDespacho" name="vlDespacho" th:field="*{vlDespacho}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPedagio"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPedagio');"><strong>Pedágio</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlPedagio" name="vlPedagio" th:field="*{vlPedagio}"
													readonly="readonly" th:if="*{vlPedagio} != 0" /> <input
													type="text" class="form-control-plaintext" value="incluso"
													readonly="readonly" th:if="*{vlPedagio} == 0" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlGris"><a class="blue"
													href="javascript: logField('TabPropostaService','vlGris');"><strong>GRIS</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlGris" name="vlGris" th:field="*{vlGris}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlImoCarga"><a class="blue"
													href="javascript: logField('TabPropostaService','vlImoCarga');"><strong>IMO-Carga
															Perigosa</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlImoCarga"
													name="vlImoCarga" th:field="*{vlImoCarga}"
													readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFreteValor"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFreteValor');"><strong>Empilhavel</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlFreteValor" name="vlFreteValor"
													th:field="*{vlFreteValor}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlCat"><a class="blue"
													href="javascript: logField('TabPropostaService','vlCat');"><strong>CAT</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAdeme"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAdeme');"><strong>Ademe</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlTaxaColeta"><a class="blue"
													href="javascript: logField('TabPropostaService','vlTaxaColeta');"><strong>Taxa
															Coleta</strong></a></label> <input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEstadia"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEstadia');"><strong>Estadia</strong></a></label>
												<input type="text" class="form-control textFloat" id="vlEstadia" name="vlEstadia"
													th:field="*{vlEstadia}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEmissaoDta"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEmissaoDta');"><strong>Emissão
															DTA</strong></a></label> <input type="text" name="vlEmissaoDta"
													id="vlEmissaoDta" class="form-control textFloat"
													th:field="*{vlEmissaoDta}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlMonitoramento"><a class="blue"
													href="javascript: logField('TabPropostaService','vlMonitoramento');"><strong>Monitoramento</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAdvalorem"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAdvalorem');"><strong>Advalorem</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlAdvalorem" name="vlAdvalorem"
													th:field="*{vlAdvalorem}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEscolta"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEscolta');"><strong>Escolta</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="caso ocorra" readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlSubtotal"><a class="blue"
													href="javascript: logField('TabPropostaService','vlSubtotal');"><strong>Subtotal</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlSubtotal" name="vlSubtotal" th:field="*{vlSubtotal}"
													readonly="readonly" />
											</div>
										</div>
									</div>
								</div>
							</div>

							<h5 id="txTituloIcms" style="padding-top: 1px" class="blue bold">ICMS
								em (R$)</h5>


							<div id="txDadosIcms" class="card">
								<div class="card-body">
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlBaseIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlBaseIcms');"><strong>Valor
															Base ICMS</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlBaseIcms"
													name="vlBaseIcms" th:field="*{vlBaseIcms}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAliqIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAliqIcms');"><strong>Valor
															Aliq ICMS</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlAliqIcms"
													name="vlAliqIcms" th:field="*{vlAliqIcms}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlIcms');"><strong>Valor
															ICMS</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlIcms" name="vlIcms" th:field="*{vlIcms}"
													readonly="readonly" />
											</div>
										</div>


									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloAceiteProposta">Validade, Aceite da
								Proposta/Solicitação e Status</h5>

							<div class="card" id="divAceiteProposta">
								<div class="card-body">
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtValidade"><a class="blue"
													href="javascript: logField('TabPropostaService','dtValidade');"><strong>Dt.Validade</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="dtValidade" name="dtValidade" th:field="*{dtValidade}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4" th:if="*{txUsuarioAceite} != null">
											<div class="form-group">
												<label for="txUsuarioAceite"><a class="blue"
													href="javascript: logField('TabPropostaService','cdUsuarioAceite');"><strong>Usuário
															Aceite</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txUsuarioAceite" name="txUsuarioAceite"
													th:field="*{txUsuarioAceite}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" th:if="*{txUsuarioAceite} != null">
											<div class="form-group">
												<label for="dtAceite"><a class="blue"
													href="javascript: logField('TabPropostaService','dtAceite');"><strong>Dt.Aceite</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="dtAceite" name="dtAceite" th:field="*{dtAceite}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txUsuario"><a class="blue"
													href="javascript: logField('TabPropostaService','cdUsuario');"><strong>Usuário</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txUsuario" name="txUsuario" readonly="readonly"
													th:field="*{txUsuario}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4" th:if="${cdGrupoVisao} > 2">
											<div class="form-group">
												<label for="txStatus"><a class="blue"
													href="javascript: logField('TabPropostaService','txStatus');"><strong>Status</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txStatus" name="txStatus" readonly="readonly"
													th:field="*{txStatus}" />
											</div>
										</div>

										<input type="hidden" class="form-control-plaintext"
											id="cdStatus" name="cdStatus" th:field="*{cdStatus}"
											th:if="${cdGrupoVisao} > 2" />

										<!-- SELECT -->
										<div class="col-sm-4"
											th:if="${cdGrupoVisao} == 1 or ${cdGrupoVisao} == 2">
											<div class="form-group">
												<label for="cdStatus"><a class="blue"
													href="javascript: logField('TabPropostaService','cdStatus');"><strong>Status</strong></a></label>
												<select class="custom-select" id="cdStatus"
													th:field="*{cdStatus}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selectcdstatus}"
														th:value="${scdstatus.cdStatus}"
														th:text="${scdstatus.txStatus}"></option>
												</select>
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>
				</div>
			</section>
		</div>
	</div>
	
	<!-- Script JS -->
<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 
 	$(document).ready(function() {	

	 addSubmitFields("tabPropostaObj");
	 
	 var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
 

//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 

	var pathUrl = /*[[@{/}]]*/; 
	
	 var txEdit = /*[[${txEdit}]]*/; 
	 if (txEdit != null) { 
		 $('#'+txEdit).modal('show'); 
	 } 
	 
	 	 
	$("#txCnpj").mask("99.999.999/9999-99");
	$("#txCnpjImportador").mask("99.999.999/9999-99");
	$("#txContainer").mask("AAAA000000-0");
	
	/*
	var cdTipoCarregamento = $("#cdTipoCarregamento").val();	 
	$( "#btDocumentosInserir" ).click(function() {
		
		if (cdTipoCarregamento == 1 || cdTipoCarregamento == 3) {		
			var txBl = $("#txBl").val();
			if (txBl == "") {
				toastr["error"]("Numero de BL obrigatório!");	
			}else {
				$('#propostadocumentos').modal('show');
			}
		}else {		
			$('#propostadocumentos').modal('show');
		}
		
	});*/
	
	
	 
	$( "#btDocumentosInserir" ).click(function() {
		
	    $('#propostadocumentos').modal('show');
		
	});
	
	$( "#btDadosAceite" ).click(function() {
		
		$('#propostaaceite').modal('show'); 
		
	});
	
	$( "#btModalRegras" ).click(function() {
		
		$('#modalregras').modal('show'); 
		
	});
	
	$( "#btModalAvarias" ).click(function() {
		
		$('#propostaavarias').modal('show'); 
		
	});
	
	var cdGrupoVisao = /*[[${cdGrupoVisao}]]*/
	var ckRotaAmalog = /*[[${tabPropostaObj.ckRotaAmalog}]]*/
	var cdProposta = /*[[${tabPropostaObj.cdProposta}]]*/
	
	if (cdProposta == null) {
		$('#divTituloDadosCalculo').hide();
		$('#divDadosCalculo').hide();
	    $('#txTituloValoresFrete').hide();
		$('#txValoresFrete').hide();
		$('#txDespesasComplementares').hide();
		$('#txTituloDespesasComplementares').hide();
		$('#txDadosIcms').hide();
		$('#txTituloIcms').hide();						
		$('#divVlValor').hide();
		$('#divAceiteProposta').hide();
		$('#divTituloAceiteProposta').hide();
		$('#divDadosSituacaoCargaExp').hide();
		$('#divDadosSituacaoCargaImp').hide();
		$('#divTituloParticularidadesCarga').hide();
		$('#divParticularidadesCarga').hide();
		$('#divTituloImportadorExportador').hide();
		$('#divImportadorExportador').hide();
	}else {	
		if (ckRotaAmalog == null) {
			$('#divTituloDadosCalculo').show();
			$('#divDadosCalculo').show();
		    $('#txTituloValoresFrete').show();
			$('#txValoresFrete').show();
			$('#txDespesasComplementares').show();
			$('#txTituloDespesasComplementares').show();
			$('#txDadosIcms').show();
			$('#txTituloIcms').show();	
			$('#divDadosSituacaoCargaImp').show();
			$('#divTituloParticularidadesCarga').show();
			$('#divParticularidadesCarga').show();
			$('#divTituloImportadorExportador').show();
			$('#divImportadorExportador').show();
		}else {				
			if (ckRotaAmalog == 2) {
				if (cdGrupoVisao < 3 || cdGrupoVisao == 5) {
					$('#divTituloDadosCalculo').show();
					$('#divDadosCalculo').show();
				    $('#txTituloValoresFrete').show();
					$('#txValoresFrete').show();
					$('#txDespesasComplementares').show();
					$('#txTituloDespesasComplementares').show();
					$('#txDadosIcms').show();
					$('#txTituloIcms').show();
					$('#divTituloParticularidadesCarga').show();
					$('#divParticularidadesCarga').show();
				}else {			
				    $('#txTituloValoresFrete').hide();
					$('#txValoresFrete').hide();
					$('#txDespesasComplementares').hide();
					$('#txTituloDespesasComplementares').hide();
					$('#txDadosIcms').hide();
					$('#txTituloIcms').hide();						
					$('#linkAceitePropostaImpressao').hide();
					$('#divVlValor').hide();
					$('#linkImprimir').hide();					
				}
			}
		 }
	}
	
	var cdTipoCarregamento = $("#cdTipoCarregamento").val();
	if (cdTipoCarregamento == 1 || cdTipoCarregamento == 3) {
		$('#divDadosSituacaoCargaExp').hide();
		$('#divDadosSituacaoCargaImp').show();		
	}else {
		$('#divDadosSituacaoCargaImp').hide();
		$('#divDadosSituacaoCargaExp').show();
		$('#divTituloAverbacao').hide();
		$('#divAverbacao').hide();
	}
	
	
	$('#cdImportadorDiretoColoader').bind("change", function(){
		 // console.log("ENTROU");
	    var ckDesova  = $("#cdImportadorDiretoColoader").val();
		if (ckDesova == 2) {
			$('#divCdColoaderDespachante').show();
		}else {			
			$('#divCdColoaderDespachante').hide();
		}					
	  });
	$('#cdImportadorDiretoColoader').trigger('change');
	
	
	 
 });
 /*]]>*/ 
</script>

	<script>
/*
function alerta(){
  alert('A página não pode ser salva.');
  return false;
}
function verificaBotao(oEvent){
  var oEvent = oEvent ? oEvent : window.event;
  var tecla = (oEvent.keyCode) ? oEvent.keyCode : oEvent.which;
  if(tecla == 17 || tecla == 44|| tecla == 106){
    alerta();
  }
}*/
</script>


	<script>
*/
document.onkeypress = verificaBotao;
document.onkeydown = verificaBotao;
document.oncontextmenu = alerta;
*/
</script>




</section>

</html>
