<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
		<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabFiltroPropostaObj" method="get"
									th:action="@{/propostafinanceiro}"
									th:object="${tabFiltroPropostaObj}">
									<div class="row">


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txPropostaFiltro" class="blue"><strong>Proposta</strong></label>
												<input type="text" class="form-control"
													id="txPropostaFiltro" name="txPropostaFiltro"
													th:field="*{txPropostaFiltro}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtPropostaInicialFiltro" class="blue"><strong>Dt.Proposta
														Inicial</strong></label> <input type="text" class="form-control jtpDate"
													id="dtPropostaInicialFiltro" name="dtPropostaInicialFiltro"
													th:field="*{dtPropostaInicialFiltro}" />
											</div>
										</div>

										<div class="col-sm-2">
											<div class="form-group">
												<label class="blue"><strong>Dt.Proposta
														Final</strong></label> <input type="text" class="form-control jtpDate"
													id="dtPropostaFinalFiltro" name="dtPropostaFinalFiltro"
													th:field="*{dtPropostaFinalFiltro}" />
											</div>
										</div>


										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="cdStatusFiltro"><strong>Status</strong></label>
												<select class="custom-select" id="cdStatusFiltro"
													th:field="*{cdStatusFiltro}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selectcdstatus}"
														th:value="${scdstatus.cdStatus}"
														th:text="${scdstatus.txStatus}"></option>
												</select>
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txStatusCondicaoFiltro"><strong>Status
														Financeiro</strong></label> <select class="custom-select"
													id="txStatusCondicaoFiltro"
													th:field="*{txStatusCondicaoFiltro}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selecttxstatuscondicao}"
														th:value="${scdstatus.txFinancCampo}"
														th:text="${scdstatus.txFinancStatus}"></option>
												</select>
											</div>
										</div>


										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>
			</div>
		</div>
		<div class="row">

			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Acompanhamento
								Financeiro</h4>
						</div>

					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Dt.Proposta</th>									
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Pagador</th>
									<th class="bold disabled-sorting">Valor Comissão</th>
									<th class="bold disabled-sorting">Valor Frete Previsto</th>
									<th class="bold disabled-sorting">Valor Frete</th>
									<th class="bold disabled-sorting">Dt.Pagto Comissão</th>
									<th class="bold disabled-sorting">Dt.Vencto</th>
									<th class="bold disabled-sorting">Dt.Pagto Boleto</th>
									<th class="bold disabled-sorting">Baixar Pagto Comissão?</th>
									<th class="bold disabled-sorting">HBL</th>
									<th class="bold disabled-sorting">Lote</th>
									<th class="bold disabled-sorting">Email Pagador</th>
									<th class="disabled-sorting text-right bold"></th>
								</tr>
							</thead>
							<tbody>
								<tr  th:each="listdados : ${listadados}" >
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${{listdados.dtProposta}}">
										dtProposta</td>									
									<td class="blue" th:text="${listdados.txCliente}">
										cdCliente</td>
									<td class="blue" th:text="${listdados.txNomePagador}">
										cdStatus</td>
									<td class="blue" th:text="${{listdados.vlEmissaoDta}}">
										cdStatus</td>
									<td class="blue" th:text="${{listdados.vlFretePrevisto}}">
										cdStatus</td>	
									<td class="blue" th:text="${{listdados.vlFrete}}">
										cdStatus</td>
									<td class="blue" th:text="${{listdados.dtPagtoComissao}}">
										cdStatus</td>	
									<td class="blue" th:text="${{listdados.dtBoletoVencto}}">
										cdStatus</td>
									<td class="blue" th:text="${{listdados.dtBoletoPagto}}">
										cdStatus</td>										
									<td><input type="checkbox"
										th:name="${listdados.cdProposta}"
										th:id="${listdados.cdProposta}"
										class="checkboxbaixapagtocomissao"
										th:checked="${listdados.dtPagtoComissao} != null ? 'checked'" /></td>
									<td class="blue" th:text="${listdados.txBl}">
										cdStatus</td>
									<td class="blue" th:text="${listdados.txLote}">
										cdStatus</td>
									<td class="blue" th:text="${listdados.txEmailPagador}">
										cdStatus</td>	
												
									<td class="text-right"><a
										th:href="|javascript: openWindowSimple('/propostafinanceiro/consultar/${listdados.cdProposta}');|"
										class="btn btn-round btn-info btn-icon btn-sm info"><i
											class="now-ui-icons ui-2_settings-90"></i></a><a
										th:href="|javascript: alert('${listdados.txBoletoErros}');|"
										class="btn btn-round btn-danger btn-icon btn-sm remove" th:if="${listdados.txBoletoErros} != null and ${listdados.txBoletoErros} != '' and ${listdados.txBoletoErros} != '.'"><i
											class="fas fa-times"></i></a></td>
																				
								</tr>
							</tbody>							
						</table>
					</div>
				</div>
			</div>
		</div>

		<form id="tabPropostaObj" name="tabPropostaObj" method="post"
			th:action="@{/propostafinanceiro/gravar}" th:object="${tabPropostaObj}">
			<div class="modal fade" id="propostaaceite" tabindex="-1"
				role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				<div class="vertical-alignment-helper">
					<div class="modal-dialog vertical-align-center">
						<div class="modal-content">
							<div class="modal-header">
								<h4 class="modal-title" id="myModalLabel">Proposta - Dados para Cobrança</h4>
								<button type="button" class="close" data-dismiss="modal">
									<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
								</button>
							</div>
							<div class="modal-body">

								<h5 style="padding-top: 1px" class="blue bold">Importador</h5>

								<div class="row">

								  <input type="hidden" id="cdProposta"
												name="cdProposta" th:field="*{cdProposta}" />

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txImportador"><a class="blue"
												href="javascript: logField('TabPropostaService','txImportador');"><strong>Importador</strong></a></label>
											<input type="text" class="form-control" id="txImportador"
												name="txImportador" th:field="*{txImportador}" />
										</div>
									</div>
								</div>

								<h5 style="padding-top: 1px" class="blue bold">Dados para
									Cobrança</h5>

								<div class="row">

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txNomePagador"><a class="blue"
												href="javascript: logField('TabPropostaService','txNomePagador');"><strong>Nome
														Pagador do Frete</strong></a></label> <input type="text" class="form-control"
												id="txNomePagador" name="txNomePagador"
												th:field="*{txNomePagador}" />
										</div>
									</div>



									<!-- INPUT TEXT -->
									<div class="col-sm-5">
										<div class="form-group">
											<label for="txEndereco"><a class="blue"
												href="javascript: logField('TabPropostaService','txEndereco');"><strong>Endereço</strong></a></label>
											<input type="text" class="form-control" id="txEndereco"
												name="txEndereco" th:field="*{txEndereco}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-1">
										<div class="form-group">
											<label for="txNumero"><a class="blue"
												href="javascript: logField('TabPropostaService','txNumero');"><strong>No.</strong></a></label>
											<input type="number" class="form-control" id="txNumero"
												name="txNumero" th:field="*{txNumero}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txBairro"><a class="blue"
												href="javascript: logField('TabPropostaService','txBairro');"><strong>Bairro</strong></a></label>
											<input type="text" class="form-control" id="txBairro"
												name="txBairro" th:field="*{txBairro}" />
										</div>
									</div>


									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txCidade"><a class="blue"
												href="javascript: logField('TabPropostaService','txCidade');"><strong>Cidade</strong></a></label>
											<input type="text" class="form-control" id="txCidade"
												name="txCidade" th:field="*{txCidade}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txEstado"><a class="blue"
												href="javascript: logField('TabPropostaService','txUf');"><strong>UF</strong></a></label>
											<select class="form-control" name="txUf" id="txUf"
												th:field="*{txUf}">
												<option value="">...</option>
												<option value="AC">Acre</option>
												<option value="AL">Alagoas</option>
												<option value="AP">Amapá</option>
												<option value="AM">Amazonas</option>
												<option value="BA">Bahia</option>
												<option value="CE">Ceará</option>
												<option value="DF">Distrito Federal</option>
												<option value="ES">Espírito Santo</option>
												<option value="GO">Goiás</option>
												<option value="MA">Maranhão</option>
												<option value="MT">Mato Grosso</option>
												<option value="MS">Mato Grosso do Sul</option>
												<option value="MG">Minas Gerais</option>
												<option value="PA">Pará</option>
												<option value="PB">Paraíba</option>
												<option value="PR">Paraná</option>
												<option value="PE">Pernambuco</option>
												<option value="PI">Piauí</option>
												<option value="RJ">Rio de Janeiro</option>
												<option value="RN">Rio Grande do Norte</option>
												<option value="RS">Rio Grande do Sul</option>
												<option value="RO">Rondônia</option>
												<option value="RR">Roraima</option>
												<option value="SC">Santa Catarina</option>
												<option value="SP">São Paulo</option>
												<option value="SE">Sergipe</option>
												<option value="TO">Tocantins</option>
											</select>


										</div>
									</div>



									<!-- INPUT TEXT -->
									<div class="col-sm-2">
										<div class="form-group">
											<label for="txCep"><a class="blue"
												href="javascript: logField('TabPropostaService','txCep');"><strong>CEP</strong></a></label>
											<input type="text" class="form-control" id="txCep"
												name="txCep" th:field="*{txCep}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-4">
										<div class="form-group">
											<label for="txCnpj"><a class="blue"
												href="javascript: logField('TabPropostaService','txCnpj');"><strong>CNPJ</strong></a></label>
											<input type="text" class="form-control" id="txCnpj"
												name="txCnpj" th:field="*{txCnpj}" />
										</div>
									</div>

									<!-- INPUT TEXT -->
									<div class="col-sm-6">
										<div class="form-group">
											<label for="txEmailPagador"><a class="blue"
												href="javascript: logField('TabPropostaService','txEmailPagador');"><strong>Email</strong></a></label>
											<input type="text" class="form-control" id="txEmailPagador"
												name="txEmailPagador" th:field="*{txEmailPagador}" />
										</div>
									</div>
								</div>
							</div>
							<div class="modal-footer">
								<button type="button" id="btnGravarModal"
									class="btn btn-primary col-sm-2"
									th:onclick="|javascript: gravarModal('@{/propostafinanceiro/gravarmodal}', 'refresh', '#propostaaceite', '#tabPropostaObj');|">
									<strong>Gerar Boleto</strong>
								</button>
								<button type="button" id="btnBaixaManual"
									class="btn btn-primary col-sm-2"
									th:onclick="|javascript: gravarModal('@{/propostafinanceiro/baixamanual}', 'refresh', '#propostaaceite', '#tabPropostaObj');|">
									<strong>Baixa Manual</strong>
								</button>
								<button type="button" class="btn btn-default"
									data-dismiss="modal">
									<strong>Sair</strong>
								</button>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>


	</div>

	<script> 
$(document).ready(function() { 
		
	$(".checkboxbaixapagtocomissao").click(function() {			
		var ck = $(this).val();
		if(this.checked) {
			gravarbaixapagtocomissao(this.id,"on");
		}else {
			gravarbaixapagtocomissao(this.id,"off");			
		}	
		console.log(this.id);
   });
	
	
	
	 var printCounter = 0;  
	  $('#datatable').DataTable({  
	    "pagingType": "full_numbers", 
	    "ordering": false, 
	    "scrollX": true, 
	    "lengthMenu": [ 
	      [100, 200, 300, -1], 
	      [100, 200, 300, "All"] 
	    ], 
	    dom: 'Bfrtip', 
	    buttons:  [ 
	        'copy', 
	        { 
	            extend: 'excel', 
	            messageTop: 'Titulo Excel.',
	            exportOptions: {
	                columns: ':visible',
	                format: {
	                    body: function(data, row, column, node) {
	                        data = $('<p>' + data + '</p>').text();
	                        return $.isNumeric(data.replace(',', '.')) ? data.replace(',', '.') : data;
	                    }
	                }
	            }
	        }, 
	        { 
	            extend: 'pdf', 
	            messageBottom: null 
	        }, 
	        { 
	            extend: 'print', 
	            messageTop: function () { 
	                printCounter++;	
	         if ( printCounter === 1 ) { 
	                    return 'Esta é a primeira vez que você imprime este documento.'; 
	                } 
	                else { 
	                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
				          } 
	            }, 
	            messageBottom: null 
	        } 
				        ], 
	    responsive: true, 
				        language: {
				        	decimal: ",",
				            thousands: ".",				        	
	      search: "_INPUT_",        
	      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
	    } 
	}); 
	 var table = $('#datatable').DataTable(); 
	 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 

	var txEdit = /*[[${txEdit}]]*/; 
	if (txEdit != null) { 
		 $('#'+txEdit).modal('show'); 
	} 

 });
 /*]]>*/ 
</script>
</section>
</html>
