<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<body style="background-color: #ddd;">
    <div style="padding:40px; margin: 0 auto; max-width: 600px; background-color: #fff; border: 1px solid #ddd">
        <section style="text-align: center;width: 200px;margin: 0 auto;">
            <img style="max-width: 100%; height: auto;" src="https://amalog.com.br/assets/img/logo-bandeirantes-logistica-integrada.png" />
        </section>
        <section style="text-align: center; border-bottom: 1px solid #ddd; border-top: 1px solid #ddd; margin: 20px 0; padding: 20px 0">
            <h5 style="color: #1278bb; margin-bottom: 0px">MENSAGEM AUTOMÁTICA - DTA HUB PORT - TAXA FIXA</h5>
        </section>
        <section>
            <p style="font-size: .9rem; margin-bottom: 0;"><strong>Faturamento DTA</strong> faturamentodta@band-deicmar.com.br></p>
            <p style="font-size: .9rem; margin-bottom: 0;" th:text="|Para: ${tabPropostaObj.txEmailTaxaInformativo}|">Para: Lilian Almeida lilian.almeida@band-deicmar.com.br></p>
            <p style="font-size: .9rem;"><strong th:text="|Santos, ${tabPropostaObj.#calendars.format(#calendars.createNow(), 'dd/MM/yyyy HH:mm')}|">31 de março de 2020 às 11:36</strong></p>
        </section>
        <section>
            <p style="margin-bottom: 0" th:text="|${txBomDia},|">Bom dia!</p>
            <br></br>
            <p>Segue mensagem padrão da taxa fixa.</p>
        </section>
        <section>
            <p style="margin-bottom: 0">Proposta: <strong style="color: #1278bb;" th:text="${tabPropostaObj.txProposta}">708079</strong></p>
            <p style="margin-bottom: 0">Lote: <strong style="color: #1278bb;" th:text="${tabPropostaObj.txLote}">708079</strong></p>
            <p style="margin-bottom: 0">BL : <strong style="color: #1278bb;" th:text="${tabPropostaObj.txBl}">SHAWD059793</strong></p>
            <p style="margin-bottom: 0">No.DTA: <strong style="color: #1278bb;" th:text="${tabPropostaObj.txNumeroDta}">30/03/2020</strong></p>
            <p style="margin-bottom: 0">Importador : <strong style="color: #1278bb;" th:text="${tabPropostaObj.txImportador}">THINK TECHNOLOGY INDUSTRIA E COMERCIO DE PRODUTOS 03.916.592/0001-84</strong></p>
        </section>
        <!-- corpo do email -->
        <section style="padding: 40px 0">
            <p>
                Prezado Cliente,
            </p>
            <p th:text="|A Logística Integrada informa que para os processos de DTA HUB PORT é necessário o pagamento de uma taxa fixa no valor de R$ ${{tabPropostaObj.vlTaxaInformativo}}.|">
                A Logística Integrada informa que para os processos de DTA HUB PORT é necessário o pagamento de uma taxa fixa no valor de R$ 1.309,85.
            </p>
            <p>O carregamento deverá ocorrer em até 15 dias subsequentes à entrada do contêiner no terminal</p>
            <p th:text="|Ressaltamos que os pagamentos da taxa fixa (R$ ${{tabPropostaObj.vlTaxaInformativo}}) devem ocorrer no máximo até 48 horas antecedentes a data de carregamento, o envio do RPS para impressão da NF ocorrerá somente após a efetivação do registro da DTA.|">
                
            </p>
            <p>
                Informamos que para cargas com volume excedente a 15m³ ou 6 toneladas será aplicada uma taxa adicional.
            </p>
            <p>
                É necessário que o pagamento e registro da DTA ocorram antes dos 15 dias, evitando assim que sejam geradas taxas excedentes de importação devido a perda do prazo.
            </p>
            <p style="margin-bottom: 0"><strong  style="color: #1278bb;">Dados bancários para pagamento:</strong></p>
            <ul style="margin-left: 0px;">
                <li style="margin-top: 10px;margin-bottom: 10px;list-style:none;color: #1278bb;">
                    <strong>BANDEIRANTES DEICMAR LOGÍSTICA INTEGRADA S/A</strong>
                </li>
                <li style="margin-bottom: 10px;list-style:none;">CNPJ.: <strong style="color: #1278bb;">58.188.756/0001-96</strong></li>
                <li style="margin-bottom: 10px;list-style:none;">Banco: <strong style="color: #1278bb;">Itaú</strong></li>
                <li style="margin-bottom: 10px;list-style:none;">Agência: <strong style="color: #1278bb;">0445</strong></li>
                <li style="margin-bottom: 10px;list-style:none;">Conta Corrente: <strong style="color: #1278bb;">0230-6</strong></li>
                <li style="margin-bottom: 10px;list-style:none;">Código de Identificação: <strong style="color: #1278bb;">Razão Social ou CNPJ do Depositante</strong></li>
            </ul>
            <p>
                Os pagamentos realizados em autoatendimento ou depósitos em cheque, serão liberados somente após compensação do valor em conta que ocorrem de 2 a 3 dias úteis.
            </p>
            <p>
                O comprovante de pagamento deverá ser enviado para o endereço de e-mail <a href="mailto:faturamentodta@band-deicmar.com.br" target="_blank" style="color:#1278bb; text-decoration: none;">faturamentodta@band-deicmar.com.br</a>
            </p>
            <p>
                Em caso de dúvidas relacionadas à cobrança, entrar em contato através do e-mail <a href="mailto:sablcl@band-deicmar.com.br" target="_blank" style="color:#1278bb; text-decoration: none;">sablcl@band-deicmar.com.br</a>a> ou telefone +55 13 2101.5050 - Opção 1.
            </p>
        </section>
        <section>
            <p style="margin-bottom: 0">Atenciosamente,</p>
            <p style="margin-bottom: 0">Renan Guedes</p>
        </section>
        <section style="text-align: center;width: 518px;margin: 0 auto; margin-top: 20px;">
            <img style="max-width: 100%; height: auto;"  src="https://amalog.com.br/assets/img/rodapeemailbandeirantes.jpg" />
        </section>
    </div>
</body>

</html>