<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroPropostaObj" method="get" th:action="@{/propostabaixaarmazenagem}" th:object="${tabFiltroPropostaObj}" >
		<div class="row"> 


<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="txPropostaFiltro" class="blue"><strong>Proposta</strong></label>
  <input type="text" class="form-control" id="txPropostaFiltro" name="txPropostaFiltro"  th:field="*{txPropostaFiltro}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="txTipoCampoFiltro"><strong>Data</strong></label>
	 <select class="custom-select" id="txTipoCampoFiltro" th:field="*{txTipoCampoFiltro}">
    <option value="">...</option>
	<option value="dtProposta">Dt.Proposta</option>
	<option value="dtPrevCarregamento">Dt.Prev.Carregamento</option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
  <div class="form-group">
  <label for="dtPropostaInicialFiltro" class="blue"><strong>Dt.Inicial</strong></label>
  <input type="text" class="form-control jtpDate" id="dtPropostaInicialFiltro" name="dtPropostaInicialFiltro"  th:field="*{dtPropostaInicialFiltro}" />
  </div>
</div>
 
  <div class="col-sm-2">
  <div class="form-group">
  <label class="blue"><strong>Dt.Final</strong></label>
  <input type="text" class="form-control jtpDate" id="dtPropostaFinalFiltro" name="dtPropostaFinalFiltro"  th:field="*{dtPropostaFinalFiltro}" />
  </div>
  </div>


<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="cdStatusFiltro"><a class="blue" href="javascript: logField('TabPropostaService','cdStatusFiltro');"><strong>Status</strong></a></label>
	 <select class="custom-select" id="cdStatusFiltro" th:field="*{cdStatusFiltro}">
    <option value="">...</option>
	<option th:each="scdstatus : ${selectcdstatus}" th:value="${scdstatus.cdStatus}" th:text="${scdstatus.txStatus}"></option>
  </select>
 </div>
</div>


<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 

 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Propostas Aguardando para Pagto de Armazenagem</h4>  
</div>  

</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Proposta </th> 
                 <th class="bold disabled-sorting"> Dedicado? </th>                  
                 <th class="bold disabled-sorting"> Origem </th> 
                 <th class="bold disabled-sorting"> Destino </th> 
                 <th class="bold disabled-sorting"> Cliente </th>                                    
                 <th class="bold disabled-sorting"> Importador </th> 
                 <th class="bold disabled-sorting"> Lote </th> 
                 <th class="bold disabled-sorting"> HBL/Reserva </th> 
                 <th class="bold disabled-sorting"> No.DTA </th>
                 <th class="bold disabled-sorting"> Canal </th>                                 
                 <th class="bold disabled-sorting">Baixar Pagto Armazenagem?</th>
                 <th class="bold disabled-sorting">Averbado?</th>
                 <th class="bold disabled-sorting"> Dt.Baixa</th>
                 <th class="bold disabled-sorting"> Anvisa? </th>
                 <th class="bold disabled-sorting"> IMO? </th>                                      
                 <th class="bold disabled-sorting"> Comprimento</th>
                 <th class="bold disabled-sorting"> Altura</th>
                 <th class="bold disabled-sorting"> Largura</th>
                 <th class="bold disabled-sorting"> M3 PackingList</th>
                 <th class="bold disabled-sorting">Peso Extrato Desova</th>
                 <th class="bold disabled-sorting">Mercadoria</th>
                 <th class="bold disabled-sorting">Volume</th>
                 <th class="bold disabled-sorting">Qtde Volumes</th>
                 <th class="bold disabled-sorting">No.DUE</th>
                 <th class="bold disabled-sorting">Notas Fiscais</th>
                 <th class="bold disabled-sorting"> Dt.Aceite </th>
                 <th class="bold disabled-sorting"> Email Informativo </th>
                 <th class="bold disabled-sorting"> Situação Master </th>
                 <th class="bold disabled-sorting"> Dt.Prev.Carregamento</th>
                 <th class="bold disabled-sorting"> Status </th>
                 
 </tr> 
  </thead> 
  <tbody> 
				 <tr style="Cursor: pointer" th:each="listdados : ${listadados}"> 
                 <td class="blue" th:text="${listdados.txProposta}"> txProposta </td>
                 <td class="blue" th:text="${listdados.ckFreteExclusivo} == 1 ? 'SIM' : 'NÃO'"> txProposta </td>                  
                  <td class="blue" th:text="${listdados.txOrigem}"> cdCliente </td>  
                 <td class="blue" th:text="${listdados.txDestino}"> cdCliente </td> 
                 <td class="blue" th:text="${listdados.txCliente}"> cdCliente </td>                                     
                 <td class="blue" th:text="${listdados.txImportador}"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txLote}"> cdStatus </td>
                 <td class="blue" th:text="(${listdados.txBl} != '' and ${listdados.txBl} != null) ? ${listdados.txBl} : ${listdados.txReserva}"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txNumeroDta}"> cdStatus </td>
                 <td class="blue" th:text="${listdados.txDtaCanal}"> cdStatus </td>				 
                 <td><input type="checkbox" th:name="${listdados.cdProposta}" th:id="${listdados.cdProposta}" class="checkboxbaixapagtoarmazenagem" th:checked="${listdados.dtBaixaPagtoArmazenagem} != null ? 'checked'" /></td>
	             <td><input type="checkbox" th:name="${listdados.cdProposta}" th:id="${listdados.cdProposta}" class="checkboxaverbacao" th:checked="${listdados.dtAverbacao} != null ? 'checked'" /></td>                 
                 <td class="blue" th:text="${{listdados.dtBaixaPagtoArmazenagem}}"> cdStatus </td> 
                 <td class="blue" th:text="${listdados.ckAnvisa} == 1 ? 'SIM' : 'NÃO'"> txProposta </td>
                 <td class="blue" th:text="${listdados.ckImoPerigoso} == 1 ? 'SIM' : 'NÃO'"> txProposta </td> 
	             <td class="blue" th:text="${listdados.vlComprimento}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlAltura}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlLargura}"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlM3Pack}}"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlPesoExtratoDesova}}"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.vlMercadoriaInvoice}}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txVolume}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.vlQtdeVolume}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txDue}"> cdStatus </td>
	             <td class="blue" th:text="${listdados.txNfs}"> cdStatus </td>
	             <td class="blue" th:text="${{listdados.dtAceite}}"> dtProposta </td>
	             <td class="blue" th:text="${listdados.txEmailTaxaInformativo}"> dtProposta </td>
	             <td class="blue" th:text="${listdados.txSituacaoCeMaster}"> dtProposta </td>
	              <td class="blue" th:text="${{listdados.dtPrevCarregamento}}"> dtProposta </td>	             
	             <td class="blue" th:text="${listdados.txStatus}"> cdStatus </td>
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 


</div> 
</div> 

<script> 
$(document).ready(function() { 
	
	
	$(".checkboxbaixapagtoarmazenagem").click(function() {			
		var ck = $(this).val();
		if(this.checked) {
			gravarbaixapagtoarmazenagem(this.id,"on");
		}else {
			gravarbaixapagtoarmazenagem(this.id,"off");			
		}	
		console.log(this.id);
   });
	
	$(".checkboxaverbacao").click(function() {			
		var ck = $(this).val();
		if(this.checked) {
			gravaraverbacao(this.id,"on");
		}else {
			gravaraverbacao(this.id,"off");			
		}	
		console.log(this.id);
   });	

	
	

	
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_",       
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#propostapesquisa').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script> 
</section>
</html>
