<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
<!-- Carousel -->
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- fontawesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous" />
<!--meu css-->
<link rel="stylesheet" href="/assets/css/styledta.css" type="text/css" />
<!-- fonts -->

<!-- js -->
<script type="text/javascript" src="/assets/js/function.js"></script>
<title>Amalog</title>
</head>

<body>

	<section>
		<div class="container" style="max-width: 900px;">
			<section class="row align-items-center">
				<div class="col-md-4">
					<img class="img-fluid" src="/assets/img/amalog-logotipo.png" />
				</div>
				<div class="col-md-6">
					<img class="img-fluid" src="/assets/img/logo-band-deic.jpg"
						th:if="${tabPropostaObj.txTipoProposta} != 'LTL'" />
				</div>
				<div class="col-md-3">
					<p style="margin-bottom: 0" class="bolder black">Telefone</p>
					<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
				</div>
				<div class="col-md-3">
					<p style="margin-bottom: 0" class="bolder black">E-mail</p>
					<p style="margin-bottom: 0; color: #4285f4;">atendimento.transito@band-deicmar.com.br</p>
				</div>
			</section>
			<section>
				<p>Prezado Cliente,</p>
				<p>
					Agradecemos a aceitação da Nossa <span class="bolder black"
						th:text="|Proposta ${tabPropostaObj.txProposta}|"></span>.
				</p>
				<p>
					Aceite por: <span class="bolder black"
						th:text="|${tabPropostaObj.txUsuarioAceite} - ${{tabPropostaObj.dtAceite}}|"></span>.
				</p>

			</section>
			<section>
				<h5>Para iniciarmos nosso carregamento necessitamos:</h5>
				<ul>
					<li>O envio dos documentos será por Upload na nossa PAS;</li>
					<li>Prazo para análise documental: 24 horas após todos os
						documentos anexados e, a carga estiver no Terminal;</li>
					<li>Toda documentação deverá ser enviada em arquivos separados
						e legíveis para agendamento da programação e registro da DTA até
						48 horas antes do carregamento e com horário corte 12:00hrs e DAT
						Exportação até 24 horas antes do carregamento e com horário corte
						10:00hrs.</li>
				</ul>
			</section>
			<section>
				<h5>Nos casos de DTA Importação:</h5>
				<ul>
					<li>Cópia do HBL original assinado com o porto de descarga
						Santos. (Assinatura precisa estar legível para carregamento);</li>
					<li>Enviar tela do CE Mercante (Dados básicos e item de
						carga);</li>
					<li>Packing list;</li>
					<li>Cópia da fatura original assinada com INCOTERM e sigla da
						moeda (Faturas EXW - informar valor total das taxas do INCOTERM),
						(CIF - informar taxa do seguro);</li>
					<li>Radar - A M A TRANSPORTES CNPJ 29.551.937/0001-37
						(Constando prazo de validade);</li>
					<li>Enviar descrição detalhada e finalidade da mercadoria em
						português (Consumo/Revenda/Indústria);</li>
					<li>Enviar L.I. caso tenha (cargas com anuência ANVISA
						informar antecipadamente e enviar carta de temperatura);</li>
					<li>Para cargas com classificação IMO é indispensável o envio
						da FISPQ e Declaração de Carga assinada pelo Expedidor de acordo
						com Resolução ANTT 5232/16;</li>
				</ul>
			</section>
			<section>
				<h5>Para DTA bagagem:</h5>
				<ul>
					<li>Cópia B/L original; - legível e devidamente assinado (Caso
						tenha transbordo, enviar HBL devidamente carimbado);</li>
					<li>Tela detalhada do Ce-Mercante Importador (HBL Final);</li>
					<li>Relação de bens com valor discriminado por item e valor
						total; - (devidamente assinada pelo passageiro) com firma
						reconhecida;</li>
					<li>CPF e RG (com emissão inferior a 10 anos) - (1 via)
						autenticado;</li>
					<li>Cópia do Passaporte completo com visto (Foto/Nº/Visto) -
						(1 via) autenticado;</li>
					<li>Cópia da Passagem - autenticada;</li>
					<li>Procuração para o representante da  Bandeirantes com firma
						reconhecida (Procuração deve ter o prazo mínimo de 90 dias para o
						vencimento);</li>
					<li>Comprovante de residência no Exterior - Autenticado
						(Mínimo 12 meses);</li>
				</ul>
			</section>
			<section>
				<h5>Nos casos de Exportação – DUE:</h5>
				<ul>
					<li>Atentar-se com Local de Despacho na DUE (O Local de
						Embarque é o terminal final onde a carga embarcará de acordo com o
						booking do Armador);</li>
					<li>O terminal de origem tem que receber a carga no máximo um
						dia antes do deadlinepara gerar a presença de carga (Recepcionar a
						DUE);</li>
					<li>Caso a DUE caia em canal vermelho (conferência física), o
						nosso serviço de despacho (Bandeirantes/ Deicmar) estará
						disponível para os clientes conforme acordo comercial. O
						exportador não é obrigado a utilizar o nosso serviço de despacho,
						caso já tenha o representante em Santos (Despachante/ Comissária)
						desua confiança. A escolha fica a critério do exportador. Se optar
						pelo nosso serviço,o exportador deverá incluir no Radar um dos
						nossos despachantes p/ representá-lo em Santos;</li>
					<li>DUE´s deverão ser encaminhadas como status Registrada para
						serem desembaraçadas automaticamente em nosso terminal
						(Bandeirantes/ Deicmar) assim que as cargas chegarem. O
						desembaraço automático é realizado ao recepcionar as DUE´s;</li>
					<li>DUE não pode iniciar o trânsito quando vinculado ao MRUC;</li>
					<li><span class="bolder black">Nota fiscal:</span> Número do
						Booking no campo complementar da Nota fiscal e na minuta;</li>
					<li><span class="bolder black">Carta correção:</span> Caso
						haja divergência de informação na Nota fiscal, deve ser feita
						mediante a descrição textual, no campo específico para isso, no
						qual deve informar quais informações devem ser alteradas. Vale
						mencionar que essas informações devem estar claras para que não
						causem nenhum tipo de dúvida.</li>
					<li>Packing List obrigatório em casos de bagagens;</li>
					<li>Ficha de Emergência para cargas IMOS;</li>
				</ul>
			</section>

			<section>
				<h5>Informações importantes:</h5>
				<ul>
					<li>Em casos de cargas anuência Imo / Anvisa necessário
						informar o terminal Bandeirantes Deicmar, via e-mail, antes da
						abertura do processo na PAS, para que possamos verificar com o
						terminal de origem a possibilidade do recebimento da carga;</li>
					<li>Para mercadorias anuentes (IMO, ANVISA, Exército e
						correlatos) haverá acréscimo de 30% sobre o frete-peso;</li>
					<li>Cancelamento de DTA Custo: R$ 350,00 – Protocolo de
						Cancelamento: Prazo de 48 horas - Conclusão de cancelamento pela
						Receita: 5 a 7 dias após a entrada do protocolo;</li>
					<li>Mudança de Rota de DTA Custo: R$ 120,00 - Prazo de até 3
						dias úteis para alteração;</li>
					<li>Caso de Divergência de peso superior a 10%, será
						necessário retificar os documentos, anteriormente ao registro da
						DTA;</li>
					<li>Estadia do caminhão parado: R$ 1.000,00 + Impostos por
						dia;</li>
					<li>Frete morto: será cobrando dependendo do destino;</li>
					<li>Custos do novo período de armazenagem de (acordo com a
						tabela do terminal);</li>
					<li>Taxa por tempo parado para liberação do saldo no destino:
						R$ 350,00 por período de 5 dias;</li>
					<li>2.9 Cargas com restrição de remonte/empilhamento seja por
						especificidade (m³), linear, peso e/ou valor, estarão sujeito a
						análise prévia e cobrança adicional da ocupação para consolidação
						ou contratação de frete dedicado;</li>
					<li>Cargas fora do padrão que dificultam a peação no
						transporte ( Ex: betoneira, empilhadeiras, rodantes e etc) estão
						sujeitas a análise de frete exclusivo, bem como a negativação do
						embarque e ou transferência para uma nova saída;</li>
					<li>Limite para consolidação da carga no veículo 6 ton e 15
						cbm. Para cargas acima de 6 ton e 15cbm (o que for maior), será
						cobrado o adicional por TON ou M³ ultrapassado, até 7 ton e 20
						cbm, conforme valor acordado para cada destino. Para cargas acima
						desses limitadores deverá ser solicitada cotação para frete
						dedicado;</li>

					<li>Medidas CxLxA do veículo para carregamentos consolidado:
						Comprimento: 5 metros / Largura: 2m40 / Altura: 2m50</li>

					<li>Peso máximo permitido por volume, para evitar excesso de
						peso no eixo: 2.500 kg</li>

					<li>Follow-Up de início e final de trânsito deverá ser
						acompanhado, diretamente, pela Plataforma;</li>
				</ul>
			</section>


			<section>
				<h5>Pagamento:</h5>
				<ul>
					<li>Informativo da taxa fixa será enviado, automaticamente,
						assim que a DTA for registrada para os e-mails inseridos na
						Solicitação da Plataforma (em casos de mais de um e-mail,
						separá-los por ponto e vírgula, sem espaço). Carga que ultrapasse
						o free time dos 15 dias dentro do terminal deverá ser paga
						armazenagem de acordo com nossa tabela geral de preços;</li>
					<li>Para as Rotas MG o boleto referente ao transporte
						rodoviário será emitido no momento da geração do CTe e, estará
						disponível na Plataforma, com prazo de 06 dias para o pagamento;</li>
					<li>Caso o pagamento já tenha sito efetuado, por favor,
						desconsidere esse aviso e, encaminhe o comprovante de pagamento
						para o e-mail faturamentodta@band-deicmar.com.br – Tel. (13) 2101
						– 5050.</li>
				</ul>
			</section>

			<section class="row align-items-center"
				style="padding-bottom: 40px; border-top: 1px solid #eaeaea;">
				<div class="col-md-4">
					<img class="img-fluid" src="/assets/img/amalog-logotipo.png" />
				</div>
				<div class="col-md-4">
					<img class="img-fluid" src="/assets/img/logo-band-deic.jpg" />
				</div>
				<div class="col-md-2 text-right">
					<p style="margin-bottom: 0" class="bolder black">Telefone</p>
					<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
				</div>
				<div class="col-md-2 text-right">
					<p style="margin-bottom: 0" class="bolder black">E-mail</p>
					<p style="margin-bottom: 0; color: #4285f4;">atendimento.transito@band-deicmar.com.br</p>
				</div>
			</section>
		</div>
	</section>

	<!-- Optional JavaScript -->
	<!-- jQuery first, then Popper.js, then Bootstrap JS -->
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
		integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
		crossorigin="anonymous"></script>
	<script
		src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
		integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
		crossorigin="anonymous"></script>
	<script
		src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
		integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
		crossorigin="anonymous"></script>
	<!-- Carousel -->
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
</body>

</html>