<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}" />
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Amalog</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous" />
<!-- CSS Files -->
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/assets/css/now-ui-dashboard.css?v=1.4.1}"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/easy-autocomplete.themes.css}" />
<link rel="stylesheet" th:href="@{/assets/css/toastr.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/kc.fab.css}" />

<link rel="stylesheet" href="/assets/css/datatables.min.css" />

<link
	href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video-js.min.css"
	rel="stylesheet" />

<!-- <script th:src="@{/assets/js/core/jquery.min.js}"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>



</head>

<body class=" sidebar-mini ">
	<div class="wrapper ">
		<div class="sidebar" data-color="blue"></div>
		<div class="main-panel" id="main-panel">

			<div class="container">
				<section class="row align-items-center">
					<div class="logo-container">
						<img src="/assets/img/amalog-simbologia-colorido.png" alt=""
							style="width: 100px;" />
					</div>
				</section>
			</div>

			<div class="page-inner">
				<div class="page-section">
					<section id="base-style" class="card">
						<div class="card-body">
							<form id="tabPropostaObj" method="get"
								th:action="@{/uploaddoctosbl/consultar}" th:object="${tabPropostaObj}">
								<fieldset>
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txCnpj"><strong>Informe o HBL/AWB</strong></label>
												<input type="text" class="form-control" id="txBL"
													name="txBl" th:field="*{txBl}" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txNomeUploadDoctoBl"><strong>Nome Upload</strong>
													</label> <input type="text" class="form-control"
													id="txNomeUploadDoctoBl" name="txNomeUploadDoctoBl" th:field="*{txNomeUploadDoctoBl}" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txEmailUploadDoctoBl"><strong>Email Upload</strong>
													</label> <input type="text" class="form-control"
													id="txEmailUploadDoctoBl" name="txEmailUploadDoctoBl" th:field="*{txEmailUploadDoctoBl}" />
											</div>
										</div>
										
										<div style="padding-left: 13px; padding-top: 12px">
											<section>
												<a href="javascript: gravar('tabPropostaObj');"
													id="linkGravar">
													<button type="button" class="btn menu-usuario">
														<i class="fas fa-save"></i>Pesquisar
													</button>
												</a>
											</section>
										</div>
									</div>
									
								<div class="row" th:if="*{txProposta} != null">	
									<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','txProposta');"><strong>No.Proposta</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="txProposta" name="txProposta" readonly="readonly"
											th:field="*{txProposta}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="dtProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','dtProposta');"><strong>Dt.Proposta</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="dtProposta" name="dtProposta" readonly="readonly"
											th:field="*{dtProposta}" />
									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="cdCliente"><a class="blue"
											href="javascript: logField('TabPropostaService','cdCliente');"><strong>Cliente</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="txCliente" name="txCliente" readonly="readonly"
											th:field="*{txCliente}" />
									</div>
								</div>
								
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txImportador"><a class="blue"
											href="javascript: logField('TabPropostaService','txImportador');"><strong>Importador</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="txImportador" name="txImportador" readonly="readonly"
											th:field="*{txImportador}" />
									</div>
								</div>
									
								</div>	
								
								<div class="card-body">
						
						 <div class="row" th:if="*{txProposta} != null">
								<div class="col-md-12">
									<div class="card">
										<div class="row">
											<div class="card-header">
												<h4 class="card-title blue bold" style="padding-left: 10px">Documentos</h4>
											</div>

											<button type="button" id="btDocumentosInserir"
												class="btn btn-default float-right"
												style="margin: 25px 0px 0px; max-height: 37px; float: right;">
												<strong>Inserir Documento</strong>
											</button>
										</div>
										<div class="card-body">
											<div class="toolbar"></div>
											<table id="datatable"
												class="table table-striped table-bordered" cellspacing="0"
												width="100%">
												<thead>
													<tr>
														<th class="bold disabled-sorting">Classificação</th>
														<th class="bold disabled-sorting">Documento</th>
														<th class="bold disabled-sorting">Dt.Upload</th>
														<th class="bold disabled-sorting">Usuário Upload</th>
														<th class="bold disabled-sorting">Pendência</th>
														<th class="bold disabled-sorting">Dt.Validação</th>
														<th class="bold disabled-sorting">Usuário Validação</th>
														<th class="disabled-sorting text-right bold"></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="listdados : ${listaDocumentos}" >
														<td class="blue" th:text="${listdados.txClassificacao}" th:onclick="|javascript: abrirtela('@{/proposta/consultardocumento}/${listdados.cdPropostaDocumento}/${listdados.cdProposta}');|">
															txClassificacao</td>
														<td class="blue"><a th:href="${listdados.txUrl}"
															th:text="${listdados.txNomeArquivo}"> txClassificacao
														</a></td>
														<td class="blue" th:text="${{listdados.dtCriacao}}"> dtCriacao</td>
														<td class="blue" th:text="${listdados.txUsuarioCriacao}"> dtCriacao</td>
														<td class="blue" th:text="${listdados.txPendencia}"> txPendencia</td>
														<td class="blue" th:text="${{listdados.dtValidacao}}"> dtCriacao</td>
														<td class="blue" th:text="${listdados.txUsuarioValidacao}"> dtCriacao
														</td>
														<td class="text-right" th:if="${listdados.cdValidado} != 1"><a
															th:href="|javascript: showPergunta('Deseja excluir o Arquivo','/uploaddoctosbl/excluirdocumento/${listdados.cdPropostaDocumento}','ajax','/uploaddoctosbl/consultar?txBl=${tabPropostaObj.txBl}&amp;txNomeUploadDoctoBl=${tabPropostaObj.txNomeUploadDoctoBl}&amp;txEmailUploadDoctoBl=${tabPropostaObj.txEmailUploadDoctoBl}');|"
															class="btn btn-round btn-danger btn-icon btn-sm remove"><i
																class="fas fa-times"></i></a></td>
														<td class="text-right" th:if="${listdados.cdValidado} == 1"><a class="btn btn-round btn-success btn-icon btn-sm remove"><i
																class="fas fa-check"></i></a></td>																
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>
						
						</div>
									
								</fieldset>
							</form>
						</div>
				</section>
				</div>
			</div>


					<form id="tabPropostaDocumentosObj" name="tabPropostaDocumentosObj"
						enctype="multipart/form-data" method="post"
						th:action="@{/proposta/gravardocumentos}" th:object="${tabPropostaDocumentosObj}">
						<div class="modal fade" id="propostadocumentos" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="vertical-alignment-helper">
								<div class="modal-dialog vertical-align-center">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myModalLabel">Proposta -
												Upload de Documentos</h4>
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
											</button>
										</div>
										<div class="modal-body">

											<div class="row">

												<!-- INPUT TEXT -->
												<div class="col-sm-6">
													<div class="form-group">
														<label for="cdClassificacao"><a class="blue"
															href="javascript: logField('TabPropostaService','cdClassificacao');"><strong>Classificação</strong></a></label>
														<select class="form-control" name="tabDocumentosClassificacaoObj"
															id="tabDocumentosClassificacaoObj" th:field="*{tabDocumentosClassificacaoObj}">
															<option value="">...</option>
															<option
																th:each="sselectcddoctoclassificacao : ${selectcddoctoclassificacao}"
																th:value="${sselectcddoctoclassificacao.cdDoctoClassificacao}"
																th:text="${sselectcddoctoclassificacao.txDoctoClassificacao}"></option>
														</select>
													</div>
												</div>

												<div class="col-sm-5">
													<div class="form-group form-file-upload form-file-simple">
														<label for="txNomeArquivo" class="blue"><strong>Arquivo</strong></label>
														<input type="text" class="form-control inputFileVisible"
															placeholder="Selecione o arquivo..." /> <input
															type="file" name="file" id="file" class="inputFileHidden"
															style="z-index: -1;" />
													</div>
												</div>

												<div class="col-sm-2" th:if="${cdGrupoVisao == 1} or ${cdGrupoVisao == 2}">
													<div class="form-group">
														<label for="cdValidado"><a class="blue"
															href="javascript: logField('TabPropostaService','cdValidado');"><strong>Valido?</strong></a></label>
														<select class="form-control" name="cdValidado"
															id="cdValidado" th:field="*{cdValidado}">
															<option value="">...</option>
															<option value="2">NÃO</option>
															<option value="1">SIM</option>
														</select>
													</div>
												</div>

												<!-- INPUT TEXT -->
												<div class="col-sm-10" th:if="${cdGrupoVisao == 1} or ${cdGrupoVisao == 2}">
													<div class="form-group">
														<label for="txPendencia"><a class="blue"
															href="javascript: logField('TabPropostaService','txPendencia');"><strong>Pendências</strong></a></label>
														<input type="text" class="form-control"
															id="txPendencia" name="txPendencia" th:field="*{txPendencia}" />
													</div>
												</div>


											</div>
										</div>
										<div class="modal-footer">
											<button type="button" id="btnGravarModal"
												class="btn btn-primary col-sm-2"
												th:onclick="|javascript: gravarModalImg('@{/uploaddoctosbl/gravarmodaldocumentos}', '/uploaddoctosbl/consultar?txBl=${tabPropostaObj.txBl}&amp;txNomeUploadDoctoBl=${tabPropostaObj.txNomeUploadDoctoBl}&amp;txEmailUploadDoctoBl=${tabPropostaObj.txEmailUploadDoctoBl}', '#propostadocumentos', '#tabPropostaDocumentosObj');|">
												<strong>Enviar</strong>
											</button>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">
												<strong>Sair</strong>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<input type="hidden" id="cdPropostaDocumento" name="cdPropostaDocumento"
							th:value="*{cdPropostaDocumento}" />
						<input type="hidden" id="cdProposta" name="cdProposta"
							th:value="${tabPropostaObj.cdProposta}" />
						<input type="hidden" id="txNomeArquivo" name="txNomeArquivo"
							th:value="*{txNomeArquivo}" />
						<input type="hidden" id="txUrl" name="txUrl"
							th:value="*{txUrl}" />
						<input type="hidden" id="dtCriacao" name="dtCriacao"
							th:value="*{{dtCriacao}}" />
						<input type="hidden" id="txNomeUploadDoctoBl" name="txNomeUploadDoctoBl" th:field="${tabPropostaObj.txNomeUploadDoctoBl}" />
						<input type="hidden" id="txEmailUploadDoctoBl" name="txEmailUploadDoctoBl" th:field="${tabPropostaObj.txEmailUploadDoctoBl}" />
														
					</form>



		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
	<script th:src="@{/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>

	<!-- Forms Validations Plugin -->
	<script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script th:src="@{/assets/js/plugins/datatables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script th:src="@{/assets/js/plugins/nouislider.min.js}"></script>
	<!-- Chart JS -->
	<script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/assets/js/now-ui-dashboard.min.js?v=1.4.1}"
		type="text/javascript"></script>
	<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/assets/demo/demo.js}"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video.min.js"></script>

	<script th:src="@{/assets/js/jquery.easy-autocomplete.js}"></script>
	<script th:src="@{/assets/js/jtpautocompletesimple.js}"></script>
	<script th:src="@{/assets/js/toastr.min.js}"></script>
	<script th:src="@{/assets/js/jtploading.js}"></script>
	<script th:src="@{/assets/js/jquery.priceformat.min.js}"></script>
	<script th:src="@{/assets/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/assets/js/kc.fab.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/assets/js/plugins/sweetalert2.min.js}"></script>
	<script th:src="@{/assets/js/jtputil.js}"></script>




	<script type="text/javascript">
		$(document).ready(
				function() {
					
					//waitingDialog.hide();
					hidePleaseWait();
					
				});
	</script>

	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 
	 $(document).ready(function() {	
 	var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 

	var pathUrl = /*[[@{/}]]*/; 

	
$( "#btDocumentosInserir" ).click(function() {
		
		$('#propostadocumentos').modal('show'); 
		
	});
	
	 });
 /*]]>*/ 
</script>


</body>

</html>
