<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
		<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabFiltroCamposIdiomaObj" method="get"
									th:action="@{/admcamposidioma}" th:object="${tabFiltroCamposIdiomaObj}">
									<div class="row">

										<!-- SELECT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="cdTelaFiltro" class="blue"><strong>Tela</strong></label>
												<select class="custom-select blue" id="cdTelaFiltro"
													th:field="*{cdTelaFiltro}">
													<option value="">...</option>
													<option th:each="scdtela : ${selectcdtela}"
														th:value="${scdtela.cdTela}" th:text="${scdtela.txTela}"></option>
												</select>
											</div>
										</div>
										
										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Campos</h4>
						</div>
						<a th:href="|/admcamposidioma/novo/${tabFiltroCamposIdiomaObj.cdTelaFiltro}"
							id="idNovo" th:if="${tabFiltroCamposIdiomaObj.cdTelaFiltro} != null">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Cód.Campo</th>
									<th class="bold disabled-sorting">Campo</th>
									<th class="bold disabled-sorting">ObjCampo</th>
									<th class="bold disabled-sorting">Idioma</th>
									<th class="disabled-sorting text-right bold"></th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}">
									<td class="blue" th:text="${listdados.cdCampoIdioma}"
										th:onclick="|javascript: abrirtela('@{/admcamposidioma/consultar}/${listdados.cdCampoIdioma}');|">
										cdCampo</td>
									<td class="blue" th:text="${listdados.txCampo}"
										th:onclick="|javascript: abrirtela('@{/admcamposidioma/consultar}/${listdados.cdCampoIdioma}');|">
										txCampo</td>	
									<td class="blue" th:text="${listdados.txObjCampo}"
										th:onclick="|javascript: abrirtela('@{/admcamposidioma/consultar}/${listdados.cdCampoIdioma}');|">
										txCampo</td>
									<td class="blue" th:text="${listdados.cdIdioma}"
										th:onclick="|javascript: abrirtela('@{/admcamposidioma/consultar}/${listdados.cdCampoIdioma}');|">
										txCampo</td>									
										
									<td class="text-right"><a
										th:href="|javascript: showPergunta('Deseja excluir?','/admcamposidioma/excluir/${listdados.cdCampoIdioma}','ajax','/admcamposidioma');|"
										class="btn btn-round btn-danger btn-icon btn-sm remove"><i
											class="fas fa-times"></i></a></td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabCamposIdiomaObj" method="post" th:action="@{/admcamposidioma}"
		th:object="${tabCamposIdiomaObj}">
		<div class="modal fade" id="admcamposidioma" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">

								<input type="hidden" id="cdCampoIdioma" name="cdCampoIdioma"
									th:field="*{cdCampoIdioma}" /> <input type="hidden" id="tabTelasObj.cdTela"
									name="tabTelasObj.cdTela" th:value="${tabFiltroCamposIdiomaObj.cdTelaFiltro}" />
								<input type="hidden" id="cdTela"
									name="cdTela" th:value="${tabFiltroCamposIdiomaObj.cdTelaFiltro}" />	 


								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txCampo"><a class="blue"
											href="javascript: logField('TabCamposIdiomaService','txCampo');"><strong>Campo</strong></a></label>
										<input type="text" class="form-control inputNone" id="txCampo"
											name="txCampo" th:field="*{txCampo}" />
									</div>
								</div>
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txObjCampo"><a class="blue"
											href="javascript: logField('TabCamposIdiomaService','txObjCampo');"><strong>ObjCampo</strong></a></label>
										<input type="text" class="form-control inputNone" id="txObjCampo"
											name="txObjCampo" th:field="*{txObjCampo}" />
									</div>
								</div>								


								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="cdIdioma"><a class="blue"
											href="javascript: logField('TabCamposIdiomaService','cdIdioma');"><strong>Idioma</strong></a></label>
										<select class="custom-select" id="cdIdioma"
											th:field="*{cdIdioma}">
											<option value="">...</option>
											<option value="PT">Português</option>
											<option value="EN">Inglês</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/admcamposidioma/gravarmodal}', '@{/admcamposidioma}', '#admcamposidioma', '#tabCamposIdiomaObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
			        	search: "_INPUT_", 
			            url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
 
	
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#admcamposidioma').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script>
</section>
</html>
