<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	   
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Titulo GRID</h4>  
</div>  
<a href="/admmenu/novo" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Cód.Menu </th> 
                 <th class="bold disabled-sorting"> Ordem </th>
                 <th class="bold disabled-sorting"> Menu </th>
                 <th class="bold disabled-sorting"> Menu Inglês </th>
                 <th class="bold disabled-sorting"> Alias </th>                    
                 <th class="bold disabled-sorting"> Class </th> 
                 <th class="bold disabled-sorting"> UrlPage </th>                   
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/admmenu/consultar}/${listdados.cdMenu}');|"> 
                 <td class="blue" th:text="${listdados.cdMenu}"> cdMenu </td> 
                 <td class="blue" th:text="${listdados.cdOrdem}"> cdOrdem </td> 
                 <td class="blue" th:text="${listdados.txMenu}"> txMenu </td>
                 <td class="blue" th:text="${listdados.txMenuIngles}"> txMenu </td>                  
                 <td class="blue" th:text="${listdados.txAlias}"> txAlias </td> 
                 <td class="blue" th:text="${listdados.txClass}"> txClass </td> 
                 <td class="blue" th:text="${listdados.txUrlPage}"> txUrlPage </td>                  
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabMenuObj" method="post" th:action="@{/admmenu}" th:object="${tabMenuObj}">
<div class="modal fade" id="admmenu" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 
					
  <input type="hidden" id="cdMenu" name="cdMenu"  th:field="*{cdMenu}"/>

<!-- INPUT TEXT -->
<div class="col-sm-1">
<div class="form-group">
  <label for="cdOrdem"><a class="blue" href="javascript: logField('TabMenuService','cdOrdem');"><strong>Ordem</strong></a></label>
  <input type="text" class="form-control" id="cdOrdem" name="cdOrdem"  th:field="*{cdOrdem}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txMenu"><a class="blue" href="javascript: logField('TabMenuService','txMenu');"><strong>Menu</strong></a></label>
  <input type="text" class="form-control" id="txMenu" name="txMenu"  th:field="*{txMenu}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txMenuIngles"><a class="blue" href="javascript: logField('TabMenuService','txMenuIngles');"><strong>Menu Inglês</strong></a></label>
  <input type="text" class="form-control" id="txMenuIngles" name="txMenuIngles"  th:field="*{txMenuIngles}"/>
</div>
</div>


<!-- INPUT TEXT -->
<div class="col-sm-3">
<div class="form-group">
  <label for="txClass"><a class="blue" href="javascript: logField('TabMenuService','txClass');"><strong>Class</strong></a></label>
  <input type="text" class="form-control" id="txClass" name="txClass"  th:field="*{txClass}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-3">
<div class="form-group">
  <label for="txAlias"><a class="blue" href="javascript: logField('TabMenuService','txAlias');"><strong>Alias</strong></a></label>
  <input type="text" class="form-control" id="txAlias" name="txAlias"  th:field="*{txAlias}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txUrlPage"><a class="blue" href="javascript: logField('TabMenuService','txUrlPage');"><strong>UrlPage</strong></a></label>
  <input type="text" class="form-control" id="txUrlPage" name="txUrlPage"  th:field="*{txUrlPage}"/>
</div>
</div>


</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/admmenu/gravarmodal}', '@{/admmenu}', '#admmenu', '#tabMenuObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json" 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#admmenu').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 


 });
 /*]]>*/ 
</script> 
</section>
</html>
