<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroRegrasObj" method="get" th:action="@{/admregras}" th:object="${tabFiltroRegrasObj}" >
		<div class="row"> 


<!-- SELECT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="cdTelaFiltro" class="blue"><strong>Tela</strong></label>
	 <select class="custom-select blue" id="cdTelaFiltro" th:field="*{cdTelaFiltro}">
    <option value="">...</option>
    <option th:each="scdtela : ${selectcdtela}" th:value="${scdtela.cdTela}" th:text="${scdtela.txTela}"></option>
  </select>
 </div>
</div>

<!-- SELECT -->
<div class="col-sm-6">
 <div class="form-group">
	<label for="cdGrupoVisaoFiltro" class="blue"><strong>GrupoVisao</strong></label>
	 <select class="custom-select blue" id="cdGrupoVisaoFiltro" th:field="*{cdGrupoVisaoFiltro}">
    <option value="">...</option>
    <option th:each="scdgrupovisao : ${selectcdgrupovisao}" th:value="${scdgrupovisao.cdGrupoVisao}" th:text="${scdgrupovisao.txGrupoVisao}"></option>
  </select>
 </div>
</div>

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Regras</h4>  
</div>  
<a th:href="|/admregras/novo/${cdTela}/${cdGrupoVisao}|" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Regra </th>
                 <th class="bold disabled-sorting"> Ordem </th>  
                 <th class="bold disabled-sorting"> Tipo </th> 
                 <th class="bold disabled-sorting"> Campo </th> 
                 <th class="bold disabled-sorting"> CampoCond </th>
                 <th class="disabled-sorting text-right bold"></th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" > 
                 <td class="blue" th:text="${listdados.cdRegra}" th:onclick="|javascript: abrirtela('@{/admregras/consultar}/${listdados.cdRegra}');|"> cdRegra </td> 
                 <td class="blue" th:text="${listdados.cdOrdem}" th:onclick="|javascript: abrirtela('@{/admregras/consultar}/${listdados.cdRegra}');|"> cdOrdem </td> 
                 <td class="blue" th:text="${listdados.txTipo}" th:onclick="|javascript: abrirtela('@{/admregras/consultar}/${listdados.cdRegra}');|"> cdTipo </td> 
                 <td class="blue" th:text="${listdados.txCampo}" th:onclick="|javascript: abrirtela('@{/admregras/consultar}/${listdados.cdRegra}');|"> txCampo </td> 
                 <td class="blue" th:text="${listdados.txCampoCond}" th:onclick="|javascript: abrirtela('@{/admregras/consultar}/${listdados.cdRegra}');|"> txCampoCond </td>
                 <td class="text-right">
						<a th:href="|javascript: showPergunta('Deseja excluir?','/admregras/excluir/${listdados.cdRegra}','ajax','/admregras');|" class="btn btn-round btn-danger btn-icon btn-sm remove"><i class="fas fa-times"></i></a>
                 </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabRegrasObj" method="post" th:action="@{/admregras}" th:object="${tabRegrasObj}">
<div class="modal fade" id="admregras" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 


  <input type="hidden" id="cdRegra" name="cdRegra"  th:field="*{cdRegra}"/>
  <input type="hidden" id="cdTela" name="cdTela"  th:value="${cdTela}"/>
  <input type="hidden" id="cdGrupoVisao" name="cdGrupoVisao"  th:value="${cdGrupoVisao}"/>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="cdOrdem"><a class="blue" href="javascript: logField('TabRegrasService','cdOrdem');"><strong>Ordem</strong></a></label>
  <input type="text" class="form-control" id="cdOrdem" name="cdOrdem"  th:field="*{cdOrdem}"/>
</div>
</div>


<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txCampo"><a class="blue" href="javascript: logField('TabRegrasService','txCampo');"><strong>Campo</strong></a></label>
  <input type="text" class="form-control" id="txCampo" name="txCampo"  th:field="*{txCampo}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txObjcampo"><a class="blue" href="javascript: logField('TabRegrasService','txObjcampo');"><strong>Objcampo</strong></a></label>
  <input type="text" class="form-control" id="txObjcampo" name="txObjcampo"  th:field="*{txObjcampo}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="cdTipo"><a class="blue" href="javascript: logField('TabRegrasService','cdTipo');"><strong>Tipo</strong></a></label>
	 <select class="custom-select" id="cdTipo" th:field="*{cdTipo}">
    <option value="">...</option>
    <option th:each="scdtipo : ${selectcdtipo}" th:value="${scdtipo.cdTipoRegra}" th:text="${scdtipo.txTipoRegra}"></option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txCampoCond"><a class="blue" href="javascript: logField('TabRegrasService','txCampoCond');"><strong>CampoCond</strong></a></label>
  <input type="text" class="form-control" id="txCampoCond" name="txCampoCond"  th:field="*{txCampoCond}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txObjcampoCond"><a class="blue" href="javascript: logField('TabRegrasService','txObjcampoCond');"><strong>ObjcampoCond</strong></a></label>
  <input type="text" class="form-control" id="txObjcampoCond" name="txObjcampoCond"  th:field="*{txObjcampoCond}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txAux"><a class="blue" href="javascript: logField('TabRegrasService','txAux');"><strong>Aux</strong></a></label>
  <input type="text" class="form-control" id="txAux" name="txAux"  th:field="*{txAux}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txCampoChave"><a class="blue" href="javascript: logField('TabRegrasService','txCampoChave');"><strong>Campo Chave</strong></a></label>
  <input type="text" class="form-control" id="txCampoChave" name="txCampoChave"  th:field="*{txCampoChave}"/>
</div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckIgnora"><a class="blue" href="javascript: logField('TabRegrasService','ckIgnora');"><strong>Ignora</strong></a></label>
	 <select class="custom-select" id="ckIgnora" th:field="*{ckIgnora}">
    <option value="">...</option>
    <option value="1">SIM</option>
    <option value="0">NÃO</option>
  </select>
 </div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txMensagem"><a class="blue" href="javascript: logField('TabRegrasService','txMensagem');"><strong>Mensagem</strong></a></label>
  <input type="text" class="form-control" id="txMensagem" name="txMensagem"  th:field="*{txMensagem}"/>
</div>
</div>


<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txEmail"><a class="blue" href="javascript: logField('TabRegrasService','txEmail');"><strong>Email</strong></a></label>
  <input type="text" class="form-control" id="txEmail" name="txEmail"  th:field="*{txEmail}"/>
</div>
</div>


</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/admregras/gravarmodal}', '@{/admregras}', '#admregras', '#tabRegrasObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json" 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#admregras').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script> 
</section>
</html>
