<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
	
	<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
						
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroDestinoLtlObj" method="get" th:action="@{/destinoltl}" th:object="${tabFiltroDestinoLtlObj}" >
		<div class="row"> 

<div class="col-sm-4">
 <div class="form-group">
	<label for="cdEmpresaFiltro" class="blue"><strong>Empresa</strong></label>
	 <select class="custom-select blue" id="cdEmpresaFiltro" th:field="*{cdEmpresaFiltro}">
     <option value="">...</option>
     <option th:each="scdempresa : ${selectcdempresa}" th:value="${scdempresa.cdEmpresa}" th:text="${scdempresa.txEmpresa}"></option>

  </select>
 </div>
</div>

<div class="col-sm-2">
 <div class="form-group">
	<label for="cdImpExpFiltro" class="blue"><strong>Importação/Exportação</strong></label>
	 <select class="custom-select blue" id="cdImpExpFiltro" th:field="*{cdImpExpFiltro}">
     <option value="">...</option>
     <option value="1">IMPORTAÇÃO</option>
     <option value="2">EXPORTAÇÃO</option>
  </select>
 </div>
</div>


<div class="col-sm-2">
 <div class="form-group">
	<label for="cdViaTransporteFiltro" class="blue"><strong>Modal</strong></label>
	 <select class="custom-select blue" id="cdViaTransporteFiltro" th:field="*{cdViaTransporteFiltro}">
    <option value="">...</option>
    <option value="1">AÉREO</option>
    <option value="2">MARÍTIMO</option>
  </select>
 </div>
</div>


<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 


				</nav>
			</div>
		</div>
	

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Destino</h4>
						</div>
						<a href="/destinoltl/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
								    <th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">Ativo</th>
									<th class="bold disabled-sorting">Qtde Dias</th>
									
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/destinoltl/consultar}/${listdados.cdDestinoLtl}');|">
									<td class="blue" th:text="${listdados.txOrigemLtl}">txDestino
									</td>
									<td class="blue" th:text="${listdados.txDestinoLtl}">txDestino
									</td>
									<td class="blue"
										th:text="${listdados.ckAtivo} == 1 ? 'SIM' : 'NÃO'">
										ckAtivo</td>
									<td class="blue" th:text="${listdados.vlQtdeDias}">
										vlDtaImportacao</td>
											
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabDestinoLtlObj" method="post" th:action="@{/destinoltl}"
		th:object="${tabDestinoLtlObj}">
		<div class="modal fade" id="destinoltl" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">

								<input type="hidden" id="cdDestinoLtl" name="cdDestinoLtl"
									th:field="*{cdDestinoLtl}" />
									
								<input type="hidden" id="cdImpexp" name="cdImpexp"
									th:value="${tabFiltroDestinoLtlObj.cdImpExpFiltro}" />
									
								<input type="hidden" id="tabEmpresaObj" name="tabEmpresaObj"
									th:value="${tabFiltroDestinoLtlObj.cdEmpresaFiltro}" />
									 
								<input type="hidden" id="tabViaTransporteObj" name="tabViaTransporteObj"
									th:value="${tabFiltroDestinoLtlObj.cdViaTransporteFiltro}" />

<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txOrigemLtl"><a class="blue"
											href="javascript: logField('TabDestinoService','txOrigemLtl');"><strong>Origem</strong></a></label>
										<input type="text" class="form-control" id="txOrigemLtl"
											name="txOrigemLtl" th:field="*{txOrigemLtl}" />
									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txDestinoLtl"><a class="blue"
											href="javascript: logField('TabDestinoService','txDestinoLtl');"><strong>Destino</strong></a></label>
										<input type="text" class="form-control" id="txDestinoLtl"
											name="txDestinoLtl" th:field="*{txDestinoLtl}" />
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckAtivo"><a class="blue"
											href="javascript: logField('TabDestinoService','ckAtivo');"><strong>Ativo?</strong></a></label>
										<select class="custom-select" id="ckAtivo"
											th:field="*{ckAtivo}">
											<option value="">...</option>
											<option value="0">NÃO</option>
											<option value="1">SIM</option>
										</select>
									</div>
								</div>


							

								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlQtdeDias"><a class="blue"
											href="javascript: logField('TabDestinoService','vlQtdeDias');"><strong>Qtde dias</strong></a></label>
										<input type="text" class="form-control"
											id="vlQtdeDias" name="vlQtdeDias"
											th:field="*{vlQtdeDias}" />
									</div>
								</div>
								
								

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/destinoltl/gravarmodal}', '@{/destinoltl}', '#destinoltl', '#tabDestinoLtlObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
   
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#destinoltl').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script>
</section>
</html>
