<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
		<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabFiltroValoresFixosObj" method="get"
									th:action="@{/valoresfixos}"
									th:object="${tabFiltroValoresFixosObj}">
									<div class="row">

										<div class="col-sm-4">
											<div class="form-group">
												<label for="cdEmpresaFiltro" class="blue"><strong>Empresa</strong></label>
												<select class="custom-select blue" id="cdEmpresaFiltro"
													th:field="*{cdEmpresaFiltro}">
													<option value="">...</option>
													<option th:each="scdempresa : ${selectcdempresa}"
														th:value="${scdempresa.cdEmpresa}"
														th:text="${scdempresa.txEmpresa}"></option>

												</select>
											</div>
										</div>

										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdImpExpFiltro" class="blue"><strong>Importação/Exportação</strong></label>
												<select class="custom-select blue" id="cdImpExpFiltro"
													th:field="*{cdImpExpFiltro}">
													<option value="">...</option>
													<option value="1">IMPORTAÇÃO</option>
													<option value="2">EXPORTAÇÃO</option>
												</select>
											</div>
										</div>
										
										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Valores
								Fixos</h4>
						</div>
						<a href="/valoresfixos/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
								    <th class="bold disabled-sorting">Tipo</th>
									<th class="bold disabled-sorting">Vl.Despacho</th>
									<th class="bold disabled-sorting">Vl.Pedágio</th>
									<th class="bold disabled-sorting">Vl.Taxa Gris</th>
									<th class="bold disabled-sorting">Vl.Taxa IMO Perigoso</th>
									<th class="bold disabled-sorting">VL.Ajudante</th>
									<th class="bold disabled-sorting">Vl.Icms</th>
									<th class="bold disabled-sorting">Vl.Estacionamento</th>
									<th class="bold disabled-sorting">Vl.Advalorem</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/valoresfixos/consultar}/${listdados.cdTabela}');|">
									<td class="blue" th:text="${listdados.txTipo}">
										txTipo</td>
									<td class="blue" th:text="${listdados.vlDespacho}">
										vlDespacho</td>
									<td class="blue" th:text="${listdados.vlPedagio}">
										vlPedagio</td>
									<td class="blue" th:text="${listdados.vlTaxaGris}">
										vlTaxaGris</td>
									<td class="blue" th:text="${listdados.vlTaxaImoPerigoso}">
										vlTaxaImoPerigoso</td>
									<td class="blue" th:text="${listdados.vlAjudante}">
										vlAjudante</td>
									<td class="blue" th:text="${listdados.vlIcms}">vlIcms</td>
									<td class="blue" th:text="${listdados.vlEstacionamento}">vlIcms</td>
									<td class="blue" th:text="${listdados.vlAdvalorem}">vlIcms</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabValoresFixosObj" method="post"
		th:action="@{/valoresfixos}" th:object="${tabValoresFixosObj}">
		<div class="modal fade" id="valoresfixos" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">


								<input type="hidden" class="form-control" id="cdTabela"
									name="cdTabela" th:field="*{cdTabela}" /> <input type="hidden"
									id="cdImpexp" name="cdImpexp"
									th:value="${tabFiltroValoresFixosObj.cdImpExpFiltro}" /> <input
									type="hidden" id="tabEmpresaObj" name="tabEmpresaObj"
									th:value="${tabFiltroValoresFixosObj.cdEmpresaFiltro}" />
									

									<div class="col-sm-2">
											<div class="form-group">
																						<label for="txTipo"><a class="blue"
											href="javascript: logField('TabValoresFixosService','txTipo');"><strong>Tipo</strong></a></label>

												<select class="custom-select blue" id="txTipo"
													th:field="*{txTipo}">
													<option value="">...</option>
													<option value="DTA">DTA</option>
													<option value="LTL">LTL</option>
												</select>
											</div>
										</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlDespacho"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlDespacho');"><strong>Despacho</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlDespacho"
											name="vlDespacho" th:field="*{vlDespacho}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlPedagio"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlPedagio');"><strong>Pedagio</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlPedagio"
											name="vlPedagio" th:field="*{vlPedagio}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlTaxaGris"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlTaxaGris');"><strong>Taxa Gris</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlTaxaGris"
											name="vlTaxaGris" th:field="*{vlTaxaGris}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlTaxaImoPerigoso"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlTaxaImoPerigoso');"><strong>Taxa IMO</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlTaxaImoPerigoso"
											name="vlTaxaImoPerigoso" th:field="*{vlTaxaImoPerigoso}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAjudante"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlAjudante');"><strong>Ajudante</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlAjudante"
											name="vlAjudante" th:field="*{vlAjudante}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlIcms"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlIcms');"><strong>Icms</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlIcms"
											name="vlIcms" th:field="*{vlIcms}" />
									</div>
								</div>
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlEstacionamento"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlEstacionamento');"><strong>Estacionamento</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlEstacionamento"
											name="vlEstacionamento" th:field="*{vlEstacionamento}" />
									</div>
								</div>
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAdvalorem"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlAdvalorem');"><strong>Advalorem</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlAdvalorem"
											name="vlAdvalorem" th:field="*{vlAdvalorem}" />
									</div>
								</div>
																
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlPesoLimite"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlPesoLimite');"><strong>Limite Peso</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlPesoLimite"
											name="vlPesoLimite" th:field="*{vlPesoLimite}" />
									</div>
								</div>
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlM3Limite"><a class="blue"
											href="javascript: logField('TabValoresFixosService','vlM3Limite');"><strong>Limite M3</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlM3Limite"
											name="vlM3Limite" th:field="*{vlM3Limite}" />
									</div>
								</div>


							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/valoresfixos/gravarmodal}', '@{/valoresfixos}', '#valoresfixos', '#tabValoresFixosObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#valoresfixos').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script>
</section>
</html>
