/* inicio do reset */

body {
    line-height: 1;
    overflow-x: hidden;
    background: #fff;
}

ol,
ul {
    list-style: none;
    padding: 0px;
    margin-bottom: 0px;    
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

a {
    cursor: pointer;
    text-decoration: none!important;
    -webkit-transition: all .4s ease-out;
    transition: all .4s ease-out;
}

button{
    font-size: 0.9rem;
    margin-top: 20px;
}

figure {
    margin: 0 0 0rem;
}

/* fim do reset */

/* global */

h1, h2, h3, h4, h5, h6{
    color: #0051b6;
    font-weight: 700;
    margin-bottom: 40px;
}

p, ul li{
    color: #7F7F7F;
    line-height: 1.7;
    font-weight: 300;
}

p{
    margin-left: 20px;
    font-weight: 300;
}

section{
    padding-top: 40px;
}

ul{
    margin-left: 40px;
    list-style: inherit;
}

ul li{
    margin-bottom: 20px;
}

ul li:last-child{
    margin-bottom: 0px;
}

.bolder{
    font-weight: 700;
}


/* inicio margins */

/* fim margins */

/* botao */

/* fim botao */

/* cores  */

.red{
    color: #D91A2A!important;
}

.blue{
    color: #0051b6!important;
}

.black{
    color: #000!important;
}

.green{
    color: #00c365!important;
}

/* fim cores*/

/* tamanhos */

/* fim tamanhos */

/* fim global */

@media only screen and (max-width: 767px){

    .col-md-3.text-right{
        text-align: center!important;
        margin-top: 30px;
    }
}