<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
	  xmlns:th="http://www.thymeleaf.org" 
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	  
<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" th:href="@{/assets/img/apple-icon.png}" />
    <link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    Amalog
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous" />
  <!-- CSS Files -->
  <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/now-ui-dashboard.css?v=1.4.1}" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
  <link th:href="@{/assets/css/style.css}" rel="stylesheet" />
  <link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.themes.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/toastr.min.css}"/>
  <link rel="stylesheet" th:href="@{/assets/css/kc.fab.css}"/>
  <!-- 
  <link rel="stylesheet" href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
  <link rel="stylesheet" href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" />
   -->
   <link rel="stylesheet" href="/assets/css/datatables.min.css" />
  <link
		href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video-js.min.css"
		rel="stylesheet" />

  
  
  <!-- <script th:src="@{/assets/js/core/jquery.min.js}"></script> -->
  <script src="https://code.jquery.com/jquery-3.3.1.js"></script> 
  <script src="/assets/js/jquery.mask.min.js"></script>
  
  
  <script src="https://code.jivosite.com/widget/hllrvC3bwZ" async="async" th:if="${ckChat} == null"></script>
  
</head>

<body class=" sidebar-mini ">
  <div class="wrapper ">
    <div class="sidebar" data-color="blue">
      <!--
        Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"
    -->
      <div class="logo">
        <a href="#" class="simple-text logo-mini">
          <img class="img-fluid" alt="" th:src="@{/assets/img/amalog-simbologia-branco.png}" />
        </a>
        <a href="#" class="simple-text logo-normal">
          Amalog
        </a>
      </div>
      <div class="sidebar-wrapper" id="sidebar-wrapper">
        <div class="user">          
          <div class="info">
            <a data-toggle="collapse" href="#collapseExample" class="collapsed">
              <span th:text="${txUsuario}">
                James Amos
                <b class="caret"></b>
              </span>
            </a>            
          </div>
        </div>
        <ul class="nav">
          <li th:each="listaMenus : ${listMenus}">
            <a th:href="${listaMenus.txUrlPage}" th:if="${listaMenus.txUrlPage} != ''">
              <i th:class="${listaMenus.txClass}"></i>
              <p th:text="${cdIdioma} == 'EN' ? ${listaMenus.txMenuIngles} : ${listaMenus.txMenu}">Dashboard</p>
            </a>
            <a data-toggle="collapse" th:href="|#${listaMenus.txAlias}|" th:if="${listaMenus.txUrlPage} == ''">
              <i th:class="${listaMenus.txClass}"></i>
              <p>
                <label th:text="${cdIdioma} == 'EN' ? ${listaMenus.txMenuIngles} : ${listaMenus.txMenu}"></label>
                
                <b class="caret"></b>
              </p>
            </a>
            <div class="collapse" th:id="${listaMenus.txAlias}" th:if="${listaMenus.txUrlPage} == ''">
              <ul class="nav">
                <li th:each="listSubMenus : ${listaMenus.listaSubMenus}">
                  <a th:href="${listSubMenus.txUrlPage}">
                    <span class="sidebar-mini-icon" th:text="${listSubMenus.txMenuLetra}">B</span>
                    <span class="sidebar-normal" th:text="${cdIdioma} == 'EN' ? ${listSubMenus.txSubMenuIngles} : ${listSubMenus.txSubMenu}"> Botões </span>
                  </a>
                </li>
              </ul>
            </div>
          </li>   
                  
         </ul>
      </div>
    </div>
    <div class="main-panel" id="main-panel">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  bg-primary  navbar-absolute">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button> 
            </div>
            <a class="navbar-brand" th:text="${pathtela}">Dashboard</a>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navigation" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
            <span class="navbar-toggler-bar navbar-kebab"></span>
          </button>
           
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header" style="height: 20px; padding-top: 20px;">
      </div>
    
        <section layout:fragment="pagecontent" >
	  				<p>Page Content</p>
		</section>
       
    </div>
  </div>
 <!--   Core JS Files   -->
  <script th:src="@{/assets/js/core/popper.min.js}"></script>
  <script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
  <script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
  <script th:src="@{/assets/js/plugins/moment.min.js}"></script>
  <!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>
  
  <!-- Forms Validations Plugin -->
  <script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
  <!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
  <script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
  <!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
  <script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
  <!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
  <script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
  <!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
  <script th:src="@{/assets/js/plugins/datatables.min.js}"></script>
  <!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
  <script th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
  <!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
  <script th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
  <!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
  <script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
  <!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
  <script th:src="@{/assets/js/plugins/jquery-jvectormap.js}"></script>
  <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
  <script th:src="@{/assets/js/plugins/nouislider.min.js}"></script>  
  <!-- Chart JS -->
  <script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
  <!--  Notifications Plugin    -->
  <script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script th:src="@{/assets/js/now-ui-dashboard.min.js?v=1.4.1}" type="text/javascript"></script>
  <!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
  <script th:src="@{/assets/demo/demo.js}"></script>  
  <!-- 
<script src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
<script src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>
 -->

 <script src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video.min.js"></script> 

  <script th:src="@{/assets/js/jquery.easy-autocomplete.js}"></script>
  <script th:src="@{/assets/js/jtpautocompletesimple.js}"></script>
  <script th:src="@{/assets/js/toastr.min.js}"></script>
  <script th:src="@{/assets/js/jtploading.js}"></script>
  <script th:src="@{/assets/js/jquery.priceformat.min.js}"></script>
  <script th:src="@{/assets/js/jquery.maskMoney.min.js}"></script>
  <script th:src="@{/assets/js/kc.fab.js}"></script>
  <!--  Plugin for Sweet Alert -->
  <script th:src="@{/assets/js/plugins/sweetalert2.min.js}"></script>
  <script th:src="@{/assets/js/jtputil.js}"></script>
  <!-- <script th:src="@{/assets/js/jquery.maskedinput-1.1.4.pack.js}"></script> -->




	<script type="text/javascript">
		$(document).ready(
				function() {
					
					//waitingDialog.hide();
					hidePleaseWait();
					
				});
	</script>
  
</body>

</html>