<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroPropostaMicroledObj" method="get" th:action="@{/logmicroled}" th:object="${tabFiltroPropostaMicroledObj}" >
		<div class="row"> 


<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="cdPropostaFiltro" class="blue"><strong>Proposta</strong></label>
  <input type="text" class="form-control" id="cdPropostaFiltro" name="cdPropostaFiltro"  th:field="*{cdPropostaFiltro}"/>
</div>
</div>

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Log envio Microled</h4>  
</div>  
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> JsonEnvio </th> 
                 <th class="bold disabled-sorting"> JsonRetorno </th> 
                 <th class="bold disabled-sorting"> Dt.Envio </th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/logmicroled/consultar}/${listdados.cdCodigo}');|"> 
                 <td class="blue" th:text="|${#strings.substring(listdados.txJsonEnvio,0,40)}...|"> txJsonEnvio </td> 
                 <td class="blue" th:text="${listdados.txJsonRetorno}"> txJsonRetorno </td> 
                 <td class="blue" th:text="${{listdados.dtCriacao}}"> dtCriacao </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabPropostaMicroledObj" method="post" th:action="@{/logmicroled}" th:object="${tabPropostaMicroledObj}">
<div class="modal fade" id="logdtamantra" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 
					
  <input type="hidden" class="form-control" id="cdCodigo" name="cdCodigo"  th:field="*{cdCodigo}"/>


<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="cdProposta"><a class="blue" href="javascript: logField('TabPropostaMicroledService','cdProposta');"><strong>Proposta</strong></a></label>
  <input type="text" class="form-control-plaintext" id="cdProposta" name="cdProposta" readonly="readonly"  th:field="*{cdProposta}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="dtCriacao"><a class="blue" href="javascript: logField('TabPropostaMicroledService','dtCriacao');"><strong>Dt.Envio</strong></a></label>
  <input type="text" class="form-control-plaintext jtpDate" id="dtCriacao" name="dtCriacao" readonly="readonly"  th:field="*{dtCriacao}" />
</div>
</div>


<!-- INPUT TEXT -->
<div class="col-sm-12">
<div class="form-group">
  <label for="txJsonEnvio"><a class="blue" href="javascript: logField('TabPropostaMicroledService','txJsonEnvio');"><strong>JsonEnvio</strong></a></label>
  <textarea class="form-control-plaintext" id="txJsonEnvio" rows="10" name="txJsonEnvio" readonly="readonly"  th:field="*{txJsonEnvio}"></textarea>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-12">
<div class="form-group">
  <label for="txJsonRetorno"><a class="blue" href="javascript: logField('TabPropostaMicroledService','txJsonRetorno');"><strong>JsonRetorno</strong></a></label>
  <input type="text" class="form-control-plaintext" id="txJsonRetorno" name="txJsonRetorno" readonly="readonly" th:field="*{txJsonRetorno}"/>
</div>
</div>

</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
    
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#logdtamantra').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 




 });
 /*]]>*/ 
</script> 
</section>
</html>
