<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
		<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabFiltroDedicadoObj" method="get"
									th:action="@{/dedicado}" th:object="${tabFiltroDedicadoObj}">
									<div class="row">


										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdDestinoFiltro" class="blue"><strong>Destino</strong></label>
												<select class="custom-select blue" id="cdDestinoFiltro"
													th:field="*{cdDestinoFiltro}">
													<option value="">...</option>
													<option th:each="scddestino : ${selectcddestino}"
												th:value="${scddestino.cdDestino}"
												th:text="${scddestino.txDestino}"></option>
												</select>
											</div>
										</div>



										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Destinos
								- Valores Dedicado</h4>
						</div>
						<a href="/dedicado/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">Dê</th>
									<th class="bold disabled-sorting">Até</th>
									<th class="bold disabled-sorting">Valor</th>
									<th class="bold disabled-sorting">Peso</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/dedicado/consultar}/${listdados.cdDedicado}');|">
									<td class="blue" th:text="${listdados.tabOrigemObj.txOrigem}">
										tabOrigemObj</td>
									<td class="blue" th:text="${listdados.tabDestinoObj.txDestino}">
										tabDestinoObj</td>
									<td class="blue" th:text="${{listdados.vlDe}}">vlDe</td>
									<td class="blue" th:text="${{listdados.vlAte}}">vlAte</td>
									<td class="blue" th:text="${{listdados.vlValor}}">vlValor
									</td>
									<td class="blue" th:text="${{listdados.vlPeso}}">vlPeso</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabDedicadoObj" method="post" th:action="@{/dedicado}"
		th:object="${tabDedicadoObj}">
		<div class="modal fade" id="dedicado" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">

								<input type="hidden" class="form-control" id="cdDedicado"
									name="cdDedicado" th:field="*{cdDedicado}" />


								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="tabOrigemObj" class="blue"><strong>Origem</strong></label>
										<select class="custom-select blue" id="tabOrigemObj.cdOrigem"
											th:field="*{tabOrigemObj.cdOrigem}">
											<option value="">...</option>
											<option th:each="scdorigem : ${selectcdorigem}"
												th:value="${scdorigem.cdOrigem}"
												th:text="${scdorigem.txOrigem}"></option>
										</select>
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="tabDestinoObj" class="blue"><strong>Destino</strong></label>
										<select class="custom-select blue"
											id="tabDestinoObj.cdDestino"
											th:field="*{tabDestinoObj.cdDestino}">
											<option value="">...</option>
											<option th:each="scddestino : ${selectcddestino}"
												th:value="${scddestino.cdDestino}"
												th:text="${scddestino.txDestino}"></option>
										</select>
									</div>
								</div>

								<!-- INPUT TEXT BIGDECIMAL -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlDe"><a class="blue"
											href="javascript: logField('TabDedicadoService','vlDe');"><strong>Dê</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlDe"
											name="vlDe" th:field="*{vlDe}" />
									</div>
								</div>

								<!-- INPUT TEXT BIGDECIMAL -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAte"><a class="blue"
											href="javascript: logField('TabDedicadoService','vlAte');"><strong>Ate</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlAte"
											name="vlAte" th:field="*{vlAte}" />
									</div>
								</div>

								<!-- INPUT TEXT BIGDECIMAL -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlValor"><a class="blue"
											href="javascript: logField('TabDedicadoService','vlValor');"><strong>Valor</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlValor"
											name="vlValor" th:field="*{vlValor}" />
									</div>
								</div>

								<!-- INPUT TEXT BIGDECIMAL -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlPeso"><a class="blue"
											href="javascript: logField('TabDedicadoService','vlPeso');"><strong>Peso</strong></a></label>
										<input type="text" class="form-control textFloat" id="vlPeso"
											name="vlPeso" th:field="*{vlPeso}" />
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/dedicado/gravarmodal}', '@{/dedicado}', '#dedicado', '#tabDedicadoObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#dedicado').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 

 });
 /*]]>*/ 
</script>
</section>
</html>
