<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="page-inner">
		<div class="page-section">
			<section id="base-style" class="card">
				<div class="card-body">
					<form id="tabPropostaObj" name="tabPropostaObj" method="post"
						th:action="@{/propostaltl/gravar}" th:object="${tabPropostaObj}">
						<fieldset>
							<section>
								
								 <a href="javascript: gravar('tabPropostaObj');" id="linkGravar"
									th:if="${cdGrupoVisao} == 9 and *{cdStatus} == null">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-save"></i>Gravar
									</button>
								</a> 
								
								<a href="javascript: gravar('tabPropostaObj');" id="linkGravar"
									th:if="${cdGrupoVisao} == 9 and *{cdStatus} == 1">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-save"></i>Gravar
									</button>
								</a>
								
								 <a href="javascript: gravar('tabPropostaObj');" id="linkGravar"
									th:if="${cdGrupoVisao} == 1 or ${cdGrupoVisao} == 2">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-save"></i>Gravar
									</button>
								</a> 

								<a
									href="javascript: openWindowSimple('/propostagrdoordelivery', '_blank');"
									id="linkbtRegras" >
									<button type="button" id="btRegras"
									class="btn menu-dados-regra" th:text="${cdIdioma} == 'EN' ? 'Rules of GR' : 'Regras de GR'">
									<i class="fas fa-exclamation-triangle"></i> Regras de GR
									</button>
								</a>

								<a
									th:href="|javascript: openWindowSimple('/propostaimpressaoltl/*{txHashProposta}', '_blank');|"
									id="linkImprimir" th:if="*{vlFretePrevisto} != null and ${cdIdioma} != 'EN'">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-print"></i>Imprimir Proposta
									</button>
								</a> <a
									th:href="|javascript: openWindowSimple('/propostaltl/propostaaceite/*{cdProposta}');|"
									id="linkAceiteProposta"
									th:if="*{vlFretePrevisto} != null and *{dtAceite} == null and ${cdIdioma} != 'EN'">
									<button type="button" class="btn menu-aceite">
										<i class="fas fa-thumbs-up"></i> Aceite da Proposta
									</button>
								</a>


								<button type="button" id="btDadosAceite"
									class="btn menu-dados-aceite" th:if="*{dtAceite} != null and ${cdIdioma} != 'EN'">
									<i class="fas fa-thumbs-up"></i> Dados do Aceite da Proposta
								</button>

								<a
									href="javascript: openWindowSimple('/propostaaceiteltl', '_blank');"
									id="linkAceitePropostaImpressao" th:if="*{dtAceite} != null and ${cdIdioma} != 'EN'">
									<button type="button" class="btn menu-usuario">
										<i class="fas fa-print"></i> Aceite Condições de Carregamento
									</button>
								</a>

								<button type="button" class="btn-voltar float-right"
									th:onclick="|javascript: abrirtela('@{/propostaltlpesquisa}');|" th:text="${cdIdioma} == 'EN' ? 'Back' : 'Voltar'">
									Voltar</button>

							</section>

							<div class="row" style="padding-top: 10px">

								<input type="hidden" id="cdProposta" name="cdProposta"
									th:field="*{cdProposta}" /> <input type="hidden"
									id="cdUsuario" name="cdUsuario" th:field="*{cdUsuario}" /> <input
									type="hidden" id="txHashProposta" name="txHashProposta"
									th:field="*{txHashProposta}" /> <input type="hidden"
									id="cdUsuarioAceite" name="cdUsuarioAceite"
									th:field="*{cdUsuarioAceite}" /> <input type="hidden"
									id="cdPerfilVeiculo" name="cdPerfilVeiculo"
									th:field="*{cdPerfilVeiculo}" /> <input type="hidden"
									id="ckUploadDoctos" name="ckUploadDoctos"
									th:field="*{ckUploadDoctos}" /> <input type="hidden"
									id="dtBaixaPagtoArmazenagem" name="dtBaixaPagtoArmazenagem"
									th:value="*{{dtBaixaPagtoArmazenagem}}" /> <input
									type="hidden" id="txCheckUploadDoctos"
									name="txCheckUploadDoctos" th:value="*{txCheckUploadDoctos}" />
								<input type="hidden" id="dtLiberacaoDocumentos"
									name="dtLiberacaoDocumentos"
									th:value="*{{dtLiberacaoDocumentos}}" /> <input type="hidden"
									id="txBoletoId" name="txBoletoId" th:value="*{txBoletoId}" />
								<input type="hidden" id="dtBoletoVencto" name="dtBoletoVencto"
									th:value="*{{dtBoletoVencto}}" /> <input type="hidden"
									id="dtBoletoPagto" name="dtBoletoPagto"
									th:value="*{{dtBoletoPagto}}" /> <input type="hidden"
									id="txBoletoLinhaDigitavel" name="txBoletoLinhaDigitavel"
									th:value="*{txBoletoLinhaDigitavel}" /> <input type="hidden"
									id="txBoletoUrl" name="txBoletoUrl" th:value="*{txBoletoUrl}" />
								<input type="hidden" id="txBoletoErros" name="txBoletoErros"
									th:value="*{txBoletoErros}" /> <input type="hidden"
									id="txIuguRetornos" name="txIuguRetornos"
									th:value="*{txIuguRetornos}" /> <input type="hidden"
									id="dtPagtoComissao" name="dtPagtoComissao"
									th:value="*{{dtPagtoComissao}}" /> <input type="hidden"
									id="ckRotaAmalog" name="ckRotaAmalog"
									th:value="*{ckRotaAmalog}" /> <input type="hidden"
									id="vlTaxaInformativo" name="vlTaxaInformativo"
									th:field="*{{vlTaxaInformativo}}" /> <input type="hidden"
									id="ckReconferencia" name="ckReconferencia"
									th:field="*{ckReconferencia}" />
									<input type="hidden"
									id="txTipoProposta" name="txTipoProposta"
									value="LTL" />
									<input type="hidden" id="cdEmpresa"
							name="cdEmpresa" th:value="*{cdEmpresa}" />	


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="txProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','txProposta');"><strong
												th:text="${cdIdioma} == 'EN' ? ${lbtxProposta} : 'No.Proposta/Solicitação'">No.Proposta/Solicitação</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="txProposta" name="txProposta" readonly="readonly"
											th:field="*{txProposta}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="dtProposta"><a class="blue"
											href="javascript: logField('TabPropostaService','dtProposta');"><strong
												th:text="${cdIdioma} == 'EN' ? ${lbdtProposta} : 'Dt.Proposta/Solicitação'">Dt.Proposta/Solicitação</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="dtProposta" name="dtProposta" readonly="readonly"
											th:field="*{dtProposta}" />
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="cdCliente"><a class="blue"
											href="javascript: logField('TabPropostaService','cdCliente');"><strong
												th:text="${cdIdioma} == 'EN' ? 'Client' : 'Cliente'">Despachante</strong></a></label>
										<select class="custom-select" id="cdCliente"
											th:field="*{cdCliente}">
											<option value="">...</option>
											<option th:each="scdstatus : ${selectcdcliente}"
												th:value="${scdstatus.cdCliente}"
												th:text="${scdstatus.txCliente}"></option>
										</select>
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="cdTipoCarregamento"><a class="blue"
											href="javascript: logField('TabPropostaService','cdTipoCarregamento');"><strong
												th:text="${cdIdioma} == 'EN' ? 'Loading Type' : 'Tipo Carregamento'">Tipo
													Carregamento</strong></a></label> <select class="custom-select"
											id="cdTipoCarregamento" th:field="*{cdTipoCarregamento}">
											<option value="">...</option>
											<option
												th:each="scdtipocarregamento : ${selectcdtipocarregamento}"
												th:value="${scdtipocarregamento.cdTipoCarregamento}"
												th:text="${scdtipocarregamento.txTipoCarregamento}"></option>
										</select>
									</div>
								</div>
								
									<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdViaTransporte"><a class="blue"
													href="javascript: logField('TabPropostaService','cdViaTransporte');"><strong>Modal
															?</strong></a></label> <select class="custom-select" id="cdViaTransporte"
													th:field="*{cdViaTransporte}">
													<option value="">...</option>
													<option value="1">AÉREO</option>
													<option value="2">MARÍTIMO</option>
												</select>
											</div>
										</div>
								

							</div>

							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloDadosCalculo"
								th:text="${cdIdioma} == 'EN' ? 'Data For DoorDelivery Calculation ' : 'Dados para Calculo 							em (R$)'">Dados
								para Calculo da DTA / DAT em (R$)</h5>

							<div class="card" id="divDadosCalculo" th:if="*{cdProposta} != null and *{cdViaTransporte} != null">
								<div class="card-body">
									<div class="row">

										<!-- SELECT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="cdDestino"><a class="blue"
													href="javascript: logField('TabPropostaService','cdDestino');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Origin/Destination' : 'Origem/Destino'">Destino</strong></a></label>
												<select class="custom-select" id="cdDestino"
													th:field="*{cdDestino}">
													<option value="">...</option>
													<option th:each="scddestino : ${selectcddestino}"
														th:value="${scddestino.cdDestinoLtl}"
														th:text="|${scddestino.txOrigemLtl} / ${scddestino.txDestinoLtl}|"></option>
												</select>
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlValor">
											<div class="form-group">
												<label for="vlValor"><a class="blue"
													href="javascript: logField('TabPropostaService','vlValor');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Destination Value' : 'Valor Destino'">Valor
															Destino</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlValor" name="vlValor" th:field="*{vlValor}"
													readonly="readonly" />
											</div>
										</div>

										<!-- 
										<div class="col-sm-2">
											<div class="form-group">
												<label for="cdPerfilVeiculo"><a class="blue"
													href="javascript: logField('TabPropostaService','cdPerfilVeiculo');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Vehicle Profile' : 'Perfil Veículo'">Perfil
															Veículo</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txPerfilVeiculo" name="txPerfilVeiculo"
													th:field="*{txPerfilVeiculo}" readonly="readonly" />
											</div>
										</div>
 										-->

									

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPeso"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPeso');"><strong><span id="lbPeso">Peso
															Mercadoria(KG)</span></strong></a></label> <input type="text"
													class="form-control textFloat3" id="vlPeso" name="vlPeso"
													th:field="*{vlPeso}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlM3">
											<div class="form-group">
												<label for="vlM3"><a class="blue"
													href="javascript: logField('TabPropostaService','vlM3');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Measurement (CBM)' : 'M3/Cubagem'">M3/Cubagem</strong></a></label>
												<input type="text" class="form-control textFloat3" id="vlM3"
													name="vlM3" th:field="*{vlM3}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlBase">
											<div class="form-group">
												<label for="vlBase"><a class="blue"
													href="javascript: logField('TabPropostaService','vlBase');"><strong>Valor
															Base</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlBase" name="vlBase" th:field="*{vlBase}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlCarga">
											<div class="form-group">
												<label for="vlCarga"><a class="blue"
													href="javascript: logField('TabPropostaService','vlCarga');"><strong>Valor
															Mercadoria(R$)</strong></a></label> <input type="text"
													class="form-control textFloat" id="vlCarga" name="vlCarga"
													th:field="*{vlCarga}" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlCargaMoeda">
											<div class="form-group">
												<label for="vlCargaMoeda"><a class="blue"
													href="javascript: logField('TabPropostaService','vlCargaMoeda');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Goods Value Dollar' : 'Valor Mercadoria Dolar'">Valor
															Mercadoria(R$)</strong></a></label> <input type="text"
													class="form-control textFloat" id="vlCargaMoeda"
													name="vlCargaMoeda" th:field="*{vlCargaMoeda}" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div th:class="col-sm-4">
											<div class="form-group">
												<label for="txMercadoria"><a class="blue"
													href="javascript: logField('TabPropostaService','txMercadoria');"><strong
														th:text="${cdIdioma} == 'EN' ? 'Description of Goods' : 'Descrição
															da Mercadoria'">Descrição
															da Mercadoria</strong></a></label> <input type="text" class="form-control"
													id="txMercadoria" name="txMercadoria"
													th:field="*{txMercadoria}" />
											</div>
										</div>

									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloParticularidadesCarga" th:if="*{cdProposta} != null and *{cdViaTransporte} != null">Particularidades da
								Carga</h5>

							<div class="card" id="divParticularidadesCarga" th:if="*{cdProposta} != null and *{cdViaTransporte} != null">
								<div class="card-body">
									<div class="row">



										<!-- SELECT -->
										<div class="col-sm-2" id="divCkFreteExclusivo">
											<div class="form-group">
												<label for="ckFreteExclusivo"><a class="blue"
													href="javascript: logField('TabPropostaService','ckFreteExclusivo');"><strong>Frete
															Dedicado ?</strong></a></label> <select class="custom-select"
													id="ckFreteExclusivo" th:field="*{ckFreteExclusivo}">
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckImoPerigoso"><a class="blue"
													href="javascript: logField('TabPropostaService','ckImoPerigoso');"><strong
														th:text="${cdIdioma} == 'EN' ? 'IMO-Dangerous Cargo?' : 'IMO-Carga Perigosa ?'">IMO-Carga
															Perigosa ?</strong></a></label> <select class="custom-select"
													id="ckImoPerigoso" th:field="*{ckImoPerigoso}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>

										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckNaoRemonte"><a class="blue"
													href="javascript: logField('TabPropostaService','ckNaoRemonte');"><strong
														th:text="${cdIdioma} == 'EN' ? 'STACKABLE?' : 'Empilhavel ?'">Empilhavel
															?</strong></a></label> <select class="custom-select" id="ckNaoRemonte"
													th:field="*{ckNaoRemonte}">
													<option value="">...</option>
													<option value="2">NÃO</option>
													<option value="1">SIM</option>
												</select>
											</div>
										</div>
										
										
										
										<!-- INPUT TEXT -->
										<div th:class="col-sm-2">
											<div class="form-group">
												<label for="txBl"><a class="blue"
													href="javascript: logField('TabPropostaService','txBl');"><strong>BL/AWB</strong></a></label> <input type="text" class="form-control"
													id="txBl" name="txBl"
													th:field="*{txBl}" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div th:class="col-sm-2">
											<div class="form-group">
												<label for="txDi"><a class="blue"
													href="javascript: logField('TabPropostaService','txDi');"><strong>No.D.I.
														</strong></a></label> <input type="text" class="form-control"
													id="txDi" name="txDi"
													th:field="*{txDi}" />
											</div>
										</div>
										
										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckAjudante"><a class="blue"
													href="javascript: logField('TabPropostaService','ckAjudante');"><strong>Ajudante
															? </strong></a></label> <select class="custom-select" id="ckAjudante"
													th:field="*{ckAjudante}">
													<option value="">...</option>
													<option value="1">SIM</option>
													<option value="2">NÃO</option>
												</select>
											</div>
										</div>
										
										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckRestricaoViaAcesso"><a class="blue"
													href="javascript: logField('TabPropostaService','ckRestricaoViaAcesso');"><strong>Restrição Via Acesso
															? </strong></a></label> <select class="custom-select" id="ckRestricaoViaAcesso"
													th:field="*{ckRestricaoViaAcesso}">
													<option value="">...</option>
													<option value="1">SIM</option>
													<option value="2">NÃO</option>
												</select>
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div th:class="col-sm-6">
											<div class="form-group">
												<label for="txRestricaoViaAcesso"><a class="blue"
													href="javascript: logField('TabPropostaService','txRestricaoViaAcesso');"><strong>Quais?
														</strong></a></label> <input type="text" class="form-control"
													id="txRestricaoViaAcesso" name="txRestricaoViaAcesso"
													th:field="*{txRestricaoViaAcesso}" />
											</div>
										</div>
										
										<!-- SELECT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="ckRestricaoLocalDescarga"><a class="blue"
													href="javascript: logField('TabPropostaService','ckRestricaoLocalDescarga');"><strong>Restrição Local Descarga
															? </strong></a></label> <select class="custom-select" id="ckRestricaoLocalDescarga"
													th:field="*{ckRestricaoLocalDescarga}">
													<option value="">...</option>
													<option value="1">SIM</option>
													<option value="2">NÃO</option>
												</select>
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div th:class="col-sm-6">
											<div class="form-group">
												<label for="txRestricaoLocalDescarga"><a class="blue"
													href="javascript: logField('TabPropostaService','txRestricaoLocalDescarga');"><strong>Quais?
														</strong></a></label> <input type="text" class="form-control"
													id="txRestricaoLocalDescarga" name="txRestricaoLocalDescarga"
													th:field="*{txRestricaoLocalDescarga}" />
											</div>
										</div>
									</div>
								</div>
							</div>



							<h5 style="padding-top: 1px" class="blue bold"
								id="txTituloValoresFrete" th:text="${cdIdioma == 'EN' ? 'Calculated Values(Dollar)' : 'Valores Apurados(R$)'}">Valores
								Apurados(R$)</h5>
							<div class="card" id="txValoresFrete">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlFretePrevisto">
											<div class="form-group">
												<label for="vlFretePrevisto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePrevisto');"><strong>Valor
															Frete Previsto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePrevisto"
													name="vlFretePrevisto" th:field="*{vlFretePrevisto}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlFrete">
											<div class="form-group">
												<label for="vlFrete"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFrete');"><strong>Valor
															Frete Efetivo</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFrete" name="vlFrete"
													th:field="*{vlFrete}" readonly="readonly" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlFreteMoeda">
											<div class="form-group">
												<label for="vlFreteMoeda"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFreteMoeda');"><strong>Expected
															Freight Amount</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFreteMoeda"
													name="vlFreteMoeda" th:field="*{vlFreteMoeda}"
													readonly="readonly" />
											</div>
										</div>
										
									</div>
								</div>
							</div>

							<h5 style="padding-top: 1px" class="blue bold"
								id="txTituloDespesasComplementares" th:if="*{ckNaoRemonte} != null">Despesas Complementares
								em (R$)</h5>

							<div class="card" id="txDespesasComplementares" th:if="*{ckNaoRemonte} != null">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2"
											th:if="*{vlFretePesoSdesconto} != null and *{vlFretePesoSdesconto} > 0">
											<div class="form-group">
												<label for="vlFretePesoSdesconto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePesoSdesconto');"><strong>Valor
															Frete Peso S/Desconto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePesoSdesconto"
													name="vlFretePesoSdesconto"
													th:field="*{vlFretePesoSdesconto}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" id="divVlDesconto"
											>
											<div class="form-group">
												<label for="vlDesconto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDesconto');"><strong>Valor
															Desconto</strong></a></label> <input type="text"
													class="form-control textFloat" id="vlDesconto"
													name="vlDesconto" th:field="*{vlDesconto}"
													 />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFretePeso"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFretePeso');"><strong>Valor
															Frete Peso</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlFretePeso"
													name="vlFretePeso" th:field="*{vlFretePeso}"
													readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlDespacho"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDespacho');"><strong>Despacho</strong></a></label>
												<input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext textFloat' : 'form-control textFloat'"
													id="vlDespacho" name="vlDespacho" th:field="*{vlDespacho}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPedagio"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPedagio');"><strong>Pedágio</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlPedagio" name="vlPedagio" th:field="*{vlPedagio}"
													readonly="readonly" /> 
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlGris"><a class="blue"
													href="javascript: logField('TabPropostaService','vlGris');"><strong>GRIS</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlGris" name="vlGris" th:field="*{vlGris}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlImoCarga"><a class="blue"
													href="javascript: logField('TabPropostaService','vlImoCarga');"><strong>IMO-Carga
															Perigosa</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlImoCarga"
													name="vlImoCarga" th:field="*{vlImoCarga}"
													readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlFreteValor"><a class="blue"
													href="javascript: logField('TabPropostaService','vlFreteValor');"><strong>Empilhavel</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlFreteValor" name="vlFreteValor"
													th:field="*{vlFreteValor}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlCat"><a class="blue"
													href="javascript: logField('TabPropostaService','vlCat');"><strong>CAT</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAdeme"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAdeme');"><strong>Ademe</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlTaxaColeta"><a class="blue"
													href="javascript: logField('TabPropostaService','vlTaxaColeta');"><strong>Taxa
															Coleta</strong></a></label> <input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEstadia"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEstadia');"><strong>Estadia</strong></a></label>
												<input type="text" class="form-control textFloat"
													id="vlEstadia" name="vlEstadia" th:field="*{vlEstadia}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlMonitoramento"><a class="blue"
													href="javascript: logField('TabPropostaService','vlMonitoramento');"><strong>Monitoramento</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="incluso" readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAdvalorem"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAdvalorem');"><strong>Advalorem</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlAdvalorem" name="vlAdvalorem"
													th:field="*{vlAdvalorem}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEscolta"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEscolta');"><strong>Escolta</strong></a></label>
												<input type="text" class="form-control-plaintext"
													value="caso ocorra" readonly="readonly" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAjudante"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAjudante');"><strong>Ajudante</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlAjudante" name="vlAjudante"
													th:field="*{vlAjudante}" readonly="readonly" />
											</div>
										</div>
										
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlEstacionamento"><a class="blue"
													href="javascript: logField('TabPropostaService','vlEstacionamento');"><strong>Estacionamento</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlEstacionamento" name="vlEstacionamento"
													th:field="*{vlEstacionamento}" readonly="readonly" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlSubtotal"><a class="blue"
													href="javascript: logField('TabPropostaService','vlSubtotal');"><strong>Subtotal</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlSubtotal" name="vlSubtotal" th:field="*{vlSubtotal}"
													readonly="readonly" />
											</div>
										</div>
									</div>
								</div>
							</div>

							<h5 id="txTituloIcms" style="padding-top: 1px" class="blue bold" th:if="*{ckNaoRemonte} != null">ICMS
								em (R$)</h5>


							<div id="txDadosIcms" class="card" th:if="*{ckNaoRemonte} != null">
								<div class="card-body">
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlBaseIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlBaseIcms');"><strong>Valor
															Base ICMS</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlBaseIcms"
													name="vlBaseIcms" th:field="*{vlBaseIcms}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAliqIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAliqIcms');"><strong>Valor
															Aliq ICMS</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlAliqIcms"
													name="vlAliqIcms" th:field="*{vlAliqIcms}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlIcms"><a class="blue"
													href="javascript: logField('TabPropostaService','vlIcms');"><strong>Valor
															ICMS</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlIcms" name="vlIcms" th:field="*{vlIcms}"
													readonly="readonly" />
											</div>
										</div>


									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloReferencia" th:if="*{ckNaoRemonte} != null">Referência Interna</h5>

							<div class="card" id="divReferencia" th:if="*{ckNaoRemonte} != null">
								<div class="card-body">
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txReferencia"><a class="blue"
													href="javascript: logField('TabPropostaService','txReferencia');"><strong>Referência</strong></a></label>
												<input type="text" class="form-control"
													id="txReferencia" name="txReferencia" th:field="*{txReferencia}"
													 />
											</div>
										</div>
									</div>
								</div>
							</div>

							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloAceiteProposta" th:if="*{ckNaoRemonte} != null">Validade, Aceite da
								Proposta/Solicitação e Status</h5>

							<div class="card" id="divAceiteProposta" th:if="*{ckNaoRemonte} != null">
								<div class="card-body">
									<div class="row">
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtValidade"><a class="blue"
													href="javascript: logField('TabPropostaService','dtValidade');"><strong>Dt.Validade</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="dtValidade" name="dtValidade" th:field="*{dtValidade}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4" th:if="*{txUsuarioAceite} != null">
											<div class="form-group">
												<label for="txUsuarioAceite"><a class="blue"
													href="javascript: logField('TabPropostaService','cdUsuarioAceite');"><strong>Usuário
															Aceite</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txUsuarioAceite" name="txUsuarioAceite"
													th:field="*{txUsuarioAceite}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2" th:if="*{txUsuarioAceite} != null">
											<div class="form-group">
												<label for="dtAceite"><a class="blue"
													href="javascript: logField('TabPropostaService','dtAceite');"><strong>Dt.Aceite</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="dtAceite" name="dtAceite" th:field="*{dtAceite}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txUsuario"><a class="blue"
													href="javascript: logField('TabPropostaService','cdUsuario');"><strong>Usuário</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txUsuario" name="txUsuario" readonly="readonly"
													th:field="*{txUsuario}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4" th:if="${cdGrupoVisao} > 2">
											<div class="form-group">
												<label for="txStatus"><a class="blue"
													href="javascript: logField('TabPropostaService','txStatus');"><strong>Status</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txStatus" name="txStatus" readonly="readonly"
													th:field="*{txStatus}" />
											</div>
										</div>

										<input type="hidden" class="form-control-plaintext"
											id="cdStatus" name="cdStatus" th:field="*{cdStatus}"
											th:if="${cdGrupoVisao} > 2" />

										<!-- SELECT -->
										<div class="col-sm-4"
											th:if="${cdGrupoVisao} == 1 or ${cdGrupoVisao} == 2">
											<div class="form-group">
												<label for="cdStatus"><a class="blue"
													href="javascript: logField('TabPropostaService','cdStatus');"><strong>Status</strong></a></label>
												<select class="custom-select" id="cdStatus"
													th:field="*{cdStatus}">
													<option value="">...</option>
													<option th:each="scdstatus : ${selectcdstatus}"
														th:value="${scdstatus.cdStatus}"
														th:text="${scdstatus.txStatus}"></option>
												</select>
											</div>
										</div>


									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								id="divTituloImportadorExportador" th:if="*{ckNaoRemonte} != null">Dados do
								Importador/Exportador</h5>

							<div class="card" id="divImportadorExportador" th:if="*{ckNaoRemonte} != null">

								<div class="card-body">

									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txImportador"><a class="blue"
													href="javascript: logField('TabPropostaService','txImportador');"><strong>Importador/Exportador</strong></a></label>
												<input type="text" class="form-control" id="txImportador"
													name="txImportador" th:field="*{txImportador}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txCnpjImportador"><a class="blue"
													href="javascript: logField('TabPropostaService','txCnpjImportador');"><strong>CNPJ/CPF
													</strong></a></label> <input type="text" class="form-control"
													id="txCnpjImportador" name="txCnpjImportador"
													th:field="*{txCnpjImportador}" />
											</div>
										</div>
									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								th:if="*{cdStatus} != null and *{cdStatus} > 2">Validação
								dados da Desova</h5>

							<div class="card"
								th:if="*{cdStatus} != null and *{cdStatus} > 2 and (${cdGrupoVisao} == 1 or ${cdGrupoVisao} == 2)">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlComprimento"><a class="blue"
													href="javascript: logField('TabPropostaService','vlComprimento');"><strong>Comprimento</strong></a></label>
												<input type="text" class="form-control textFloat"
													id="vlComprimento" name="vlComprimento"
													th:field="*{vlComprimento}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAltura"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAltura');"><strong>Altura</strong></a></label>
												<input type="text" class="form-control textFloat"
													id="vlAltura" name="vlAltura" th:field="*{vlAltura}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlLargura"><a class="blue"
													href="javascript: logField('TabPropostaService','vlLargura');"><strong>Largura</strong></a></label>
												<input type="text" class="form-control textFloat"
													id="vlLargura" name="vlLargura" th:field="*{vlLargura}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlM3Pack"><a class="blue"
													href="javascript: logField('TabPropostaService','vlM3Pack');"><strong>M3
															PackingList</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlM3Pack"
													name="vlM3Pack" th:field="*{vlM3Pack}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPesoExtratoDesova"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPesoExtratoDesova');"><strong>Peso
															Extrato Desova</strong></a></label> <input type="text"
													class="form-control textFloat3" id="vlPesoExtratoDesova"
													name="vlPesoExtratoDesova"
													th:field="*{vlPesoExtratoDesova}" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txVolume"><a class="blue"
													href="javascript: logField('TabPropostaService','txVolume');"><strong>Volume</strong></a></label>
												<input type="text" class="form-control" id="txVolume"
													name="txVolume" th:field="*{txVolume}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlQtdeVolume"><a class="blue"
													href="javascript: logField('TabPropostaService','vlQtdeVolume');"><strong>Qtde.Volume</strong></a></label>
												<input type="number" class="form-control" id="vlQtdeVolume"
													name="vlQtdeVolume" th:field="*{vlQtdeVolume}" />
											</div>
										</div>


										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlMercadoriaInvoice"><a class="blue"
													href="javascript: logField('TabPropostaService','vlMercadoriaInvoice');"><strong>Valor
															Mercadoria Invoice</strong></a></label> <input type="text"
													class="form-control textFloat" id="vlMercadoriaInvoice"
													name="vlMercadoriaInvoice"
													th:field="*{vlMercadoriaInvoice}" />
											</div>
										</div>
									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								th:if="*{txUsuarioAceite} != null">Dados sobre Situação da
								Carga</h5>

							<div class="card" th:if="*{txUsuarioAceite} != null"
								id="divDadosSituacaoCargaExp">
								<div class="card-body">
									<div class="row">


										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txNfs"><a class="blue"
													href="javascript: logField('TabPropostaService','txNfs');"><strong>Notas
															Fiscais </strong></a></label> <input type="text" class="form-control"
													id="txNfs" name="txNfs" th:field="*{txNfs}" />
											</div>
										</div>
									</div>

								</div>
							</div>


							<div class="row" th:if="*{cdStatus} != null and *{cdStatus} > 2">
								<div class="col-md-12">
									<div class="card">
										<div class="row">
											<div class="card-header">
												<h4 class="card-title blue bold" style="padding-left: 10px">Documentos</h4>
											</div>

											<button type="button" id="btDocumentosInserir"
												class="btn btn-default float-right"
												style="margin: 25px 0px 0px; max-height: 37px; float: right;">
												<strong>Inserir Documento</strong>
											</button>

											<div class="card-header">
												<h5 class="card-title red bold" style="padding-left: 10px"
													th:text="*{txCheckUploadDoctos}"
													th:if="*{ckUploadDoctos} == 0">Aguardando Upload de
													todos os Documentos!</h5>
												<h5 class="card-title green bold" style="padding-left: 10px"
													th:text="*{txCheckUploadDoctos}"
													th:if="*{ckUploadDoctos} == 1">Aguardando Upload de
													todos os Documentos!</h5>

												
											</div>
										</div>

										
										<div class="card-body">
											<div class="toolbar"></div>
											<table id="datatable"
												class="table table-striped table-bordered" cellspacing="0"
												width="100%">
												<thead>
													<tr>
														<th class="bold disabled-sorting">Classificação</th>
														<th class="bold disabled-sorting">Documento</th>
														<th class="bold disabled-sorting">Dt.Upload</th>
														<th class="bold disabled-sorting">Usuário Upload</th>
														<th class="bold disabled-sorting">Pendência</th>
														<th class="bold disabled-sorting">Dt.Validação</th>
														<th class="bold disabled-sorting">Usuário Validação</th>
														<th class="bold disabled-sorting">Observação</th>
														<th class="disabled-sorting text-right bold"></th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="listdados : ${listaDocumentos}">
														<td class="blue" th:text="${listdados.txClassificacao}"
															th:onclick="|javascript: abrirtela('@{/propostaltl/consultardocumento}/${listdados.cdPropostaDocumento}/${listdados.cdProposta}');|">
															txClassificacao</td>
														<td class="blue"><a th:href="${listdados.txUrl}"
															th:text="${listdados.txNomeArquivo}"> txClassificacao
														</a></td>
														<td class="blue" th:text="${{listdados.dtCriacao}}">
															dtCriacao</td>
														<td class="blue" th:text="${listdados.txUsuarioCriacao}">
															dtCriacao</td>
														<td class="blue" th:text="${listdados.txPendencia}"
															th:onclick="|javascript: abrirtela('@{/propostaltl/consultardocumento}/${listdados.cdPropostaDocumento}/${listdados.cdProposta}');|">
															txPendencia</td>
														<td class="blue" th:text="${{listdados.dtValidacao}}">
															dtCriacao</td>
														<td class="blue" th:text="${listdados.txUsuarioValidacao}">
															dtCriacao</td>
														<td class="blue" th:text="${listdados.txObs}">
															dtCriacao</td>
														<td class="text-right"
															th:if="${listdados.cdValidado} != 1"><a
															th:href="|javascript: showPergunta('Deseja excluir o Arquivo','/propostaltl/excluirdocumento/${listdados.cdPropostaDocumento}','ajax','/propostaltl/consultar/${cdProposta}');|"
															class="btn btn-round btn-danger btn-icon btn-sm remove"><i
																class="fas fa-times"></i></a></td>
														<td class="text-right"
															th:if="${listdados.cdValidado} == 1"><a
															class="btn btn-round btn-success btn-icon btn-sm remove"><i
																class="fas fa-check"></i></a></td>
													</tr>
												</tbody>
											</table>
										</div>
									</div>
								</div>
							</div>


							<h5 style="padding-top: 1px" class="blue bold"
								th:if="*{ckUploadDoctos} == 1">Follow-up</h5>

							<div class="card" th:if="*{ckUploadDoctos} == 1">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2"
											th:if="*{cdTipoCarregamento} != 1 and *{cdTipoCarregamento} != 3">
											<div class="form-group">
												<label for="dtEntradaCd"><a class="blue"
													href="javascript: logField('TabPropostaService','dtEntradaCd');"><strong>Dt.Entrada
															Armazém</strong></a></label> <input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext jtpDateTime' : 'form-control jtpDateTime'"
													id="dtEntradaCd" name="dtEntradaCd"
													th:field="*{dtEntradaCd}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtPrevCarregamento"><a class="blue"
													href="javascript: logField('TabPropostaService','dtPrevCarregamento');"><strong>Dt.Prev.Carregamento</strong></a></label>
												<input type="text" class="form-control jtpDate"
													id="dtPrevCarregamento" name="dtPrevCarregamento"
													th:field="*{dtPrevCarregamento}" />
											</div>
										</div>

										

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDtaCarregamento"><a class="blue"
													href="javascript: logField('TabPropostaService','dtDtaCarregamento');"><strong>Dt.Carregamento</strong></a></label>
												<input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext jtpDateTime' : 'form-control jtpDateTime'"
													id="dtDtaCarregamento" name="dtDtaCarregamento"
													th:field="*{dtDtaCarregamento}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDtaInicioTransito"><a class="blue"
													href="javascript: logField('TabPropostaService','dtDtaInicioTransito');"><strong>Dt.Início
															Transito</strong></a></label> <input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext jtpDateTime' : 'form-control jtpDateTime'"
													id="dtDtaInicioTransito" name="dtDtaInicioTransito"
													th:field="*{dtDtaInicioTransito}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDtaChegadaTransito"><a class="blue"
													href="javascript: logField('TabPropostaService','dtDtaChegadaTransito');"><strong>Dt.Chegada
															Transito</strong></a></label> <input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext jtpDateTime' : 'form-control jtpDateTime'"
													id="dtDtaChegadaTransito" name="dtDtaChegadaTransito"
													th:field="*{dtDtaChegadaTransito}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtDtaConclusaoTransito"><a class="blue"
													href="javascript: logField('TabPropostaService','dtDtaConclusaoTransito');"><strong>Dt.Conclusão
															Transito</strong></a></label> <input type="text"
													th:class="${cdGrupoVisao} > 2 ? 'form-control-plaintext jtpDateTime' : 'form-control jtpDateTime'"
													id="dtDtaConclusaoTransito" name="dtDtaConclusaoTransito"
													th:field="*{dtDtaConclusaoTransito}"
													th:readonly="${cdGrupoVisao} > 2 ? 'readonly'" />
											</div>
										</div>
										
										<!-- INPUT TEXT -->
										<div class="col-sm-12">
											<div class="form-group">
												<h5 class="black">
													<strong th:text="*{txStatus}">Status</strong>
												</h5>
											</div>
										</div>

									</div>

								</div>
							</div>


							<div class="modal fade" id="propostaaceite" tabindex="-1"
								role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
								<div class="vertical-alignment-helper">
									<div class="modal-dialog vertical-align-center">
										<div class="modal-content">
											<div class="modal-header">
												<h4 class="modal-title" id="myModalLabel">Proposta/Solicitação
													- Aceite</h4>
												<button type="button" class="close" data-dismiss="modal">
													<span aria-hidden="true">&times;</span><span
														class="sr-only">Close</span>
												</button>
											</div>
											<div class="modal-body">

												<h5 style="padding-top: 1px" class="blue bold">Dados
													para Cobrança</h5>

												<div class="row">

													<!-- INPUT TEXT -->
													<div class="col-sm-6">
														<div class="form-group">
															<label for="txNomePagador"><a class="blue"
																href="javascript: logField('TabPropostaService','txNomePagador');"><strong>Nome
																		Pagador do Frete</strong></a></label> <input type="text"
																class="form-control" id="txNomePagador"
																name="txNomePagador" th:field="*{txNomePagador}" />
														</div>
													</div>



													<!-- INPUT TEXT -->
													<div class="col-sm-5">
														<div class="form-group">
															<label for="txEndereco"><a class="blue"
																href="javascript: logField('TabPropostaService','txEndereco');"><strong>Endereço</strong></a></label>
															<input type="text" class="form-control" id="txEndereco"
																name="txEndereco" th:field="*{txEndereco}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-1">
														<div class="form-group">
															<label for="txNumero"><a class="blue"
																href="javascript: logField('TabPropostaService','txNumero');"><strong>No.</strong></a></label>
															<input type="number" class="form-control" id="txNumero"
																name="txNumero" th:field="*{txNumero}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txBairro"><a class="blue"
																href="javascript: logField('TabPropostaService','txBairro');"><strong>Bairro</strong></a></label>
															<input type="text" class="form-control" id="txBairro"
																name="txBairro" th:field="*{txBairro}" />
														</div>
													</div>


													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txCidade"><a class="blue"
																href="javascript: logField('TabPropostaService','txCidade');"><strong>Cidade</strong></a></label>
															<input type="text" class="form-control" id="txCidade"
																name="txCidade" th:field="*{txCidade}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txEstado"><a class="blue"
																href="javascript: logField('TabPropostaService','txUf');"><strong>UF</strong></a></label>
															<select class="form-control" name="txUf" id="txUf"
																th:field="*{txUf}">
																<option value="">...</option>
																<option value="AC">Acre</option>
																<option value="AL">Alagoas</option>
																<option value="AP">Amapá</option>
																<option value="AM">Amazonas</option>
																<option value="BA">Bahia</option>
																<option value="CE">Ceará</option>
																<option value="DF">Distrito Federal</option>
																<option value="ES">Espírito Santo</option>
																<option value="GO">Goiás</option>
																<option value="MA">Maranhão</option>
																<option value="MT">Mato Grosso</option>
																<option value="MS">Mato Grosso do Sul</option>
																<option value="MG">Minas Gerais</option>
																<option value="PA">Pará</option>
																<option value="PB">Paraíba</option>
																<option value="PR">Paraná</option>
																<option value="PE">Pernambuco</option>
																<option value="PI">Piauí</option>
																<option value="RJ">Rio de Janeiro</option>
																<option value="RN">Rio Grande do Norte</option>
																<option value="RS">Rio Grande do Sul</option>
																<option value="RO">Rondônia</option>
																<option value="RR">Roraima</option>
																<option value="SC">Santa Catarina</option>
																<option value="SP">São Paulo</option>
																<option value="SE">Sergipe</option>
																<option value="TO">Tocantins</option>
															</select>


														</div>
													</div>



													<!-- INPUT TEXT -->
													<div class="col-sm-2">
														<div class="form-group">
															<label for="txCep"><a class="blue"
																href="javascript: logField('TabPropostaService','txCep');"><strong>CEP</strong></a></label>
															<input type="text" class="form-control" id="txCep"
																name="txCep" th:field="*{txCep}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-4">
														<div class="form-group">
															<label for="txCnpj"><a class="blue"
																href="javascript: logField('TabPropostaService','txCnpj');"><strong>CNPJ</strong></a></label>
															<input type="text" class="form-control" id="txCnpj"
																name="txCnpj" th:field="*{txCnpj}" />
														</div>
													</div>

													<!-- INPUT TEXT -->
													<div class="col-sm-6">
														<div class="form-group">
															<label for="txEmailPagador"><a class="blue"
																href="javascript: logField('TabPropostaService','txEmailPagador');"><strong>Email</strong></a></label>
															<input type="text" class="form-control"
																id="txEmailPagador" name="txEmailPagador"
																th:field="*{txEmailPagador}" />
														</div>
													</div>
												</div>

											</div>
											<div class="modal-footer">
												<button type="button" id="btnGravarModal"
													class="btn btn-primary col-sm-2"
													th:onclick="|javascript: gravarModal('@{/propostaltl/gravarmodal}', '/propostaltl/consultar/*{cdProposta}', '#propostaaceite', '#tabPropostaObj');|">
													<strong>Aceitar</strong>
												</button>
												<button type="button" class="btn btn-default"
													data-dismiss="modal">
													<strong>Sair</strong>
												</button>
											</div>
										</div>
									</div>
								</div>
							</div>
						</fieldset>
					</form>

					<form id="tabPropostaDocumentosObj" name="tabPropostaDocumentosObj"
						enctype="multipart/form-data" method="post"
						th:action="@{/propostaltl/gravardocumentos}"
						th:object="${tabPropostaDocumentosObj}">
						<div class="modal fade" id="propostadocumentos" tabindex="-1"
							role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
							<div class="vertical-alignment-helper">
								<div class="modal-dialog vertical-align-center">
									<div class="modal-content">
										<div class="modal-header">
											<h4 class="modal-title" id="myModalLabel">Proposta -
												Upload de Documentos</h4>
											<button type="button" class="close" data-dismiss="modal">
												<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
											</button>
										</div>
										<div class="modal-body">

											<div class="row">

												<!-- INPUT TEXT -->
												<div class="col-sm-6">
													<div class="form-group">
														<label for="cdClassificacao"><a class="blue"
															href="javascript: logField('TabPropostaService','cdClassificacao');"><strong>Classificação</strong></a></label>
														<select class="form-control" name="cdClassificacao"
															id="cdClassificacao" th:field="*{cdClassificacao}">
															<option value="">...</option>
															<option
																th:each="sselectcddoctoclassificacao : ${selectcddoctoclassificacao}"
																th:value="${sselectcddoctoclassificacao.cdDoctoClassificacao}"
																th:text="${sselectcddoctoclassificacao.txDoctoClassificacao}"></option>
														</select>
													</div>
												</div>

												<div class="col-sm-5">
													<div class="form-group form-file-upload form-file-simple">
														<label for="txNomeArquivo" class="blue"><strong>Arquivo</strong></label>
														<input type="text" class="form-control inputFileVisible"
															placeholder="Selecione o arquivo..." /> <input
															type="file" name="file" id="file" class="inputFileHidden"
															style="z-index: -1;" />
													</div>
												</div>

												<div class="col-sm-2"
													th:if="${cdGrupoVisao == 1} or ${cdGrupoVisao == 2}">
													<div class="form-group">
														<label for="cdValidado"><a class="blue"
															href="javascript: logField('TabPropostaService','cdValidado');"><strong>Valido?</strong></a></label>
														<select class="form-control" name="cdValidado"
															id="cdValidado" th:field="*{cdValidado}">
															<option value="">...</option>
															<option value="2">NÃO</option>
															<option value="1">SIM</option>
														</select>
													</div>
												</div>

												<!-- INPUT TEXT -->
												<div class="col-sm-10">
													<div class="form-group">
														<label for="txPendencia"><a class="blue"
															href="javascript: logField('TabPropostaService','txPendencia');"><strong>Pendências</strong></a></label>
														<input type="text" class="form-control" id="txPendencia"
															name="txPendencia" th:field="*{txPendencia}" />
													</div>
												</div>

												<div class="col-sm-10"
													th:if="${cdGrupoVisao == 1} or ${cdGrupoVisao == 2}">
													<div class="form-group">
														<label for="txObs"><a class="blue"
															href="javascript: logField('TabPropostaService','txObs');"><strong>Observação</strong></a></label>
														<input type="text" class="form-control" id="txObs"
															name="txObs" th:field="*{txObs}" />
													</div>
												</div>


											</div>
										</div>
										<div class="modal-footer">
											<button type="button" id="btnGravarModal"
												class="btn btn-primary col-sm-2"
												th:onclick="|javascript: gravarModalImg('@{/propostaltl/gravarmodaldocumentos}', '/propostaltl/consultar/${tabPropostaObj.cdProposta}', '#propostadocumentos', '#tabPropostaDocumentosObj');|">
												<strong>Enviar</strong>
											</button>
											<button type="button" class="btn btn-default"
												data-dismiss="modal">
												<strong>Sair</strong>
											</button>
										</div>
									</div>
								</div>
							</div>
						</div>

						<input type="hidden" id="cdPropostaDocumento"
							name="cdPropostaDocumento" th:value="*{cdPropostaDocumento}" />
						<input type="hidden" id="cdProposta" name="cdProposta"
							th:value="${tabPropostaObj.cdProposta}" /> <input type="hidden"
							id="txNomeArquivo" name="txNomeArquivo"
							th:value="*{txNomeArquivo}" /> <input type="hidden" id="txUrl"
							name="txUrl" th:value="*{txUrl}" /> <input type="hidden"
							id="dtCriacao" name="dtCriacao" th:value="*{{dtCriacao}}" /> <input
							type="hidden" id="cdUsuarioCriacao" name="cdUsuarioCriacao"
							th:value="*{cdUsuarioCriacao}" /> <input type="hidden"
							id="dtValidacao" name="dtValidacao" th:value="*{{dtValidacao}}" />
						<input type="hidden" id="cdUsuarioValidacao"
							name="cdUsuarioValidacao" th:value="*{cdUsuarioValidacao}" />						
					</form>

				</div>
			</section>
		</div>
	</div>




	<!-- Modal -->
	<div class="modal fade" id="modalregras" tabindex="-1" role="dialog"
		aria-labelledby="exampleModalLabel" aria-hidden="true">
		<div class="vertical-alignment-helper">
			<div class="modal-dialog vertical-align-center" role="document">

				<div class="modal-content">
					<div class="modal-header">
						<div class="row d-flex align-items-center">
							<div class="col-md-2">
								<img class="img-fluid" src="/assets/img/logoamalog.png" />								
							</div>
							<div class="col-md-10">
								<img class="img-fluid" src="/assets/img/logo-band-deic.jpg" th:if="${tabPropostaObj.txTipoProposta} != 'LTL'" />								
							</div>							
						</div>						
						<button type="button" class="close" data-dismiss="modal"
							aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
					
					<section>
								<h5 class="modal-title" id="exampleModalLabel">Regras de GR (Gerenciamento de Riso) para Mercadorias Excluídas e Específicas (Grupos A e B)</h5>
						</section>	
						<section style="padding: 20px 0">
						
							<h6 style="margin-bottom: 20px;">Limites Máximos Por
								Embarque:</h6>
							<p>R$ 1.000.000,00 (um milhão de reais) para o transporte de
								mercadorias para o estado do Rio de Janeiro</p>
							<p style="margin-bottom: 0px;">R$ 1.000.000,00 (um milhão de
								reais) para o transporte de mercadorias nos demais Estados</p>
						</section>
						<section style="padding: 40px 0">
							<h4 style="margin-bottom: 20px;">Mercadorias cujo não
								possuem cobertura em nossa apolice:</h4>
							<p>Apólices, bilhetes de loteria, cartões de crédito, cartões
								telefônicos e cartões de estacionamento em geral, armas,
								armamentos, munições e explosivos, cheques, contas, comprovantes
								de débitos, e dinheiro, em moeda ou papel, cigarros, diamantes
								industriais, documentos e obrigações de qualquer espécie, e
								escrituras, joias, pérolas em geral, metais preciosos e
								semipreciosos e suas ligas (trabalhadas ou não), notas e notas
								promissórias, registros, títulos, selos e estampilhas; talões de
								cheque, vales-alimentação e vale-refeição.</p>
							<h6 style="margin-bottom: 0px; color: #ff4300;">
								<strong>Quaisquer mercadorias, exceto as listadas
									acima, podemos realizar o transporte</strong>
							</h6>
						</section>
						<!-- GRUPO B -->
						<section>
							<h6>GRUPO A:</h6>
							<p style="margin-left: 20px">Aparelhos de telefonia celular,
								suas partes, peças e seus acessórios, Cobre (qualquer tipo).</p>
							<p style="margin-left: 20px">Computadores e periféricos
								(notebook, desktop, teclados, monitores, cpu’s, processadores,
								memorias, kit multimídia e semelhantes), Defensivos Agrícolas.</p>
							<p style="margin-left: 20px">Estanho (qualquer tipo) Ferro
								Vanádio (qualquer tipo).</p>
							<p style="margin-left: 20px">Medicamentos de qualquer tipo
								(de uso humano e/ou veterinário).</p>
							<p style="margin-left: 20px">Minério de molibdênio (qualquer
								tipo).</p>
							<p style="margin-left: 20px">Nióbio de ferro (qualquer tipo)
								Tablets em geral.</p>
							<h6 style="margin-bottom: 20px">Embarque com Origem ou
								Destino Rio de Janeiro torna-se obrigatória a contratação de
								escolta a partir de R$ 200.000,01.</h6>
							<h6 style="margin-bottom: 20px">A escolta torna-se
								obrigatória junto a isca acima de R$ 500.000,01 até R$
								1.000.000,00.</h6>
							<h6 style="margin-bottom: 0px;">Valores acima de R$
								1.000.000,01 necessitamos de 48 horas úteis para análise da
								mercadoria e exigências da seguradora.</h6>
						</section>
						<section style="padding: 40px 0">
							<h6>PEDRAS:</h6>

							<h6 style="margin-bottom: 20px">R$ 200.000,00 (duzentos mil
								reais) para cobertura de pedras semipreciosas em seu estado
								bruto (Bauxita, Ametista, Quartzo);</h6>
							<h6 style="margin-bottom: 20px">Valores acima de R$
								200.000,01 necessitamos de 48 horas úteis para análise da
								mercadoria e exigências da seguradora.</h6>
						</section>


						<!-- GRUPO B -->
						<section style="padding: 10px 0">
							<h6>GRUPO B:</h6>
							<p style="margin-left: 20px">Aço e Ferro em geral, álcool
								Etílico e para fins medicinais/farmacêuticos, algodão de
								qualquer tipo, alumínio em geral (perfis, tubos, chapas,
								bobinas, folhas, lingotes, tarugos, vergalhões, etc), aparelhos
								eletroeletrônicos de som e imagem, açúcar, arroz e trigo,
								artigos de higiene e limpeza, artigos escolares e de papelaria,
								artigos esportivos, artigos, filmes e máquinas fotográficas
								Autopeças inclusive para motocicleta, bacalhau, balas,
								chocolates, chiclete e doces em geral, baterias automotivas,
								bebidas em geral, brinquedos e Bicicletas (partes, peças e
								acessórios), Cabos de Fibra Óptica, café (qualquer tipo)</p>
							<p style="margin-left: 20px">Calçados em geral (tênis,
								sapatos, chinelos, sandálias), solados, palmilhas e correias
								Carne congelada, in natura e charque.</p>
							<p style="margin-left: 20px">Cartuchos para impressoras e
								copiadoras Cassiterita (qualquer tipo).</p>
							<p style="margin-left: 20px">CD (Compact Disc) / LD (Laser
								Disc) / DVD / Blu-Ray, combustíveis e seus derivados.</p>
							<p style="margin-left: 20px">Confecções, fios de seda, fios
								têxteis e tecidos Cosméticos/ Perfumes, couro Cru, Wetblue
								(semi- acabado) ou beneficiado, defensivos agrícolas,
								eletrodomésticos e empilhadeiras.</p>
							<h6 style="margin-bottom: 20px">Caso o embarque seja com
								Origem ou Destino Rio de Janeiro torna-se obrigatória a
								contratação de escolta a partir de R$ 500.000,01 até
								1.000.000,00.</h6>
							<h6 style="margin-bottom: 0px;">Valores acima de R$
								1.000.000,01 necessitamos de 48 horas úteis para análise da
								mercadoria e exigências da seguradora.</h6>
						</section>
						<!-- FIM GRUPOS -->
						<section>
							<p>
								Se a mercadoria a ser transportada não se enquadra no <strong>grupo
									A</strong>, <strong>B</strong> e <strong>Excluído</strong> mencionados
								acima.
							</p>
							<p style="margin-bottom: 0px;">
								Podemos transportar livremente até R$ 1.000.000,00 para todo o <strong>território
									nacional</strong>, acima do valor mencionado necessitaremos de 48 horas
								úteis para análise da mercadoria e exigências da seguradora.
							</p>
						</section>
					</div>
					<div class="modal-footer justify-content-center">
						<button type="button" class="btn btn-dark" data-dismiss="modal">Fechar</button>
					</div>
				</div>
			</div>
		</div>
	</div>
	
	
		

	<script> 
$(document).ready(function() { 
			
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [], 
    responsive: true, 
			        language: {  
      search: "_INPUT_",      
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>



	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 
 $(document).ready(function() {	

	 addSubmitFields("tabPropostaObj");
	 
	 var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
 

//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 

	var pathUrl = /*[[@{/}]]*/; 
	
	 var txEdit = /*[[${txEdit}]]*/; 
	 if (txEdit != null) { 
		 $('#'+txEdit).modal('show'); 
	 } 
	 
	 	 
	$("#txCnpj").mask("99.999.999/9999-99");
	$("#txCnpjImportador").mask("99.999.999/9999-99");
	$("#txContainer").mask("AAAA000000-0");
	
	/*
	var cdTipoCarregamento = $("#cdTipoCarregamento").val();	 
	$( "#btDocumentosInserir" ).click(function() {
		
		if (cdTipoCarregamento == 1 || cdTipoCarregamento == 3) {		
			var txBl = $("#txBl").val();
			if (txBl == "") {
				toastr["error"]("Numero de BL obrigatório!");	
			}else {
				$('#propostadocumentos').modal('show');
			}
		}else {		
			$('#propostadocumentos').modal('show');
		}
		
	});*/
	
	var cdIdioma = /*[[${cdIdioma}]]*/
	 
	$( "#btDocumentosInserir" ).click(function() {
		
	    $('#propostadocumentos').modal('show');
		
	});
	
	$( "#btDadosAceite" ).click(function() {
		
		$('#propostaaceite').modal('show'); 
		
	});
	
	
	
	$( "#btModalRegras" ).click(function() {

		if (cdIdioma == "EN") {
			
			$('#modalregrasingles').modal('show');
		}else {
		
		   $('#modalregras').modal('show');
		}
		
	});
	
	
	var cdGrupoVisao = /*[[${cdGrupoVisao}]]*/
	var cdGrupoAcesso = /*[[${cdGrupoAcesso}]]*/
	var ckRotaAmalog = /*[[${tabPropostaObj.ckRotaAmalog}]]*/
	var cdProposta = /*[[${tabPropostaObj.cdProposta}]]*/
	var txIdioma = /*[[${cdIdioma}]]*/
	
	if (txIdioma == 'EN') {
		
		$('#divTituloReferencia').hide();
		$('#divReferencia').hide();
		$('#txDespesasComplementares').hide();
		$('#txTituloDespesasComplementares').hide();
		$('#txDadosIcms').hide();
		$('#txTituloIcms').hide();						
		$('#divVlValor').hide();
		$('#divAceiteProposta').hide();
		$('#divTituloAceiteProposta').hide();
		$('#divDadosSituacaoCargaExp').hide();
		$('#divDadosSituacaoCargaImp').hide();
		$('#divTituloParticularidadesCarga').hide();
		$('#divParticularidadesCarga').hide();
		$('#divTituloImportadorExportador').hide();
		$('#divImportadorExportador').hide();
		$('#divCdImportadorDiretoColoader').hide();
		$('#divVlFretePrevisto').hide();
		$('#divVlFrete').hide();
		$('#divVlCarga').hide();
		$('#divVlBase').hide();
		
	}
	
	
	
	var cdTipoCarregamento = $("#cdTipoCarregamento").val();
	if (cdTipoCarregamento == 1 || cdTipoCarregamento == 3) {
		$('#divDadosSituacaoCargaExp').hide();
		$('#divDadosSituacaoCargaImp').show();		
	}else {
		$('#divDadosSituacaoCargaImp').hide();
		$('#divDadosSituacaoCargaExp').show();
		$('#divTituloAverbacao').hide();
		$('#divAverbacao').hide();
	}
	
	
	if (cdGrupoAcesso == 1 || cdGrupoAcesso == 2 || cdGrupoAcesso == 146) {
		$('#divVlDesconto').show();		
	}else {
		$('#divVlDesconto').hide();
	}
	
	
	$("#cdViaTransporte")
	.change(
			function() {
				//alert($(this).val());
				if ($(this).val() == '1') {
					$("#lbPeso").text("Chargeable Weight");
					$('#divVlBase').hide();
					$('#divVlM3').hide();
					$('#vlM3').val("1");
				}else {
					if (txIdioma == "EN") {						
						$("#lbPeso").text("Goods Weight (KG)");
					}else {
					  $("#lbPeso").text("Peso	Mercadoria(KG)");
					}
					$('#divVlBase').hide();
					$('#divVlM3').show();
				}
			}).change();
	
	 
 });
 /*]]>*/ 
</script>

	<script>
/*
function alerta(){
  alert('A página não pode ser salva.');
  return false;
}
function verificaBotao(oEvent){
  var oEvent = oEvent ? oEvent : window.event;
  var tecla = (oEvent.keyCode) ? oEvent.keyCode : oEvent.which;
  if(tecla == 17 || tecla == 44|| tecla == 106){
    alerta();
  }
}*/
</script>


	<script>
*/
document.onkeypress = verificaBotao;
document.onkeydown = verificaBotao;
document.oncontextmenu = alerta;
*/
</script>




</section>

</html>
