<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
<!-- Carousel -->
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- fontawesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous" />
<!--meu css-->
<link rel="stylesheet" href="/assets/css/styledta.css" type="text/css" />
<!-- fonts -->

<!-- js -->
<script type="text/javascript" src="/assets/js/function.js"></script>
<title>Amalog</title>
</head>

<body>
	<form id="tabPropostaObj" name="tabPropostaObj" method="post"
		th:action="@{/proposta/gravar}" th:object="${tabPropostaObj}">
		<section>
			<div class="container">
				<section class="row align-items-center">
					<div class="col-md-3">
						<img class="img-fluid" src="/assets/img/bandeirantes-logo-original.png" />
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">Telefone</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
					</div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">E-mail</p>
						<p style="margin-bottom: 0; color: #4285f4;">transitoimpo@bandeiranteslog.com.br</p>
						<p style="margin-bottom: 0; color: #4285f4;">transitoexpo@bandeiranteslog.com.br</p>

					</div>
				</section>
				<section>

					<h5 style="color: #000"
						th:text="|No. Solicitação *{txProposta}|">
						<strong>No. Solicitação</strong>
					</h5>

					<div class="card">
						<div class="card-body">
							<div class="row">


<!-- INPUT TEXT -->
													<div class="col-sm-6">
														<div class="form-group">
															<label for="txImportador"><a class="blue"
																href="javascript: logField('TabPropostaService','txImportador');"><strong>Importador</strong></a></label>
															<input type="text" class="form-control-plaintext" id="txImportador"
																name="txImportador" th:field="*{txImportador}" readonly="readonly" />
														</div>
													</div>
							</div>
							<h5 class="black bold"
								id="divTituloDadosBL">Dados do BL</h5>	
							<div class="row">					
													
<div class="col-sm-2">
											<div class="form-group">
												<label for="txLote"><a class="blue"
													href="javascript: logField('TabPropostaService','txLote');"><strong>No.
															Lote / Reserva</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txLote" name="txLote" th:field="*{txLote}" readonly="readonly" />
											</div>
										</div>

<div class="col-sm-2">
											<div class="form-group">
												<label for="txBl"><a class="blue"
													href="javascript: logField('TabPropostaService','txBl');"><strong>No.
															HBL</strong></a></label> <input type="text" class="form-control-plaintext" id="txBl"
													name="txBl" th:field="*{txBl}" readonly="readonly" />
											</div>
										</div>

<div class="col-sm-4">
											<div class="form-group">
												<label for="txNumeroCe"><a class="blue"
													href="javascript: logField('TabPropostaService','txNumeroCe');"><strong>No.
															CE</strong></a></label> <input type="number" class="form-control-plaintext"
													id="txNumeroCe" name="txNumeroCe" th:field="*{txNumeroCe}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txPortoOrigem"><a class="blue"
													href="javascript: logField('TabPropostaService','txPortoOrigem');"><strong>Porto
															Origem</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txPortoOrigem" name="txPortoOrigem"
													th:field="*{txPortoOrigem}" readonly="readonly" />
											</div>
										</div>
							
							</div>
							
							<h5 class="black bold"
								id="divTituloDadosDesova">Dados da Desova</h5>	
							<div class="row">	
							
							<div class="col-sm-2">
											<div class="form-group">
												<label for="txContainer"><a class="blue"
													href="javascript: logField('TabPropostaService','txContainer');"><strong>Container</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txContainer" name="txContainer"
													th:field="*{txContainer}" readonly="readonly" />
											</div>
										</div>
							
										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtInicioDesova"><a class="blue"
													href="javascript: logField('TabPropostaService','dtInicioDesova');"><strong>Dt.Início
															Desova</strong></a></label> <input type="text" class="form-control-plaintext"
													id="dtInicioDesova" name="dtInicioDesova"
													th:field="*{dtInicioDesova}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="dtFimDesova"><a class="blue"
													href="javascript: logField('TabPropostaService','dtFimDesova');"><strong>Dt.Fim
															Desova</strong></a></label> <input type="text" class="form-control-plaintext"
													id="dtFimDesova" name="dtFimDesova"
													th:field="*{dtFimDesova}" readonly="readonly" />
											</div>
										</div>
							
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txRegime"><a class="blue"
													href="javascript: logField('TabPropostaService','txRegime');"><strong>Regime</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="txRegime" name="txRegime" th:field="*{txRegime}"
													readonly="readonly" />
											</div>
										</div>
							</div>
							
							<h5 class="black bold"
								id="divTituloDadosDesova">Carga Desovada</h5>	
							<div class="row">	
							
								<div class="col-sm-2">
											<div class="form-group">
												<label for="vlQtdeVolume"><a class="blue"
													href="javascript: logField('TabPropostaService','vlQtdeVolume');"><strong>Qtde.Volume</strong></a></label>
												<input type="text" class="form-control-plaintext" id="vlQtdeVolume"
													name="vlQtdeVolume" th:field="*{vlQtdeVolume}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPesoBruto"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPesoBruto');"><strong>Peso Bruto</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlPesoBruto"
													name="vlPesoBruto" th:field="*{vlPesoBruto}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPesoExtratoDesova"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPesoExtratoDesova');"><strong>Peso
															Apurado</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlPesoExtratoDesova"
													name="vlPesoExtratoDesova"
													th:field="*{vlPesoExtratoDesova}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlDiferencaPeso"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDiferencaPeso');"><strong>Diferença
															Peso</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlDiferencaPeso" name="vlDiferencaPeso"
													th:field="*{vlDiferencaPeso}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlDiferencaPercentual"><a class="blue"
													href="javascript: logField('TabPropostaService','vlDiferencaPercentual');"><strong>Diferença
															Peso %</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlDiferencaPercentual" name="vlDiferencaPercentual"
													th:field="*{vlDiferencaPercentual}" readonly="readonly" />
											</div>
										</div>
							
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txVolume"><a class="blue"
													href="javascript: logField('TabPropostaService','txVolume');"><strong>Volume</strong></a></label>
												<input type="text" class="form-control-plaintext" id="txVolume"
													name="txVolume" th:field="*{txVolume}" readonly="readonly" />
											</div>
										</div>
										
										<div class="col-sm-5">
											<div class="form-group">
												<label for="txMicroledMercadoria"><a class="blue"
													href="javascript: logField('TabPropostaService','txMicroledMercadoria');"><strong>Mercadoria
															Desova</strong></a></label> <input type="text" class="form-control-plaintext"
													id="txMicroledMercadoria" name="txMicroledMercadoria"
													th:field="*{txMicroledMercadoria}" readonly="readonly" />
											</div>
										</div>
							
							</div>
							
							<div class="card-body">
											<div class="toolbar"></div>
											<table id="datatable"
												class="table table-striped table-bordered" cellspacing="0"
												width="100%">
												<thead>
													<tr>
														<th class="bold disabled-sorting">Item</th>
														<th class="bold disabled-sorting">Termo/Ano</th>
														<th class="bold disabled-sorting">Dt.Termo</th>
														<th class="bold disabled-sorting">Avaria</th>
													</tr>
												</thead>
												<tbody>
													<tr th:each="listdados : ${listaAvarias}">
														<td class="blue" th:text="${listdados.cdItem}">
															cdItem</td>
														<td class="blue" th:text="${listdados.txTermo}">
															cdItem</td>
														<td class="blue" th:text="${listdados.dtTermo}">
															cdItem</td>
														<td class="blue" th:text="${listdados.txAvaria}">
															cdItem</td>
														
													</tr>
												</tbody>
											</table>
										</div>
							
							
						</div>
					</div>
				</section>



				
				
				
			
			
				<section class="row align-items-center"
					style="padding-bottom: 40px; border-top: 1px solid #eaeaea;">
					<div class="col-md-3">
						<img class="img-fluid" src="/assets/img/bandeirantes-logo-original.png" />
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">Telefone</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3131.4501</p>
					</div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">E-mail</p>
						<p style="margin-bottom: 0; color: #4285f4;">transitoimpo@bandeiranteslog.com.br</p>
						<p style="margin-bottom: 0; color: #4285f4;">transitoexpo@bandeiranteslog.com.br</p>

					</div>
				</section>
			</div>
		</section>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
		<!-- Carousel -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
	</form>
</body>

</html>