<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<!-- Required meta tags -->
<meta charset="utf-8" />
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no" />
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous" />
<!-- Carousel -->
<script
	src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!-- fontawesome -->
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.6.3/css/all.css"
	integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/"
	crossorigin="anonymous" />
<!--meu css-->
<link rel="stylesheet" href="/assets/css/styledta.css" type="text/css" />
<!-- fonts -->

<!-- js -->
<script type="text/javascript" src="/assets/js/function.js"></script>
<title>Amalog</title>
</head>

<body>
	<form id="tabPropostaObj" name="tabPropostaObj" method="post"
		th:action="@{/proposta/gravar}" th:object="${tabPropostaObj}">
		<section>
			<div class="container">
				<section class="row align-items-center">
					<div class="col-md-3">
						<img class="img-fluid" src="/assets/img/amalog-logotipo.png" />
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">Telefone</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3219.1571</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3216.1315</p>
					</div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">E-mail</p>
						<p style="margin-bottom: 0; color: #4285f4;">suporte@amalog.com.br</p>
						<p style="margin-bottom: 0; color: #4285f4;">atendimento@amalog.com.br</p>

					</div>
				</section>
				<section>

					<h5 style="color: #000"
						th:text="|No. Proposta: *{txProposta} - Validade: *{{dtValidade}}|">
						<strong>No. Proposta</strong>
					</h5>

					<h5 style="color: #000" th:text="|Frete Total Previsto R$ *{{vlFretePrevisto}} / Frete Total Efetivo R$ *{{vlFrete}}|" th:if="*{vlFrete} != null">
						<strong>Frete Total</strong>
					</h5>
					
					<h5 style="color: #000" th:text="|Frete Total Previsto R$ *{{vlFretePrevisto}}|" th:if="*{vlFrete} == null">
						<strong>Frete Total</strong>
					</h5>


					<div class="card">
						<div class="card-body">
							<div class="row">

								<!-- INPUT TEXT -->
								<div class="col-sm-2"
									th:if="*{vlFretePesoSdesconto} != null and *{vlFretePesoSdesconto} > 0">
									<div class="form-group">
										<label for="vlFretePesoSdesconto"><a class="blue"
											href="javascript: logField('TabPropostaService','vlFretePesoSdesconto');"><strong>Valor
													Frete Peso S/Desconto</strong></a></label> <input type="text"
											class="form-control-plaintext" id="vlFretePesoSdesconto"
											name="vlFretePesoSdesconto"
											th:field="*{vlFretePesoSdesconto}" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2"
									th:if="*{vlFretePesoSdesconto} != null and *{vlFretePesoSdesconto} > 0">
									<div class="form-group">
										<label for="vlDesconto"><a class="blue"
											href="javascript: logField('TabPropostaService','vlDesconto');"><strong>Valor
													Desconto</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlDesconto" name="vlDesconto" th:field="*{vlDesconto}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlFretePeso"><a class="blue"
											href="javascript: logField('TabPropostaService','vlFretePeso');"><strong>Vl.Frete
													Peso</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlFretePeso" name="vlFretePeso" th:field="*{vlFretePeso}"
											readonly="readonly" />
									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlDespacho"><a class="blue"
											href="javascript: logField('TabPropostaService','vlDespacho');"><strong>Despacho</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="vlDespacho" name="vlDespacho" th:field="*{vlDespacho}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlPedagio"><a class="blue"
											href="javascript: logField('TabPropostaService','vlPedagio');"><strong>Pedágio</strong></a></label>
										<input type="text" class="form-control-plaintext"
													id="vlPedagio" name="vlPedagio" th:field="*{vlPedagio}"
													readonly="readonly" th:if="*{vlPedagio} != 0" />
												<input type="text" class="form-control-plaintext"
													  value="incluso"
													readonly="readonly" th:if="*{vlPedagio} == 0" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlTaxaEntrega"><a class="blue" href="javascript: logField('TabPropostaService','vlTaxaEntrega');"><strong>Taxa Entrega</strong></a></label>
  <input type="text" class="form-control" id="vlTaxaEntrega" name="vlTaxaEntrega"  th:field="*{vlTaxaEntrega}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlGris"><a class="blue"
											href="javascript: logField('TabPropostaService','vlGris');"><strong>GRIS</strong></a></label>
										<input type="text" class="form-control-plaintext" id="vlGris"
											name="vlGris" th:field="*{vlGris}" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlEstacionamento"><a class="blue" href="javascript: logField('TabPropostaService','vlEstacionamento');"><strong>Estacionamento</strong></a></label>
  <input type="text" class="form-control" id="vlEstacionamento" name="vlEstacionamento"  th:field="*{vlEstacionamento}"/>
</div>
</div> -->

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckImoPerigoso"><a class="blue"
											href="javascript: logField('TabPropostaService','ckImoPerigoso');"><strong>Carga
													Perigosa ?</strong></a></label> <input type="text"
											class="form-control-plaintext" id="ckImoPerigoso"
											name="ckImoPerigoso"
											th:value="*{ckImoPerigoso} == 1 ? 'SIM' : 'NÃO'"
											readonly="readonly" />

									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlImoCarga"><a class="blue"
											href="javascript: logField('TabPropostaService','vlImoCarga');"><strong>Carga
													Perigosa</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlImoCarga" name="vlImoCarga" th:field="*{vlImoCarga}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlImpostosSuspensos"><a class="blue" href="javascript: logField('TabPropostaService','vlImpostosSuspensos');"><strong>Impostos Suspensos</strong></a></label>
  <input type="text" class="form-control" id="vlImpostosSuspensos" name="vlImpostosSuspensos"  th:field="*{vlImpostosSuspensos}"/>
</div>
</div> -->


								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckNaoRemonte"><a class="blue"
											href="javascript: logField('TabPropostaService','ckNaoRemonte');"><strong>Empilhavel
													?</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlImoCarga" name="vlImoCarga"
											th:value="*{ckNaoRemonte} == 1 ? 'SIM' : 'NÃO'"
											readonly="readonly" />
									</div>
								</div>


								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlFreteValor"><a class="blue"
											href="javascript: logField('TabPropostaService','vlFreteValor');"><strong>Empilhavel</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="vlFreteValor" name="vlFreteValor"
											th:field="*{vlFreteValor}" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlCat"><a class="blue"
											href="javascript: logField('TabPropostaService','vlCat');"><strong>CAT</strong></a></label>
										<input type="text" class="form-control-plaintext"
											value="incluso" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAdeme"><a class="blue"
											href="javascript: logField('TabPropostaService','vlAdeme');"><strong>Ademe</strong></a></label>
										<input type="text" class="form-control-plaintext"
											value="incluso" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlTaxaColeta"><a class="blue"
											href="javascript: logField('TabPropostaService','vlTaxaColeta');"><strong>Taxa
													Coleta</strong></a></label> <input type="text" class="form-control-plaintext"
											value="incluso" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlEstadia"><a class="blue"
											href="javascript: logField('TabPropostaService','vlEstadia');"><strong>Estadia</strong></a></label>
										<input type="text" class="form-control-plaintext" id="vlEstadia" name="vlEstadia" 
											th:field="*{vlEstadia}" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlEmissaoDta"><a class="blue"
											href="javascript: logField('TabPropostaService','vlEmissaoDta');"><strong>Emissão
													DTA</strong></a></label> <input type="text" class="form-control-plaintext"
											name="vlEmissaoDta" id="vlEmissaoDta"
											th:field="*{vlEmissaoDta}" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlMonitoramento"><a class="blue"
											href="javascript: logField('TabPropostaService','vlMonitoramento');"><strong>Monitoramento</strong></a></label>
										<input type="text" class="form-control-plaintext"
											value="incluso" readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlDevolucaoContainer"><a class="blue" href="javascript: logField('TabPropostaService','vlDevolucaoContainer');"><strong>Devolução Container</strong></a></label>
  <input type="text" class="form-control" id="vlDevolucaoContainer" name="vlDevolucaoContainer"  th:field="*{vlDevolucaoContainer}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAdvalorem"><a class="blue"
											href="javascript: logField('TabPropostaService','vlAdvalorem');"><strong>Advalorem</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="vlAdvalorem" name="vlAdvalorem" th:field="*{vlAdvalorem}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlItr"><a class="blue" href="javascript: logField('TabPropostaService','vlItr');"><strong>I.T.R</strong></a></label>
  <input type="text" class="form-control" id="vlItr" name="vlItr"  th:field="*{vlItr}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlOutros"><a class="blue" href="javascript: logField('TabPropostaService','vlOutros');"><strong>Outros</strong></a></label>
  <input type="text" class="form-control" id="vlOutros" name="vlOutros"  th:field="*{vlOutros}"/>
</div>
</div>  -->

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlDescarga"><a class="blue" href="javascript: logField('TabPropostaService','vlDescarga');"><strong>Descarga</strong></a></label>
  <input type="text" class="form-control" id="vlDescarga" name="vlDescarga"  th:field="*{vlDescarga}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlEscolta"><a class="blue"
											href="javascript: logField('TabPropostaService','vlEscolta');"><strong>Escolta</strong></a></label>
										<input type="text" class="form-control-plaintext"
											value="caso ocorra" readonly="readonly" />
									</div>
								</div>
								
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAjudante"><a class="blue"
											href="javascript: logField('TabPropostaService','vlAjudante');"><strong>Ajudante</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="vlAjudante" name="vlAjudante" th:field="*{vlAjudante}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlAjudante"><a class="blue" href="javascript: logField('TabPropostaService','vlAjudante');"><strong>Ajudante</strong></a></label>
  <input type="text" class="form-control" id="vlAjudante" name="vlAjudante"  th:field="*{vlAjudante}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<!-- 
<div class="col-sm-2">
<div class="form-group">
  <label for="vlImoAdesivagem"><a class="blue" href="javascript: logField('TabPropostaService','vlImoAdesivagem');"><strong>IMO-Adesivagem</strong></a></label>
  <input type="text" class="form-control" id="vlImoAdesivagem" name="vlImoAdesivagem"  th:field="*{vlImoAdesivagem}"/>
</div>
</div> -->

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlSubtotal"><a class="blue"
											href="javascript: logField('TabPropostaService','vlSubtotal');"><strong>Subtotal</strong></a></label>
										<input type="text" class="form-control-plaintext"
											id="vlSubtotal" name="vlSubtotal" th:field="*{vlSubtotal}"
											readonly="readonly" />
									</div>
								</div>
							</div>
						</div>
					</div>

					<div class="card">
						<div class="card-body">
							<div class="row">
								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlBaseIcms"><a class="blue"
											href="javascript: logField('TabPropostaService','vlBaseIcms');"><strong>Vl.Base
													ICMS</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlBaseIcms" name="vlBaseIcms" th:field="*{vlBaseIcms}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlAliqIcms"><a class="blue"
											href="javascript: logField('TabPropostaService','vlAliqIcms');"><strong>Vl.
													Aliq ICMS</strong></a></label> <input type="text" class="form-control-plaintext"
											id="vlAliqIcms" name="vlAliqIcms" th:field="*{vlAliqIcms}"
											readonly="readonly" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlIcms"><a class="blue"
											href="javascript: logField('TabPropostaService','vlIcms');"><strong>Vl.ICMS</strong></a></label>
										<input type="text" class="form-control-plaintext" id="vlIcms"
											name="vlIcms" th:field="*{vlIcms}" readonly="readonly" />
									</div>
								</div>


							</div>



						</div>
					</div>
					<div class="card" th:if="*{vlFrete} != null">
						<div class="card-body">

							<h5 style="padding-top: 1px" class="blue bold">Validação
								dados da Desova</h5>

							<div class="card">
								<div class="card-body">
									<div class="row">

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlComprimento"><a class="blue"
													href="javascript: logField('TabPropostaService','vlComprimento');"><strong>Comprimento</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlComprimento" name="vlComprimento"
													th:field="*{vlComprimento}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlAltura"><a class="blue"
													href="javascript: logField('TabPropostaService','vlAltura');"><strong>Altura</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlAltura" name="vlAltura" th:field="*{vlAltura}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlLargura"><a class="blue"
													href="javascript: logField('TabPropostaService','vlLargura');"><strong>Largura</strong></a></label>
												<input type="text" class="form-control-plaintext"
													id="vlLargura" name="vlLargura" th:field="*{vlLargura}"
													readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlM3Pack"><a class="blue"
													href="javascript: logField('TabPropostaService','vlM3Pack');"><strong>M3
															PackingList</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlM3Pack"
													name="vlM3Pack" th:field="*{vlM3Pack}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlPesoExtratoDesova"><a class="blue"
													href="javascript: logField('TabPropostaService','vlPesoExtratoDesova');"><strong>Peso
															Extrato Desova</strong></a></label> <input type="text"
													class="form-control-plaintext" id="vlPesoExtratoDesova"
													name="vlPesoExtratoDesova"
													th:field="*{vlPesoExtratoDesova}" readonly="readonly" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="vlMercadoriaInvoice"><a class="blue"
													href="javascript: logField('TabPropostaService','vlMercadoriaInvoice');"><strong>Mercadoria
															Invoice</strong></a></label> <input type="text" class="form-control-plaintext"
													id="vlMercadoriaInvoice" name="vlMercadoriaInvoice"
													th:field="*{vlMercadoriaInvoice}" readonly="readonly" />
											</div>
										</div>




									</div>
								</div>
							</div>
						</div>
					</div>


				</section>

				<!-- 
            <section>
                <h2 style="text-align: center; color: #000; margin-bottom: 10px; font-size: 1.25rem;">Taxas adicionais</h2>
                <table class="table table-striped table-borderless table-hover table-responsive-sm">
                    <tbody>
                        <tr>
                            <td>1. Pedágio</td>
                            <td>Aplicado conforme legislação</td>
                        </tr>
                        <tr>
                            <td>2. Ad Valorem DTA (sobre valor da Mercadoria + imposto suspenso)</td>
                            <td>0,08%</td>
                        </tr>
                        <tr>
                            <td>2.1. Imposto Suspenso-Adicional sobre o valor da mercadoria.</td>
                            <td>50%</td>
                        </tr>
                        <tr>
                            <td>3.GRIS</td>
                            <td>Incluso</td>
                        </tr>
                        <tr>
                            <td>4. Emissão de DTA-por BL(cobrança por emissão de Nota Fiscal).</td>
                            <td>Incluso</td>
                        </tr>
                        <tr>
                            <td>4.1. Cancelamento de DTA</td>
                            <td>R$ 450,00</td>
                        </tr>
                        <tr>
                            <td>5. Taxa de Mdf-e</td>
                            <td>R$ 35,00</td>
                        </tr>
                        <tr>
                            <td>6. ICMS/ISS</td>
                            <td>Aplicado conforme legislação</td>
                        </tr>
                        <tr>
                            <td>7. Carga classificadas IMO, ANVISA</td>
                            <td>Será cobrado 30% do valor frete peso</td>
                        </tr>
                    </tbody>
                </table>
            </section>  -->

				<section>
					<h2
						style="text-align: center; color: #000; margin-bottom: 10px; font-size: 1.25rem;">Generalidades</h2>
					<table
						class="table table-striped table-borderless table-hover table-responsive-sm">
						<tbody>
							<tr>
								<td>Cargas sem possibilidades de remonte, fora de padrão
									e/ou frágeis deverão ser informadas no momento da cotação.</td>
								<td>Espaço usado + espaço inutilizado (devido ao não
									remonte) - m3 x 2</td>
							</tr>
							<tr>
								<td>Carga classificadas IMO, ANVISA</td>
								<td>Será cobrado 30% do valor frete peso</td>
							</tr>
							<tr>
								<td>Cancelamento de DTA</td>
								<td>R$ 250,00</td>
							</tr>
						</tbody>
					</table>
				</section>
				<section>
					<h3>
						<strong>SAÍDAS SEMANAIS: Contactar o seu terminal.</strong>
					</h3>

					<h3>
						<p class="red">
							<strong>Cargas com o perfil de dificuldades de manuseio,
								não remonte, comprimento fora do padrão e as cargas de veículos
								sobre rodas ( Ex: betoneira, empilhadeiras e etc) estão sujeitas
								a análise de frete exclusivo, bem como a negativação do embarque
								e ou transferência para uma nova saída.</strong>
						</p>
					</h3>
				</section>
				<section>
					<h3>1. Informações Complementares a serem fornecidas pelo
						cliente.</h3>
					<ul>
						<li>Programação dos transportes, informar com antecedência de
							24 horas.</li>
						<li>Informar as exigências e procedimentos de segurança, que
							por ventura seja exigido pela vossa empresa e inerentes ao
							produto, bem como, legislações, regulamentações locais critérios
							específicos.</li>
						<li>As incompatibilidades dos produtos da ANVISA, produto
							químico, entre outras, deverá ser obrigações de informação do
							contratante.</li>
						<li>Fornecer as fichas de informações de segurança de
							produtos químicos (FISPQS) bem como as características do produto
							a ser transportado.</li>
					</ul>
				</section>
				<section>
					<h3>2. Seguro</h3>
					<p>As mercadorias encontram-se seguradas através da Seguradora
						Tokio Marine de apólice RCTR-C 5400000010464 e RCF-DC
						5500000003758, para danos motivados por acidentes com o veículo
						durante o transporte. Em caso de acidente com veículo
						transportador, gerando avaria na mercadoria transportada ou por
						roubo ou por assalto, valor ressarcido pela Cia de seguros será o
						valor declarado na nota fiscal.</p>

					<p>Para os casos de transporte de mercadorias destinadas à
						exportação e ou importação em que os adicionais por impostos
						suspensos não estejam identificados em nota fiscal à liquidação
						será pelo valor declarado na nota fiscal. O contratante fica
						obrigado a anexar no corpo da nota fiscal o valor para efeito de
						seguro e assim o contratante receberá pelo valor da mercadoria
						mais os impostos.</p>
				</section>
				<section>
					<h3>3. Vigência</h3>
					<p>40 dias a contar da confirmação da mudança do Status de
						COTAÇÃO para PROPOSTA.</p>
				</section>
				<section>
					<h3>4. Condições de Faturamento</h3>
					<p>07 dias a partir da emissão do CT-e.</p>
				</section>
				<section>
					<h3>5. Condições Gerais</h3>
					<ul>
						<li>Nosso limite máximo de garantia para bens e/ou
							mercadorias: <span class="bolder">R$ 1.000.000,00</span> (um
							milhão de reais), acima desse valor a nossa seguradora exige com
							prazo de 48 horas de antecedência um e-mail solicitando a
							liberação desse transporte, sendo liberado mediante uma equipe de
							escolta até o destino, o valor dessa escolta será repassado ao
							contratante. Importante equipe de vendas ter uma cópia da nossa
							apólice para ter conhecimentos das mercadorias excluídas.
						</li>
						<li>Transporte em regime de DTA para efeito de garantia de
							impostos suspensos, em caso de sinistro, será acrescido ao valor
							da mercadoria 50% (Ex : valor da mercadoria R$100.000,00- valor
							averbado R$150.000,00).</li>
						<li>Para os casos de transporte de mercadorias destinadas a
							importação em que os adicionais por impostos suspensos não
							estejam identificados em nota fiscal, a liquidação será pelo
							valor declarado na fatura comercial e ou valores informados na
							geração da DTA.</li>
						<li>No caso da contratada, sofrer/receber, qualquer multa e
							infrações federais, estaduais ou municipais por irregularidade na
							documentação emitida pela contratante, ou falta de documentos
							regular para o transporte, será debitada da contratante, o valor
							correspondente aquela imposição, acrescido de todos os impostos e
							custos.</li>
						<li>Em caso de erros decorrentes por parte do
							remetente/destinatário por conta da emissão incorreta de notas
							fiscais e outros documentos à AMALOG não irá se responsabilizar
							por eventuais custos administrativos e judiciais, mesmo de
							coobrigação, devendo ser ressarcida por todo custo pertinente a
							este.</li>
						<li>Cargas que tenham distribuição de peso interno não
							homogêneo, e que por esse motivo venham a ser multadas na
							balança, terão suas multas repassadas ao cliente.</li>
						<li>A programação de carga deverá ser feita em horário
							comercial (seg. a sex., das 08/17h).</li>
					</ul>
				</section>
				<section>
					<ul style="margin-left: 0">
						<li style="list-style: none;">
							<h5 class="red" style="margin-bottom: 20px;">Cargas ANVISA</h5>
							<p>Cargas com anuência ANVISA serão analisadas e carregadas
								respeitando a compatibilidade exigida de acordo com a
								legislação.</p>
							<p>Em caso de incompatibilidade deverá ser tratado como frete
								exclusivo.</p>
						</li>
						<li style="list-style: none;">
							<h5 class="red" style="margin-bottom: 20px;">Cargas IMO</h5>
							<p>Conforme Decreto Federal 96044/88 Art. 22 torna-se
								obrigatório ao Importador o envio da FISPIQ Declação IMO
								originais de acordo com a ABNT NBR 7503 e ANTT 5232.</p>
						</li>
						<li style="list-style: none;">
							<h5 class="red" style="margin-bottom: 20px;">Informação
								importante</h5>
							<p>Conforme legislação vigente para transporte terrestre de
								produtos perigosos, em especial Resolução ANTT</p>
							<p style="margin-bottom: 40px;">5.232/2016 e ABNT NBR 14.619
								ou versão posterior e vigente, cargas perigosas que tenham
								incompatibilidade com outras cargas no carregamento serão
								excluídas automaticamente, podendo o cliente optar por aguardar
								a próxima saída mediante a nova verificação de compatibilidade
								ou arcar com custo de frete exclusivo de modo que os riscos
								sejam minimizados durante o transporte de produtos quimicamente
								incompatíveis.</p>
						</li>
					</ul>
				</section>
				<section class="row align-items-center"
					style="padding-bottom: 40px; border-top: 1px solid #eaeaea;">
					<div class="col-md-3">
						<img class="img-fluid" src="/assets/img/amalog-logotipo.png" />
					</div>
					<div class="col-md-3"></div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">Telefone</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3219.1571</p>
						<p style="margin-bottom: 0; color: #4285f4;">13 3216.1315</p>
					</div>
					<div class="col-md-3 text-right">
						<p style="margin-bottom: 0" class="bolder black">E-mail</p>
						<p style="margin-bottom: 0; color: #4285f4;">suporte@amalog.com.br</p>
						<p style="margin-bottom: 0; color: #4285f4;">atendimento@amalog.com.br</p>

					</div>
				</section>
			</div>
		</section>

		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
			integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
			crossorigin="anonymous"></script>
		<script
			src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
			integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
			integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
			crossorigin="anonymous"></script>
		<!-- Carousel -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
	</form>
</body>

</html>