<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroPropostaLogBoletoObj" method="get" th:action="@{/propostalogboleto}" th:object="${tabFiltroPropostaLogBoletoObj}" >
		<div class="row"> 

<!-- INPUT TEXT -->
<div class="col-sm-2">
<div class="form-group">
  <label for="cdPropostaFiltro" class="blue"><strong>Proposta</strong></label>
  <input type="text" class="form-control" id="cdPropostaFiltro" name="cdPropostaFiltro"  th:field="*{cdPropostaFiltro}"/>
</div>
</div>


<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Log Boletos</h4>  
</div>  
<a href="/propostalogboleto/novo" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Proposta </th> 
                 <th class="bold disabled-sorting"> Dt.Envio </th> 
                 <th class="bold disabled-sorting"> Dt.Vencto </th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}"> 
                 <td class="blue" th:text="${listdados.cdProposta}"> cdProposta </td> 
                 <td class="blue" th:text="${{listdados.dtEnvio}}"> dtEnvio </td> 
                 <td class="blue" th:text="${{listdados.dtVencto}}"> dtVencto </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

	var txEdit = /*[[${txEdit}]]*/; 
 	if (txEdit != null) { 
	  $('#propostalogboleto').modal('show'); 
 	} 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 


 });
 /*]]>*/ 
</script> 
</section>
</html>
