<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="row">

			<div class="col-md-4" th:if="${not #lists.isEmpty(listUploadOK)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Documentos Upload OK - Ag.Analise</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listUploadOK}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/propostaltl/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaDoctosPendentes)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Propostas
								com documentos pendentes</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listPropostaDoctosPendentes}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/propostaltl/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listUploadOKReconferencia)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Documentos Upload OK - Ag.Reconferência</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listUploadOKReconferencia}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/propostaltl/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			
			
			<div class="col-md-5" th:if="${not #lists.isEmpty(listAgDta)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Processos OK!
								</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagdta"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Dt.Liberação</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listAgDta}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${{listdados.dtLiberacaoDocumentos}}" th:onclick="|javascript: openWindowSimple('/propostaltl/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigemLtl}" th:onclick="|javascript: openWindowSimple('/propostaltl/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestinoLtl}">
										dtProposta</td>									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaFaturadasEmAberto)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Faturados - Ag. Pagamentos</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatablefaturadoemaberto"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Vencimento</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listPropostaFaturadasEmAberto}"
									th:onclick="|javascript: openWindowSimple('${listdados.txBoletoUrl}','_blank');|">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtBoletoVencto}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaFaturadasPagas)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Faturados - Pagos</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatablefaturadopagos"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Pagamento</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listPropostaFaturadasPagas}"
									th:onclick="|javascript: openWindowSimple('${listdados.txBoletoUrl}','_blank');|">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtBoletoPagto}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			


		</div>
	</div>

	<script>
		$(document).ready(function() {

			$('table.display').DataTable({
				"pagingType" : "simple_numbers",
				"ordering" : false,
				"scrollX" : true,
				"lengthMenu" : [ [ 10, 20, 30, -1 ], [ 10, 20, 30, "All" ] ],
				dom : 'Bfrtip',
				buttons : [],
				responsive : true,
				language : {
					search : "_INPUT_",					
					url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"

				}
			});
			var tableagdta = $('table.display').DataTable();

		});

		/*
		var myVar = setInterval(myTimer, 30000);

		function myTimer() {
			window.location.reload();
		}*/
	</script>


</section>



</html>