<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		
			<div class="col-md-12" th:if="${not #lists.isEmpty(listAgDta)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Aguardando
								Geração DTA</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagdta"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>	
									<th class="bold disabled-sorting">Origem</th>								
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">Dt.Liberação</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listAgDta}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
										<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>	
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>																			
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>		
									<td class="blue" th:text="${{listdados.dtLiberacaoDocumentos}}">
										dtProposta</td>																		
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaRegistro)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Registro</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagregistro"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>	
									<th class="bold disabled-sorting">Destino</th>																											
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.DTA</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaRegistro}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>										
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>											
									<td class="blue" th:text="${listdados.txNumetoDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaSolicitacao}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaParametrizacao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Parametrização</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagparametrizacao"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>	
									<th class="bold disabled-sorting">No.DTA</th>									
									<th class="bold disabled-sorting">Dt.Registro</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaParametrizacao}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>										
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>	
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>										
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>										
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaRegistro}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaDesembaraco)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Desembaraço</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagdesembaraco"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>	
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Carregamento</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaDesembaraco}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>												
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>											
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaCarregamento}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaCarregamento)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Carregamento</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagcarregamento"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>										
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Parametrização</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaCarregamento}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										txProposta</td>		
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>											
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaParametrizacao}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaInicioTransito)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Inicio Transito</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableaginiciotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Desembaraço</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaInicioTransito}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										txProposta</td>		
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>			
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaDesembaraco}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12" th:if="${not #lists.isEmpty(listAgDtaChegada)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Chegada Destino</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagchegada"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Inicio Transito</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaChegada}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>										
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										txProposta</td>												
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>										
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaInicioTransito}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12"
				th:if="${not #lists.isEmpty(listAgDtaConclusao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Aguardando Conclusão</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagconclusaotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Destino</th>									
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Chegada</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaConclusao}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>			
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaChegadaTransito}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-12" th:if="${not #lists.isEmpty(listDtaConclusao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA
								- Conclusão Transito</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableconclusaotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Cliente</th>
									<th class="bold disabled-sorting">Importador</th>
									<th class="bold disabled-sorting">Destino</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Conclusão</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listDtaConclusao}"
									>
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txCliente}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txImportador}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txDestino}">
										txProposta</td>			
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtDtaConclusaoTransito}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
	</div>

	<script>
		$(document).ready(function() {

			$('table.display').DataTable({
				"pagingType" : "simple_numbers",
				"ordering" : false,
				"scrollX" : true,
				"lengthMenu" : [ [ 10, 20, 30, -1 ], [ 10, 20, 30, "All" ] ],
				dom : 'Bfrtip',
				buttons : [],
				responsive : true,
				language : {
					search : "_INPUT_",					
					url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"

				}
			});
			var tableagdta = $('table.display').DataTable();

		});

		
		
	</script>


<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	

	var myVar = setInterval(myTimer, 10000);

	function myTimer() {
		window.location.reload();
	}

 });
 /*]]>*/ 
</script> 

</section>



</html>