<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">


	<div class="content" style="min-height: 530px">

		<div class="row">

			<div class="col-md-4" th:if="${not #lists.isEmpty(listUploadOK)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Documentos Upload OK - Ag.Analise</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listUploadOK}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaDoctosPendentes)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Propostas
								com documentos pendentes</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listPropostaDoctosPendentes}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listUploadOKReconferencia)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Documentos Upload OK - Ag.Reconferência</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listUploadOKReconferencia}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listDoctosAceitosSemDesistenciaVistoria)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Ag. Desistência de Vistoria</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="" class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listDoctosAceitosSemDesistenciaVistoria}">
									<td class="blue" th:text="${listdados.txProposta}" >
										txProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listAgDta)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Aguardando
								Geração DTA/DAT</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagdta"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">Dt.Liberação</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer" th:each="listdados : ${listAgDta}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${{listdados.dtLiberacaoDocumentos}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>									
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaRegistro)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Aguardando Registro</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagregistro"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.DTA/DAT</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaRegistro}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumetoDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaSolicitacao}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaParametrizacao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Parametrização</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagparametrizacao"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Registro</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaParametrizacao}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaRegistro}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaDesembaraco)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Desembaraço</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagdesembaraco"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaDesembaraco}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaCarregamento}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>										
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaCarregamento)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Carregamento</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagcarregamento"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Tipo Carregamento</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaCarregamento}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txTipoCarregamento}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaInicioTransito)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Inicio Transito</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableaginiciotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Desembaraço</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaInicioTransito}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaDesembaraco}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4" th:if="${not #lists.isEmpty(listAgDtaChegada)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Chegada Destino</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagchegada"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Inicio Transito</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaChegada}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaInicioTransito}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4"
				th:if="${not #lists.isEmpty(listAgDtaConclusao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Ag. Conclusão</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableagconclusaotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Chegada</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listAgDtaConclusao}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${{listdados.dtDtaChegadaTransito}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>

			<div class="col-md-4" th:if="${not #lists.isEmpty(listDtaConclusao)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">DTA/DAT
								- Conclusão Transito</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatableconclusaotransito"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA/DAT</th>
									<th class="bold disabled-sorting">Dt.Conclusão</th>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Destino</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listDtaConclusao}">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtDtaConclusaoTransito}}" th:onclick="|javascript: openWindowSimple('/proposta/consultar/${listdados.cdProposta}','_blank');|">
										dtProposta</td>
									<td class="blue" th:text="${listdados.txOrigem}">
										dtProposta</td>	
									<td class="blue" th:text="${listdados.txDestino}">
										dtProposta</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>


			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaFaturadasEmAberto)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Faturados - Ag. Pagamentos</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatablefaturadoemaberto"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Vencimento</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listPropostaFaturadasEmAberto}"
									th:onclick="|javascript: openWindowSimple('${listdados.txBoletoUrl}','_blank');|">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtBoletoVencto}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			
			<div class="col-md-4" th:if="${not #lists.isEmpty(listPropostaFaturadasPagas)}">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Faturados - Pagos</h4>
						</div>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatablefaturadopagos"
							class="table display table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Proposta</th>
									<th class="bold disabled-sorting">No.DTA</th>
									<th class="bold disabled-sorting">Dt.Pagamento</th>
								</tr>
							</thead>
							<tbody>
								<tr style="Cursor: pointer"
									th:each="listdados : ${listPropostaFaturadasPagas}"
									th:onclick="|javascript: openWindowSimple('${listdados.txBoletoUrl}','_blank');|">
									<td class="blue" th:text="${listdados.txProposta}">
										txProposta</td>
									<td class="blue" th:text="${listdados.txNumeroDta}">
										dtProposta</td>
									<td class="blue"
										th:text="${{listdados.dtBoletoPagto}}">
										dtProposta</td>
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
			


		</div>
	</div>

	<script>
		$(document).ready(function() {

			$('table.display').DataTable({
				"pagingType" : "simple_numbers",
				"ordering" : false,
				"scrollX" : true,
				"lengthMenu" : [ [ 10, 20, 30, -1 ], [ 10, 20, 30, "All" ] ],
				dom : 'Bfrtip',
				buttons : [],
				responsive : true,
				language : {
					search : "_INPUT_",					
					url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"

				}
			});
			var tableagdta = $('table.display').DataTable();

		});

		/*
		var myVar = setInterval(myTimer, 30000);

		function myTimer() {
			window.location.reload();
		}*/
	</script>


</section>



</html>