<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroClienteGrupoAcessoObj" method="get" th:action="@{/clientegrupoacesso}" th:object="${tabFiltroClienteGrupoAcessoObj}" >
		<div class="row"> 

<!-- SELECT -->
<div class="col-sm-4">
 <div class="form-group">
	<label for="cdClienteFiltro" class="blue"><strong>Cliente</strong></label>
	 <select class="custom-select blue" id="cdClienteFiltro" th:field="*{cdClienteFiltro}">
    <option value="">...</option>
    <option th:each="scdcliente : ${selectcdcliente}" th:value="${scdcliente.cdCliente}" th:text="${scdcliente.txCliente}"></option>
  </select>
 </div>
</div>


<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Grupos de Acesso do Cliente</h4>  
</div>  
<a th:href="|/clientegrupoacesso/novo/${cdCliente}|" id="idNovo" th:if="${cdCliente} != null">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Cód.Grupo Acesso </th> 
                 <th class="bold disabled-sorting"> Grupo Acesso </th> 
                 <th class="bold disabled-sorting"> Cliente Default? </th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/clientegrupoacesso/consultar}/${listdados.cdClienteGrupoAcesso}');|"> 
                 <td class="blue" th:text="${listdados.cdClienteGrupoAcesso}"> cdClienteGrupoAcesso </td> 
                 <td class="blue" th:text="${listdados.txGrupoAcesso}"> txGrupoAcesso </td> 
                  <td class="blue" th:text="${listdados.ckCliente} == 1 ? 'SIM' : 'NÃO'"> ckClinente </td>
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabClienteGrupoAcessoObj" method="post" th:action="@{/clientegrupoacesso}" th:object="${tabClienteGrupoAcessoObj}">
<div class="modal fade" id="clientegrupoacesso" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 

  <input type="hidden" class="form-control" id="cdClienteGrupoAcesso" name="cdClienteGrupoAcesso"  th:field="*{cdClienteGrupoAcesso}"/>
  <input type="hidden" class="form-control" id="cdCliente" name="cdCliente"  th:value="${cdCliente}"/>


<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="cdGrupoAcesso"><a class="blue" href="javascript: logField('TabClienteGrupoAcessoService','cdGrupoAcesso');"><strong>Grupo Acesso</strong></a></label>
	 <select class="custom-select" id="cdGrupoAcesso" th:field="*{cdGrupoAcesso}">
    <option value="">...</option>
    <option th:each="scdgrupoacesso : ${selectcdgrupoacesso}" th:value="${scdgrupoacesso.cdGrupoAcesso}" th:text="${scdgrupoacesso.txGrupoAcesso}"></option>
  </select>
 </div>
</div>

<!-- SELECT -->
<div class="col-sm-2">
 <div class="form-group">
	<label for="ckCliente"><a class="blue" href="javascript: logField('TabClienteGrupoAcessoService','ckCliente');"><strong>Cliente?</strong></a></label>
	 <select class="custom-select" id="ckCliente" th:field="*{ckCliente}">
    <option value="">...</option>
    <option value="2">NÃO</option>
    <option value="1">SIM</option>
  </select>
 </div>
</div>

</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/clientegrupoacesso/gravarmodal}', '@{/clientegrupoacesso}', '#clientegrupoacesso', '#tabClienteGrupoAcessoObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_",  
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
   
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#clientegrupoacesso').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script> 
</section>
</html>
