<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 

<div class="card"> 
   
   <div class="card-body">
   
      <h3 style="padding-top: 10px" class="blue bold">Você não tem permissão para acessar esse Módulo</h3>
   
   		<h5 style="padding-top: 10px" class="blue bold"
								th:text="${txPermissaoNegada}">Permissão Negada</h5>
   
   </div>
   
   </div> 

</div>

   


</section>
</html>
