<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">

		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Origem</h4>
						</div>
						<a href="/origemltl/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Origem</th>
									<th class="bold disabled-sorting">Ativo</th>
									<th class="bold disabled-sorting">Vl.Importação</th>
									<th class="bold disabled-sorting">Vl.Exportação</th>
									<th class="bold disabled-sorting">Rota Amalog?</th>
									<th class="bold disabled-sorting">Qtde Dias</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/origemltl/consultar}/${listdados.cdOrigemLtl}');|">
									<td class="blue" th:text="${listdados.txOrigemLtl}">txOrigem
									</td>
									<td class="blue"
										th:text="${listdados.ckAtivo} == 1 ? 'SIM' : 'NÃO'">
										ckAtivo</td>
									<td class="blue" th:text="${{listdados.vlImportacao}}">
										vlDtaImportacao</td>
									<td class="blue" th:text="${{listdados.vlExportacao}}">
										vlExportacao</td>
									<td class="blue"
										th:text="${listdados.ckRotaAmalog} == 1 ? 'SIM' : 'NÃO'">
										ckRotaAmalog</td>
									<td class="blue" th:text="${listdados.vlQtdeDias}">
										vlDtaImportacao</td>

								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabOrigemLtlObj" method="post" th:action="@{/origemltl}"
		th:object="${tabOrigemLtlObj}">
		<div class="modal fade" id="origemltl" tabindex="-1" role="dialog"
			aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">

								<input type="hidden" id="cdOrigemLtl" name="cdOrigemLtl"
									th:field="*{cdOrigemLtl}" />

								<!-- INPUT TEXT -->
								<div class="col-sm-4">
									<div class="form-group">
										<label for="txOrigemLtl"><a class="blue"
											href="javascript: logField('TabOrigemService','txOrigemLtl');"><strong>Origem</strong></a></label>
										<input type="text" class="form-control" id="txOrigemLtl"
											name="txOrigemLtl" th:field="*{txOrigemLtl}" />
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckAtivo"><a class="blue"
											href="javascript: logField('TabOrigemService','ckAtivo');"><strong>Ativo?</strong></a></label>
										<select class="custom-select" id="ckAtivo"
											th:field="*{ckAtivo}">
											<option value="">...</option>
											<option value="0">NÃO</option>
											<option value="1">SIM</option>
										</select>
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlImportacao"><a class="blue"
											href="javascript: logField('TabOrigemService','vlImportacao');"><strong>Vl.Importação</strong></a></label>
										<input type="text" class="form-control textFloat"
											id="vlImportacao" name="vlImportacao"
											th:field="*{vlImportacao}" />
									</div>
								</div>

								<!-- INPUT TEXT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="vlExportacao"><a class="blue"
											href="javascript: logField('TabOrigemService','vlExportacao');"><strong>Vl.Exportação</strong></a></label>
										<input type="text" class="form-control textFloat"
											id="vlExportacao" name="vlExportacao"
											th:field="*{vlExportacao}" />
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckRotaAmalog"><a class="blue"
											href="javascript: logField('TabOrigemService','ckRotaAmalog');"><strong>Rota Amalog?</strong></a></label>
										<select class="custom-select" id="ckRotaAmalog"
											th:field="*{ckRotaAmalog}">
											<option value="">...</option>
											<option value="2">NÃO</option>
											<option value="1">SIM</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/origemltl/gravarmodal}', '@{/origemltl}', '#origemltl', '#tabOrigemLtlObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      searchPlaceholder: "Localizar", 
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
   
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#origemltl').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script>
</section>
</html>
