<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent">
	<div class="content" style="min-height: 530px">
		<div class="row">
			<div class="col-md-12" style="background-color: white;">
				<nav class="navbar blue">
					<fieldset class="col-sm-12 jtp-fieldset">
						<legend class="blue">Filtros</legend>
						<div class="panel panel-default">
							<div class="panel-body">
								<form id="tabFiltroDocumentosClassificacaoObj" method="get"
									th:action="@{/documentosclassificacao}"
									th:object="${tabFiltroDocumentosClassificacaoObj}">
									<div class="row">



										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txDoctoClassificacaoFiltro" class="blue"><strong>Classificação</strong></label>
												<input type="text" class="form-control"
													id="txDoctoClassificacaoFiltro"
													name="txDoctoClassificacaoFiltro"
													th:field="*{txDoctoClassificacaoFiltro}" />
											</div>
										</div>

										<button type="submit" class="btn btn-success float-right"
											style="margin: 25px 0px 0px; max-height: 37px;">
											<strong>Pesquisar</strong>
										</button>
									</div>
								</form>
							</div>
						</div>
					</fieldset>
				</nav>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				<div class="card">
					<div class="row">
						<div class="card-header">
							<h4 class="card-title blue bold" style="padding-left: 10px">Classificação de Documentos
								</h4>
						</div>
						<a href="/documentosclassificacao/novo" id="idNovo">
							<button type="button" class="btn btn-default float-right"
								style="margin: 25px 0px 0px; max-height: 37px; float: right;">
								<strong>Novo</strong>
							</button>
						</a>
					</div>
					<div class="card-body">
						<div class="toolbar"></div>
						<table id="datatable" class="table table-striped table-bordered"
							cellspacing="0" width="100%">
							<thead>
								<tr>
									<th class="bold disabled-sorting">Classificação</th>
									<th class="bold disabled-sorting">Tipo DTA</th>
									<th class="bold disabled-sorting">Validar ?</th>
								</tr>
							</thead>
							<tbody>
								<tr th:each="listdados : ${listadados}"
									th:onclick="|javascript: abrirtela('@{/documentosclassificacao/consultar}/${listdados.cdDoctoClassificacao}');|">
									<td class="blue" th:text="${listdados.txDoctoClassificacao}">
										txDoctoClassificacao</td>
									<td class="blue" th:text="${listdados.txTipoDta}">
										cdTipoDta</td>
									<td class="blue" th:text="${listdados.ckValidar} == 1 ? 'SIM' : 'NÃO'">
										ckValidar</td>	
								</tr>
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
	<form id="tabDocumentosClassificacaoObj" method="post"
		th:action="@{/documentosclassificacao}"
		th:object="${tabDocumentosClassificacaoObj}">
		<div class="modal fade" id="documentosclassificacao" tabindex="-1"
			role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="vertical-alignment-helper">
				<div class="modal-dialog vertical-align-center">
					<div class="modal-content">
						<div class="modal-header">
							<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4>
							<button type="button" class="close" data-dismiss="modal">
								<span aria-hidden="true">&times;</span><span class="sr-only">Close</span>
							</button>
						</div>
						<div class="modal-body">
							<div class="row">

								<input type="hidden" id="cdDoctoClassificacao"
									name="cdDoctoClassificacao" th:field="*{cdDoctoClassificacao}" />


								<!-- INPUT TEXT -->
								<div class="col-sm-6">
									<div class="form-group">
										<label for="txDoctoClassificacao"><a class="blue"
											href="javascript: logField('TabDocumentosClassificacaoService','txDoctoClassificacao');"><strong>Classificaçãoo</strong></a></label>
										<input type="text" class="form-control"
											id="txDoctoClassificacao" name="txDoctoClassificacao"
											th:field="*{txDoctoClassificacao}" />
									</div>
								</div>

								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="cdTipoDta"><a class="blue"
											href="javascript: logField('TabDocumentosClassificacaoService','cdTipoDta');"><strong>Tipo DTA</strong></a></label>
										<select class="custom-select" id="cdTipoDta"
											th:field="*{cdTipoDta}">
											<option value="">...</option>
											<option th:each="scdtipodta : ${selectcdtipocarregamento}"
												th:value="${scdtipodta.cdTipoCarregamento}"
												th:text="${scdtipodta.txTipoCarregamento}"></option>
										</select>
									</div>
								</div>
								
								<!-- SELECT -->
								<div class="col-sm-2">
									<div class="form-group">
										<label for="ckValidar"><a class="blue"
											href="javascript: logField('TabDocumentosClassificacaoService','ckValidar');"><strong>Validar ?</strong></a></label>
										<select class="custom-select" id="ckValidar"
											th:field="*{ckValidar}">
											<option value="">...</option>
											<option value="2">NÃO</option>
											<option value="1">SIM</option>
										</select>
									</div>
								</div>

							</div>
						</div>
						<div class="modal-footer">
							<button type="button" id="btnGravarModal"
								class="btn btn-primary col-sm-2"
								th:onclick="|javascript: gravarModal('@{/documentosclassificacao/gravarmodal}', '@{/documentosclassificacao}', '#documentosclassificacao', '#tabDocumentosClassificacaoObj');|">
								<strong>Gravar</strong>
							</button>
							<button type="button" class="btn btn-default"
								data-dismiss="modal">
								<strong>Sair</strong>
							</button>
						</div>
					</div>
				</div>
			</div>
		</div>
	</form>
	<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_",       
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script>
	<!-- Script JS -->
	<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
     
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#documentosclassificacao').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 



 });
 /*]]>*/ 
</script>
</section>
</html>
