<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
  xmlns:th="http://www.thymeleaf.org"
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  layout:decorator="layoutdefault/layoutdefault">

<section layout:fragment="pagecontent"> 
<div class="content" style="min-height: 530px">	 
   <div class="row">  
      <div class="col-md-12" style="background-color: white;">  
	<nav class="navbar blue">  
<fieldset class="col-sm-12 jtp-fieldset">  
<legend class="blue">Filtros</legend>  
<div class="panel panel-default">  
	<div class="panel-body">  
      <form id="tabFiltroClienteObj" method="get" th:action="@{/cliente}" th:object="${tabFiltroClienteObj}" >
		<div class="row"> 

<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txClienteFiltro" class="blue"><strong>Cliente</strong></label>
  <input type="text" class="form-control" id="txClienteFiltro" name="txClienteFiltro"  th:field="*{txClienteFiltro}"/>
</div>
</div>

<button type="submit" class="btn btn-success float-right" style="margin: 25px 0px 0px; max-height: 37px;"> 
	<strong>Pesquisar</strong> 
</button> 
</div> 
</form> 
</div> 
</div> 
</fieldset> 
</nav> 
 </div> 
</div> 
<div class="row"> 
 <div class="col-md-12"> 
   <div class="card"> 
<div class="row"> 
<div class="card-header"> 
   <h4 class="card-title blue bold" style="padding-left: 10px">Clientes</h4>  
</div>  
<a href="/cliente/novo" id="idNovo">  
<button type="button"  class="btn btn-default float-right" style="margin: 25px 0px 0px; max-height: 37px; float: right;" >  
<strong>Novo</strong> 
</button> 
</a> 
</div>  
     <div class="card-body"> 
       <div class="toolbar"> 
      </div> 
       <table id="datatable" class="table table-striped table-bordered" cellspacing="0" width="100%">  
        <thead>  
          <tr> 
                 <th class="bold disabled-sorting"> Cód.Cliente </th> 
                 <th class="bold disabled-sorting"> Cliente </th> 
                 <th class="bold disabled-sorting"> CNPJ </th> 
 </tr> 
  </thead> 
  <tbody> 
				 <tr th:each="listdados : ${listadados}" th:onclick="|javascript: abrirtela('@{/cliente/consultar}/${listdados.cdCliente}');|"> 
                 <td class="blue" th:text="${listdados.cdCliente}"> cdAgente </td> 
                 <td class="blue" th:text="${listdados.txCliente}"> txCliente </td> 
                 <td class="blue" th:text="${listdados.txCnpj}"> txCnpj </td> 
               </tr> 
             </tbody> 
</table>
</div> 
</div> 
</div> 
</div> 
</div> 
<form id="tabClienteObj" method="post" th:action="@{/cliente}" th:object="${tabClienteObj}">
<div class="modal fade" id="cliente" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel" aria-hidden="true"> 
		<div class="vertical-alignment-helper"> 
			<div class="modal-dialog vertical-align-center"> 
				<div class="modal-content"> 
					<div class="modal-header"> 
						<h4 class="modal-title" id="myModalLabel" th:text="${pathtela}"></h4> 
						<button type="button" class="close" data-dismiss="modal">
							<span aria-hidden="true">&times;</span><span 
								class="sr-only">Close</span> 
						</button> 
					</div> 
					<div class="modal-body"> 
					<div class="row"> 
  <input type="hidden" class="form-control" id="cdCliente" name="cdCliente"  th:field="*{cdCliente}"/>


<!-- INPUT TEXT -->
<div class="col-sm-6">
<div class="form-group">
  <label for="txCliente"><a class="blue" href="javascript: logField('TabClienteService','txCliente');"><strong>Agente</strong></a></label>
  <input type="text" class="form-control" id="txCliente" name="txCliente"  th:field="*{txCliente}"/>
</div>
</div>

<!-- INPUT TEXT -->
<div class="col-sm-4">
<div class="form-group">
  <label for="txCnpj"><a class="blue" href="javascript: logField('TabClienteService','txCnpj');"><strong>CNPJ</strong></a></label>
  <input type="text" class="form-control" id="txCnpj" name="txCnpj"  th:field="*{txCnpj}"/>
</div>
</div>


</div> 
</div> 
	<div class="modal-footer"> 
		<button type="button" id="btnGravarModal" class="btn btn-primary col-sm-2"  
			th:onclick="|javascript: gravarModal('@{/cliente/gravarmodal}', '@{/cliente}', '#cliente', '#tabClienteObj');|">  
			<strong>Gravar</strong> 
		</button>  
		<button type="button" class="btn btn-default"  
			data-dismiss="modal">  
			<strong>Sair</strong>  
		</button>  
	</div>  
</div> 
</div>  
</div>  
</div>  
</form>  
<script> 
$(document).ready(function() { 
 var printCounter = 0;  
  $('#datatable').DataTable({  
    "pagingType": "full_numbers", 
    "ordering": false, 
    "scrollX": true, 
    "lengthMenu": [ 
      [100, 200, 300, -1], 
      [100, 200, 300, "All"] 
    ], 
    dom: 'Bfrtip', 
    buttons:  [ 
        'copy', 
        { 
            extend: 'excel', 
            messageTop: 'Titulo Excel.' 
        }, 
        { 
            extend: 'pdf', 
            messageBottom: null 
        }, 
        { 
            extend: 'print', 
            messageTop: function () { 
                printCounter++;	
         if ( printCounter === 1 ) { 
                    return 'Esta é a primeira vez que você imprime este documento.'; 
                } 
                else { 
                    return 'Você imprimiu este documento '+printCounter+' vezes'; 
			          } 
            }, 
            messageBottom: null 
        } 
			        ], 
    responsive: true, 
			        language: {  
      search: "_INPUT_", 
      url: "https://cdn.datatables.net/plug-ins/9dcbecd42ad/i18n/Portuguese.json"
    } 
}); 
 var table = $('#datatable').DataTable(); 
}); 
</script> 
<!-- Script JS --> 
<script th:inline="javascript"> 
 /*<![CDATA[*/	
  $(document).ready(function() {	
    var cdTipo = /*[[${tipoMensagem}]]*/ 
 jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);
   
 var txEdit = /*[[${txEdit}]]*/; 
 if (txEdit != null) { 
	 $('#cliente').modal('show'); 
 } 
//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 
	var pathUrl = /*[[@{/}]]*/; 




 });
 /*]]>*/ 
</script> 
</section>
</html>
