<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
<meta charset="utf-8" />
<link rel="apple-touch-icon" sizes="76x76"
	th:href="@{/assets/img/apple-icon.png}" />
<link rel="icon" type="image/png" th:href="@{/assets/img/favicon.png}" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
<title>Amalog</title>
<meta
	content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no'
	name='viewport' />
<!--     Fonts and icons     -->
<link
	href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200"
	rel="stylesheet" />
<link rel="stylesheet"
	href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
	integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr"
	crossorigin="anonymous" />
<!-- CSS Files -->
<link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" />
<link th:href="@{/assets/css/now-ui-dashboard.css?v=1.4.1}"
	rel="stylesheet" />
<!-- CSS Just for demo purpose, don't include it in your project -->
<link th:href="@{/assets/demo/demo.css}" rel="stylesheet" />
<link th:href="@{/assets/css/style.css}" rel="stylesheet" />
<link rel="stylesheet" th:href="@{/assets/css/easy-autocomplete.css}" />
<link rel="stylesheet"
	th:href="@{/assets/css/easy-autocomplete.themes.css}" />
<link rel="stylesheet" th:href="@{/assets/css/toastr.min.css}" />
<link rel="stylesheet" th:href="@{/assets/css/kc.fab.css}" />

<link rel="stylesheet"
	href="https://cdn.datatables.net/1.10.20/css/jquery.dataTables.min.css" />
<link rel="stylesheet"
	href="https://cdn.datatables.net/buttons/1.6.0/css/buttons.dataTables.min.css" />
<link
	href="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video-js.min.css"
	rel="stylesheet" />

<!-- <script th:src="@{/assets/js/core/jquery.min.js}"></script> -->
<script src="https://code.jquery.com/jquery-3.3.1.js"></script>



</head>

<body class=" sidebar-mini ">
	<div class="wrapper ">
		<div class="sidebar" data-color="blue"></div>
		<div class="main-panel" id="main-panel">

			<div class="container">
				<section class="row align-items-center">
					<div class="logo-container">
						<img src="/assets/img/amalog-simbologia-colorido.png" alt=""
							style="width: 100px; height: 100px" />
					</div>
				</section>
			</div>

			<div class="page-inner">
				<div class="page-section">
					<section id="base-style" class="card">
						<div class="card-body">
							<form id="tabColoaderDespachanteObj" method="post"
								th:action="@{/registrocoloader/gravar}" th:object="${tabColoaderDespachanteObj}">
								<fieldset>

									<h5 style="padding-top: 1px" class="blue bold">Cadastro do
										Coloader/Despachante</h5>

									<div class="row">
										<input type="hidden" id="cdColoader" name="cdColoader"
											th:field="*{cdColoader}" />


										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txNome"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txNome');"><strong>Razão
															Social</strong></a></label> <input type="text" class="form-control"
													id="txNome" name="txNome" th:field="*{txNome}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txNomesimples"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txNomesimples');"><strong>1o.
															Nome Empresa</strong></a></label> <input type="text" class="form-control"
													id="txNomesimples" name="txNomesimples"
													th:field="*{txNomesimples}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txEndereco"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txEndereco');"><strong>Endereço</strong></a></label>
												<input type="text" class="form-control" id="txEndereco"
													name="txEndereco" th:field="*{txEndereco}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txCidade"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txCidade');"><strong>Cidade</strong></a></label>
												<input type="text" class="form-control" id="txCidade"
													name="txCidade" th:field="*{txCidade}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txUf"><a class="blue"
													href="javascript: logField('TabPropostaService','txUf');"><strong>UF</strong></a></label>
												<select class="form-control" name="txUf" id="txUf"
													th:field="*{txUf}">
													<option value="">...</option>
													<option value="AC">Acre</option>
													<option value="AL">Alagoas</option>
													<option value="AP">Amapá</option>
													<option value="AM">Amazonas</option>
													<option value="BA">Bahia</option>
													<option value="CE">Ceará</option>
													<option value="DF">Distrito Federal</option>
													<option value="ES">Espírito Santo</option>
													<option value="GO">Goiás</option>
													<option value="MA">Maranhão</option>
													<option value="MT">Mato Grosso</option>
													<option value="MS">Mato Grosso do Sul</option>
													<option value="MG">Minas Gerais</option>
													<option value="PA">Pará</option>
													<option value="PB">Paraíba</option>
													<option value="PR">Paraná</option>
													<option value="PE">Pernambuco</option>
													<option value="PI">Piauí</option>
													<option value="RJ">Rio de Janeiro</option>
													<option value="RN">Rio Grande do Norte</option>
													<option value="RS">Rio Grande do Sul</option>
													<option value="RO">Rondônia</option>
													<option value="RR">Roraima</option>
													<option value="SC">Santa Catarina</option>
													<option value="SP">São Paulo</option>
													<option value="SE">Sergipe</option>
													<option value="TO">Tocantins</option>
												</select>


											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txCnpj"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txCnpj');"><strong>CNPJ</strong></a></label>
												<input type="text" class="form-control" id="txCnpj"
													name="txCnpj" th:field="*{txCnpj}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-2">
											<div class="form-group">
												<label for="txTelefone"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txTelefone');"><strong>Telefone</strong></a></label>
												<input type="text" class="form-control" id="txTelefone"
													name="txTelefone" th:field="*{txTelefone}" />
											</div>
										</div>
									</div>
									
									<h5 style="padding-top: 1px" class="blue bold">Email e Senha</h5>
									
									<div class="row">
									<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txEmail"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txEmail');"><strong>Email</strong></a></label>
												<input type="text" class="form-control" id="txEmail"
													name="txEmail" th:field="*{txEmail}" />
											</div>
										</div>
									<!-- INPUT TEXT -->
										<div class="col-sm-6">
											<div class="form-group">
												<label for="txConfEmail"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txConfEmail');"><strong>Confirmação Email</strong></a></label>
												<input type="text" class="form-control" id="txConfEmail"
													name="txConfEmail" th:field="*{txConfEmail}" />
											</div>
										</div>

										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txSenha"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txSenha');"><strong>Senha</strong></a></label>
												<input type="password" class="form-control" id="txSenha"
													name="txSenha" th:field="*{txSenha}" />
											</div>
										</div>
										<!-- INPUT TEXT -->
										<div class="col-sm-4">
											<div class="form-group">
												<label for="txConfSenha"><a class="blue"
													href="javascript: logField('TabColoaderDespachanteService','txConfSenha');"><strong>Confirmação Senha</strong></a></label>
												<input type="password" class="form-control" id="txConfSenha"
													name="txConfSenha" th:field="*{txConfSenha}" />
											</div>
										</div>
									</div>
									
									

									<div style="padding-left: 13px">
										<section>
											<a href="javascript: gravar('tabColoaderDespachanteObj');"
												id="linkGravar">
												<button type="button" class="btn menu-usuario">
													<i class="fas fa-save"></i>Gravar
												</button>
											</a>
										</section>
									</div>
								</fieldset>
							</form>
						</div>
					</section>
				</div>
			</div>






		</div>
	</div>
	<!--   Core JS Files   -->
	<script th:src="@{/assets/js/core/popper.min.js}"></script>
	<script th:src="@{/assets/js/core/bootstrap.min.js}"></script>
	<script th:src="@{/assets/js/plugins/perfect-scrollbar.js}"></script>
	<script th:src="@{/assets/js/plugins/moment.min.js}"></script>
	<!--  Plugin for Switches, full documentation here: http://www.jque.re/plugins/version3/bootstrap.switch/ -->
	<script th:src="@{/assets/js/plugins/bootstrap-switch.js}"></script>

	<!-- Forms Validations Plugin -->
	<script th:src="@{/assets/js/plugins/jquery.validate.min.js}"></script>
	<!--  Plugin for the Wizard, full documentation here: https://github.com/VinceG/twitter-bootstrap-wizard -->
	<script th:src="@{/assets/js/plugins/jquery.bootstrap-wizard.js}"></script>
	<!--	Plugin for Select, full documentation here: http://silviomoreto.github.io/bootstrap-select -->
	<script th:src="@{/assets/js/plugins/bootstrap-selectpicker.js}"></script>
	<!--  Plugin for the DateTimePicker, full documentation here: https://eonasdan.github.io/bootstrap-datetimepicker/ -->
	<script th:src="@{/assets/js/plugins/bootstrap-datetimepicker.js}"></script>
	<!--  DataTables.net Plugin, full documentation here: https://datatables.net/    -->
	<script th:src="@{/assets/js/plugins/jquery.dataTables.min.js}"></script>
	<!--	Plugin for Tags, full documentation here: https://github.com/bootstrap-tagsinput/bootstrap-tagsinputs  -->
	<script th:src="@{/assets/js/plugins/bootstrap-tagsinput.js}"></script>
	<!-- Plugin for Fileupload, full documentation here: http://www.jasny.net/bootstrap/javascript/#fileinput -->
	<script th:src="@{/assets/js/plugins/jasny-bootstrap.min.js}"></script>
	<!--  Full Calendar Plugin, full documentation here: https://github.com/fullcalendar/fullcalendar    -->
	<script th:src="@{/assets/js/plugins/fullcalendar.min.js}"></script>
	<!-- Vector Map plugin, full documentation here: http://jvectormap.com/documentation/ -->
	<script th:src="@{/assets/js/plugins/jquery-jvectormap.js}"></script>
	<!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
	<script th:src="@{/assets/js/plugins/nouislider.min.js}"></script>
	<!-- Chart JS -->
	<script th:src="@{/assets/js/plugins/chartjs.min.js}"></script>
	<!--  Notifications Plugin    -->
	<script th:src="@{/assets/js/plugins/bootstrap-notify.js}"></script>
	<!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
	<script th:src="@{/assets/js/now-ui-dashboard.min.js?v=1.4.1}"
		type="text/javascript"></script>
	<!-- Now Ui Dashboard DEMO methods, don't include it in your project! -->
	<script th:src="@{/assets/demo/demo.js}"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.6.0/js/dataTables.buttons.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/pdfmake.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.53/vfs_fonts.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.html5.min.js"></script>
	<script
		src="https://cdn.datatables.net/buttons/1.6.0/js/buttons.print.min.js"></script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/video.js/7.7.1/video.min.js"></script>

	<script th:src="@{/assets/js/jquery.easy-autocomplete.js}"></script>
	<script th:src="@{/assets/js/jtpautocompletesimple.js}"></script>
	<script th:src="@{/assets/js/toastr.min.js}"></script>
	<script th:src="@{/assets/js/jtploading.js}"></script>
	<script th:src="@{/assets/js/jquery.priceformat.min.js}"></script>
	<script th:src="@{/assets/js/jquery.maskMoney.min.js}"></script>
	<script th:src="@{/assets/js/kc.fab.js}"></script>
	<!--  Plugin for Sweet Alert -->
	<script th:src="@{/assets/js/plugins/sweetalert2.min.js}"></script>
	<script th:src="@{/assets/js/jtputil.js}"></script>
	<script th:src="@{/assets/js/jquery.maskedinput-1.1.4.pack.js}"></script>




	<script type="text/javascript">
		$(document).ready(
				function() {
					
					//waitingDialog.hide();
					hidePleaseWait();
					
				});
	</script>

	<script th:inline="javascript"> 
 /*<![CDATA[*/	  
	 
	 $(document).ready(function() {	
 	var cdTipo = /*[[${tipoMensagem}]]*/ 
 	jtpNotifySimple(/*[[${txMensagem}]]*/,cdTipo);
	jtpNotify(/*[[${listaErros}]]*/);

//Permissões 
	var listPermissaoBotao = /*[[${listPermissaoBotao}]]*/; 
	checkPermissaoBotao(listPermissaoBotao);

	var listPermissaoCampos = /*[[${listPermissaoCampos}]]*/; 
	checkPermissaoCampos(listPermissaoCampos); 

	//Service 
	var txService = /*[[${txService}]]*/; 
	analistaVirtual(txService); 

	var pathUrl = /*[[@{/}]]*/; 
	
	$("#txCnpj").mask("99.999.999/9999-99");
	$("#txTelefone").mask("(99)99999-9999");

	 });
 /*]]>*/ 
</script>


</body>

</html>
